{% macro formatAnswerWithNA(yesno, details) %}
  {% if yesno %}
    <div>{{yesno}}</div>
    <div>{{details}}</div>
  {% else %}
    Not applicable
  {% endif %}
{% endmacro %}

{% macro formatAnswer(yesno, details) %}
  <div>{{yesno}}</div>
  <div>{{details}}</div>
{% endmacro %}

{% macro formatAnswerNoDetails(yesno, details) %}
  {% if yesno and not details %}
    <div>{{yesno}}</div>
  {% else %}
    <div>{{yesno}}</div>
    <div>{{details}}</div>
  {% endif %}
{% endmacro %}

{% macro formatDetailsWithNA(yesno, details) %}
  {% if yesno %}
    <div>{{details}}</div>
  {% else %}
    Not applicable
  {% endif %}
{% endmacro %}
