{%- from "moj/components/alert/macro.njk" import mojAlert -%}

{% macro threeToFivePolicyChangeAlert() %}
  {% set alertContent %}
    <p class="govuk-!-margin-top-4">Due to a policy change, prisoners are now considered for open conditions when they’re within 5 years of their conditional release date (CRD).</p>
    <p>This means that when a prisoner’s CRD:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>is in the next 5 years, they must be reviewed every 6 months</li>
      <li>is 5 or more years away, they must be reviewed every 12 months</li>
    </ul>
    <p class="govuk-!-margin-bottom-2">Consider this when setting their next review date.</p>
  {% endset %}

  {{ mojAlert({
    variant: "information",
    title: "New policy change for setting review dates",
    showTitleAsHeading: true,
    dismissible: false,
    html: alertContent
  }) }}
{% endmacro %}
