{% extends "../formTemplate.html" %}

{% set greenButtonText = "Continue" %}

{% from "warning-text/macro.njk" import govukWarningText %}
{% from "../../macros/reviewSectionHeader.html" import reviewSectionHeader %}

{% block formItems %}

<div class="govuk-grid-row govuk-body-s">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Check your answers before you continue</h1>

    <hr>
    {{ reviewSectionHeader('Offending history','/form/ratings/offendingHistory/'+ data.details.bookingId) }}

    {% include "../../partials/warningOffendingHistory.html" %}


    <div class="govuk-form-group">
      <label class="govuk-label" for="historyQ1">
        Please record a summary of previous convictions, and any other information, from this offender's PNC record,
        which might be relevant to their categorisation
      </label>
      <div class="govuk-inset-text" id=historyQ1">{{ data.offendingHistory.previousConvictions }}</div>
    </div>

    <hr>
    {{ reviewSectionHeader('Security input','/form/ratings/securityInput/'+ data.details.bookingId) }}

    {% if data.socProfile.transferToSecurity %}
    {% set warningTextSecurity %}
    This offender was referred to security
    {% endset %}
    {% if warningTextSecurity %}
    <div>
      {{ govukWarningText({
      text: warningTextSecurity,
      iconFallbackText: "Warning",
      classes: "forms-warning-text"
      }) }}
    </div>
    {% endif %}
    {% endif %}

    <div class="govuk-form-group">
      <label class="govuk-label" for="securityQ1">
        Do you have reason to believe security input is needed?
      </label>
      <div class="govuk-body govuk-!-font-weight-bold" id=securityQ1">{{ data.securityInput.securityInputNeeded }}
      </div>
    </div>

    {% if data.securityInput.securityInputNeededText %}
    <div class="govuk-form-group">
      <div class="govuk-inset-text" id=securityQ1Extra">{{ data.securityInput.securityInputNeededText }}</div>
    </div>
    {% endif %}

    <hr>
    {{ reviewSectionHeader('Violence rating','/form/ratings/violenceRating/'+ data.details.bookingId) }}

    {% if data.violenceProfile.veryHighRiskViolentOffender %}
    <div>
      {{ govukWarningText({
      text: "Violent in custody Text TBC",
      iconFallbackText: "Warning",
      classes: "forms-warning-text warning-overrides"
      }) }}
    </div>
    {% endif %}

    <div class="govuk-form-group">
      <label class="govuk-label" for="violenceQ1">
        Is there any other evidence to suggest that the person poses a high risk of violence in custody?
      </label>
      <div class="govuk-body govuk-!-font-weight-bold" id="violenceQ1">{{ data.violenceRating.highRiskOfViolence }}
      </div>
    </div>

    {% if data.violenceRating.highRiskOfViolenceText %}
    <div class="govuk-form-group">
      <div class="govuk-inset-text" id="violenceQ1Text">{{ data.violenceRating.highRiskOfViolenceText }}</div>
    </div>
    {% endif %}

    <div class="govuk-form-group">
      <label class="govuk-label" for="violenceQ2">
        Is there any other evidence to indicate that the person represents a serious threat to control, good order
        or
        discipline?
      </label>
      <div class="govuk-body govuk-!-font-weight-bold" id="violenceQ2">{{ data.violenceRating.seriousThreat }}</div>
    </div>

    {% if data.violenceRating.seriousThreatText %}
    <div class="govuk-form-group">
      <div class="govuk-inset-text" id="violenceQ2Text">{{ data.violenceRating.seriousThreatText }}</div>
    </div>

    {% endif %}

    <hr>
    {{ reviewSectionHeader('Risk of escape','/form/ratings/escapeRating/'+ data.details.bookingId) }}

    {% if data.escapeProfile.onEscapeList %}
    {% set warningTextEscape %}
    This person is on the heightened / standard / escort e-list
    {% endset %}
    {% if warningTextEscape | trim %}
    <div>
      {{ govukWarningText({
      text: warningTextEscape,
      iconFallbackText: "Warning",
      classes: "forms-warning-text"
      }) }}
    </div>
    {% endif %}
    {% endif %}

    <div class="govuk-form-group">
      <label class="govuk-label" for="escapeQ1">
        Is the person facing further serious charges that warrant higher security?
      </label>
      <div class="govuk-body govuk-!-font-weight-bold" id=escapeQ1">{{ data.escapeRating.escapeFurtherCharges }}
      </div>
    </div>

    {% if data.escapeRating.escapeFurtherChargesText %}
    <div class="govuk-form-group">
      <div class="govuk-inset-text" id="escapeQ2Text">{{ data.escapeRating.escapeFurtherChargesText }}</div>
    </div>

    {% endif %}

    <hr>
    {{ reviewSectionHeader('Extremism rating','/form/ratings/extremismRating/'+ data.details.bookingId) }}


    {% if data.extremismProfile.increasedRisk %}
    <div>
      {{ govukWarningText({
      text: "There is data to indicate that this person has an increased risk of engaging in extremism",
      iconFallbackText: "Warning",
      classes: "forms-warning-text warning-overrides"
      }) }}
    </div>
    {% endif %}


    <div class="govuk-form-group">
      <label class="govuk-label" for="extQ1">
        Are there any previous offences under the Terrorism Act listed on the person's PNC record?
      </label>
      <div class="govuk-body govuk-!-font-weight-bold" id=extQ1">{{
        data.extremismRating.previousTerrorismOffences }}
      </div>
    </div>

    {% if data.extremismRating.previousTerrorismOffencesText %}
    <div class="govuk-form-group">
      <div class="govuk-inset-text" id="extText">{{ data.extremismRating.previousTerrorismOffencesText }}</div>
    </div>

    {% endif %}

    <hr>

  </div>
</div>


{% endblock %}
