{% extends "../../../partials/layout.html" %}
{% from "moj/components/interruption-card/macro.njk" import interruptionCard %}

{% block beforeContent %}

  {% block navigation %}
    {% include "../../../partials/breadcrumbPreviousRiskAssessments.html" %}
  {% endblock %}

  {% include "../../../partials/offenderBanner.html" %}

{% endblock %}

{% block content %}

  {% set pageTitle = "You must complete an OASys for this person" %}

  {% set primaryUrl = "/tasklistRecat/" + data.details.bookingId %}

  {% call interruptionCard({
    heading: "You must complete an OASys for this person",
    primaryAction: {
      text: "Go back to tasklist",
      href: primaryUrl
    }
    }) -%}
    <p>A prisoner serving a sentence or recall period of 10 months or more must have an up-to-date OASys.</p>
    <p>If they do not have a recent, full assessment, you'll need to create one.</p>
  {%- endcall %}

{% endblock %}
