  <h3>Referrals to security</h3>
  <table class="govuk-table" id="security">
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Manual</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">{{ security.manual }}</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Automatic</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">{{ security.auto }}</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Flagged</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">{{ security.flagged }}</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-font-weight-bold">Total</td>
      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-table__cell--numeric">{{ security.total }}</td>
    </tr>
    </tbody>
  </table>

  <h3>Average durations</h3>
  <table class="govuk-table" id="timeline">
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row ">
      <td class="govuk-table__cell">Assessment started to sent to security</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"> {{ timeline.fromStartToReferred | round(2)}} days</td>
    </tr>
    <tr class="govuk-table__row ">
      <td class="govuk-table__cell">Sent to security to security review complete</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"> {{ timeline.fromReferredToSecurityReviewed | round(2)}} days</td>
    </tr>
    <tr class="govuk-table__row ">
      <td class="govuk-table__cell">Security review complete to approval complete</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"> {{ timeline.fromSecurityReviewedToApproval | round(2)}} days</td>
    </tr>
    <tr class="govuk-table__row ">
      <td class="govuk-table__cell">Assessment started to approval complete</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"> {{ timeline.fromStartToApproval | round(2)}} days</td>
    </tr>
    </tbody>
  </table>

  <h3>Completion</h3>
  <table class="govuk-table" id="completion">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Completion</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Percentage</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Total</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row ">
      <td class="govuk-table__cell">Before due date</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">{{ (100 * onTime.onTime / onTime.total) | round(2) + '%' if onTime.total > 0 }}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">{{ onTime.onTime }}</td>
    </tr>
    <tr class="govuk-table__row ">
      <td class="govuk-table__cell">Late</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">{{ (100 * onTime.notOnTime / onTime.total) | round(2) + '%' if onTime.total > 0 }}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">{{ onTime.notOnTime }}</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-!-font-weight-bold">Total</td>
      <td class="govuk-table__cell govuk-table__cell--numeric"></td>
      <td class="govuk-table__cell govuk-!-font-weight-bold govuk-table__cell--numeric">{{ onTime.total }}</td>
    </tr>
    </tbody>
  </table>
