<!-- TO BE REMOVED after merging SI-288 -->

{% from "footer/macro.njk" import govukFooter %}

<div class="govuk-!-display-none-print">
  <div class="govuk-width-container">
    <div class="feedback-banner govuk-!-display-none-print govuk-width-container" data-test="feedback-banner">
      <a id="surveyLink"
         href=""
         class="govuk-link govuk-link--inverse govuk-!-font-size-16"
         target="_blank"
         rel="noopener noreferrer"
      >Give feedback on Digital Prison Services (opens in a new tab)</a>
    </div>
  </div>
</div>
<div class="govuk-!-display-none-print">
  {{ govukFooter({
    meta: {
      html: '
        <ul class="govuk-footer__inline-list">

          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="https://support.hmpps.service.justice.gov.uk/feedback-and-support">
              Get help
            </a>
          </li>

          <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/accessibility-statement">
              Accessibility statement
            </a>
          </li>

          <li class="govuk-footer__inline-list-item">
            <a id = "terms" class="govuk-footer__link" href="">
              Terms and conditions
            </a>
          </li>

        </ul>'
}
  }) }}
</div>
