{% set mainClasses = [mainClasses , 'govuk-body-m'] | join(" ")  %}
{% extends "template.njk" %}
{% from "footer/macro.njk" import govukFooter %}

{% block pageTitle %}Digital Categorisation Tool{% endblock %}

{% block head %}
  {% if googleAnalyticsKey | trim %}
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ googleAnalyticsKey }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ googleAnalyticsKey }}', {{ { title: '' } if googleAnalyticsOverrideTitle else {} }});
    </script>
  {% endif %}

<!--[if !IE 8]><!-->
<link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet" nonce="{{ cspNonce }}"/>
<!--<![endif]-->

<!--[if lt IE 9]>
<link href="/assets/stylesheets/application-ie8.css?{{ version }}" rel="stylesheet" nonce="{{ cspNonce }}"/>
<script src="/assets/js/html5shiv-3.7.3.min.js"></script>
<![endif]-->

  {% if featureFlag.dpsHeader or featureFlag.dpsFooter %}

    {% if feComponents.jsInclude %}
      {% for js in feComponents.jsIncludes %}
        <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
      {% endfor %}
    {% endif %}

    {% if feComponents.cssIncludes %}
      {% for css in feComponents.cssIncludes %}
        <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
      {% endfor %}
    {% endif %}

  {% endif %}

{% endblock %}

{% block header %}
  {% if featureFlag.dpsHeader %}

    {% if feComponents.header %}
      {{ feComponents.header | safe }}
    {% else %}
      {% include "./header.njk" %}
    {% endif %}

  {% else %}

    {% include "./headerDeprecated.html" %}

  {% endif %}

  {% include "./locationBar.html" %}
{% endblock %}

{% block footer %}
  {% if featureFlag.dpsFooter %}

    {% if feComponents.footer %}
      {{ feComponents.footer | safe }}
    {% else %}
      {% include "./footer.njk" %}
    {% endif %}

  {% else %}

    {% include "./footerDeprecated.html" %}

  {% endif %}

  {% include "./featureFlagStatus.njk" %}
{% endblock %}

{% block bodyEnd %}
{# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
<script src="/assets/all.js"></script>
<script nonce="{{ cspNonce }}">window.GOVUKFrontend.initAll();</script>
<script src="/assets/js/multirole-switcher.js"></script>

  {% if featureFlag.dpsFooter %}
    <script src="/assets/js/dps-footer-feedback-link-updater.js"></script>
  {% else %}
    <script nonce="{{ cspNonce }}">document.getElementById('terms').setAttribute("href", "{{ dpsHome }}content/terms-conditions");</script>
  {% endif %}

{% endblock %}
