{% set mainClasses = [mainClasses , 'govuk-body-m', 'govuk-!-margin-left-6'] | join(" ")  %}
{% extends "template.njk" %}
{% from "footer/macro.njk" import govukFooter %}

{% block head %}
  {% if googleAnalyticsKey %}
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ googleAnalyticsKey }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ googleAnalyticsKey }}');
    </script>
  {% endif %}

<!--[if !IE 8]><!-->
<link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
<!--<![endif]-->

<!--[if IE 8]>
<link href="/assets/all-ie8.css" rel="stylesheet"/>
<![endif]-->

<!--[if lt IE 9]>
<script src="/html5-shiv/html5shiv.js"></script>
<![endif]-->

{% endblock %}

{% block header %}
  {% include "./header.html" %}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      title: 'Support',
      items: [{text:'contact and feedback', href:'mailto:categorisation@justice.gov.uk'}]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
{# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
<script src="/assets/all.js"></script>
<script>window.GOVUKFrontend.initAll();</script>
{% endblock %}
