{% set mainClasses = [mainClasses , 'govuk-body-m'] | join(" ")  %}
{% extends "template.njk" %}
{% from "footer/macro.njk" import govukFooter %}

{% block pageTitle %}Digital Categorisation Tool{% endblock %}

{% block head %}
  {% if googleAnalyticsKey | trim %}
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ googleAnalyticsKey }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ googleAnalyticsKey }}');
    </script>
  {% endif %}

<!--[if !IE 8]><!-->
<link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
<!--<![endif]-->

<!--[if lt IE 9]>
<link href="/assets/stylesheets/application-ie8.css?{{ version }}" rel="stylesheet"/>
<script src="/assets/js/html5shiv-3.7.3.min.js"></script>
<![endif]-->

{% endblock %}

{% block header %}
  {% include "./header.html" %}
  {% include "./locationBar.html" %}
{% endblock %}

{% block footer %}
<div class="govuk-!-display-none-print">
  <div class="govuk-width-container">
    <div class="feedback-banner govuk-!-display-none-print govuk-width-container" data-test="feedback-banner">
      <a id="surveyLink"
         href=""
         class="govuk-link govuk-link--inverse govuk-!-font-size-16"
         target="_blank"
         rel="noopener noreferrer"
      >Give feedback on Digital Prison Services (opens in a new tab)</a>
    </div>
  </div>
</div>
<div class="govuk-!-display-none-print">
  {{ govukFooter({
    meta: {
      html: '
        <ul class="govuk-footer__inline-list">

          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="https://support.hmpps.service.justice.gov.uk/feedback-and-support">
              Get help
            </a>
          </li>

          <li class="govuk-footer__inline-list-item">
            <a id = "terms" class="govuk-footer__link" href="">
              Terms and conditions
            </a>
          </li>

        </ul>'
}
  }) }}
</div>
{% endblock %}

{% block bodyEnd %}
{# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
<script src="/assets/all.js"></script>
<script>window.GOVUKFrontend.initAll();</script>
<script>document.getElementById('surveyLink').setAttribute("href", "https://eu.surveymonkey.com/r/GYB8Y9Q?source=" + window.location.hostname + window.location.pathname);</script>
<script>document.getElementById('terms').setAttribute("href", "{{ dpsHome }}content/terms-conditions");</script>
{% endblock %}
