{% macro headerTitle(text) %}
<div class="govuk-grid-row">
  <p class="govuk-!-margin-bottom-1 govuk-!-margin-top-4">{{ text }}</p>
</div>
{% endmacro %}

{% macro headerValue(text, classes='') %}
<div class="govuk-grid-row">
  <p class="govuk-!-margin-top-1 govuk-!-font-weight-bold {{ classes }}">{{ text if text | length else '-' }}</p>
</div>
{% endmacro %}

{% set sentence = data.details.sentence %}
<div class="govuk-grid-row govuk-!-padding-left-3">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Prisoner details</h2>

  <div class="govuk-grid-column-one-third">
    {{ headerTitle('Name') }}
    <div class="govuk-grid-row">
      <a class="govuk-!-margin-top-1 govuk-!-font-weight-bold" target="_blank" href="{{ data.details.offenderNo | offenderLink }}">{{ data.details.displayName }}</a>
    </div>

    {{ headerTitle('NOMIS ID') }}
    {{ headerValue(data.details.offenderNo) }}

    {{ headerTitle('Date of birth') }}
    {{ headerValue(dateConverter(data.details.dateOfBirth)) }}

    {% if data.details.categoryCode %}
      {{ headerTitle('Current category') }}
      {% if data.details.categoryCode == 'U' or data.details.categoryCode == 'X' or data.details.categoryCode == 'Z' %}
        {% set codeDetails %}{{ data.details.categoryCode }} ({{ data.details.category }}){% endset %}
        {{ headerValue(codeDetails) }}
      {% else %}
        {% set codeDetails %} {{ catMappings(data.details.categoryCode) }} {% endset %}
        {{ headerValue(codeDetails) }}
      {% endif %}
    {% endif %}
  </div>
  <div class="govuk-grid-column-one-third">
    {{ headerTitle('Location') }}
    {{ headerValue(data.details.assignedLivingUnit.description, 'govuk-!-margin-bottom-1') }}
    {{ headerValue(data.details.assignedLivingUnit.agencyName) }}

    {{ headerTitle('Nationality') }}
    {% set nationality %}
      {% for profileInformation in data.details.profileInformation %}
        {% if profileInformation.type === 'NAT' %}
          {{ profileInformation.resultValue }}
        {% endif %}
      {% endfor %}
    {% endset %}
    {{ headerValue(nationality | trim) }}

    {{ headerTitle('Main offence') }}
    {% if data.details.offence | length == 0 %}
      {{ headerValue('-') }}
    {% else %}
      {% for offence in data.details.offence %}
        {{ headerValue(offence.offenceDescription) }}
      {% endfor %}
    {% endif %}
  </div>
  <div class="govuk-grid-column-one-third">
    {% if sentence.homeDetentionCurfewEligibilityDate %}
      {{ headerTitle('HDC Eligibility Date') }}
      {{ headerValue(dateConverter(sentence.homeDetentionCurfewEligibilityDate)) }}
    {% endif %}
    {% if sentence.automaticReleaseOverrideDate or sentence.automaticReleaseDate %}
      {{ headerTitle('Automatic Release Date') }}
      {{ headerValue(dateConverter(sentence.automaticReleaseOverrideDate or sentence.automaticReleaseDate)) }}
    {% endif %}
    {% if sentence.conditionalReleaseOverrideDate or sentence.conditionalReleaseDate %}
      {{ headerTitle('Conditional Release Date') }}
      {{ headerValue(dateConverter(sentence.conditionalReleaseOverrideDate or sentence.conditionalReleaseDate)) }}
    {% endif %}
    {% if sentence.paroleEligibilityDate %}
      {{ headerTitle('Parole Eligibility Date') }}
      {{ headerValue(dateConverter(sentence.paroleEligibilityDate)) }}
    {% endif %}
    {% if sentence.nonParoleOverrideDate or sentence.nonParoleDate %}
      {{ headerTitle('Non Parole Date') }}
      {{ headerValue(dateConverter(sentence.nonParoleOverrideDate or sentence.nonParoleDate)) }}
    {% endif %}
    {% if sentence.tariffDate %}
      {{ headerTitle('ISP Tariff End Date') }}
      {{ headerValue(dateConverter(sentence.tariffDate)) }}
        {# ISP means indeterminate sentenced prisoners - instead of a sentence length, they have a "tariff", which is the
        minimum amount of time their sentence is supposed to last for, so their tariff end date is the earliest date
        they could be released #}
    {% endif %}
    {% if sentence.licenceExpiryDate %}
      {{ headerTitle('Licence Expiry Date') }}
      {{ headerValue(dateConverter(sentence.licenceExpiryDate)) }}
    {% endif %}
    {% if sentence.sentenceExpiryDate %}
      {{ headerTitle('Sentence Expiry Date') }}
      {{ headerValue(dateConverter(sentence.sentenceExpiryDate)) }}
    {% endif %}
  </div>
</div>

{% if sentence.list | length > 0 %}
  {% if sentence.list | length > 1 %}
    <h2 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-4">Court-issued sentences</h2>
  {% else %}
    <h2 class="govuk-heading-m govuk-!-margin-bottom-4 govuk-!-margin-top-4">Court-issued sentence</h3>
  {% endif %}

    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <table class="govuk-table" id="sentences" >
          <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Line</th>
            <th class="govuk-table__header" scope="col">Start</th>
            <th class="govuk-table__header" scope="col">Length of sentence</th>
            <th class="govuk-table__header" scope="col">Consecutive to (line)</th>
            <th class="govuk-table__header" scope="col">Type</th>
          </tr>
          </thead>
          <tbody class="govuk-table__body">
          {% for row in sentence.list %}
          <tr class="govuk-table__row ">
            <td class="govuk-table__cell">{{ row.sentenceSequence }}</td>
            <td class="govuk-table__cell">{{ dateConverter(row.startDate) }}</td>
            <td class="govuk-table__cell">{{ formatLength(row) }}</td>
            <td class="govuk-table__cell">{{ row.consecutiveTo }}</td>
            <td class="govuk-table__cell">{{ row.sentenceTypeDescription }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{% endif %}
