<hr/>
<div class="govuk-grid-row govuk-body-s">
  <div class="govuk-grid-column-one-quarter govuk-label" for="offenderDisplayName">
    Name
  </div>
  <div class="govuk-grid-column-one-quarter govuk-label" for="offenderNo">
    NOMIS ID
  </div>
  <div class="govuk-grid-column-one-quarter govuk-label" for="dob">
    Date of birth
  </div>
  <div class="govuk-grid-column-one-quarter govuk-label" for="category">
    Current category
  </div>
</div>
<div class="govuk-grid-row govuk-body-s">
  <div id="offenderDisplayName" class="govuk-grid-column-one-quarter govuk-!-font-weight-bold">
    <a target="_blank" href="{{ data.details.offenderNo | offenderLink }}">{{ data.details.displayName }}</a>
  </div>
  <div id="offenderNo" class="govuk-grid-column-one-quarter govuk-!-font-weight-bold">{{
    data.details.offenderNo }}
  </div>
  <div id="dob" class="govuk-grid-column-one-quarter govuk-!-font-weight-bold">{{
    dateConverter(data.details.dateOfBirth) }}
  </div>
  <div id="category" class="govuk-grid-column-one-quarter govuk-!-font-weight-bold">
    <!-- I/J/R/T must show as YOI closed/YOI open/open/closed the men's categories must show as B, C, D -->
    <!-- U/X/Z must show as the category and a word -->
    {% if data.details.categoryCode %}
      {% if data.details.categoryCode == 'U' or data.details.categoryCode == 'X' or data.details.categoryCode == 'Z' %}
        {{ data.details.categoryCode }} ({{ data.details.category }})
      {% else %}
        {{ catMappings(data.details.categoryCode) }}
      {% endif %}
    {% endif %}
  </div>
</div>
<hr/>
