{% from "warning-text/macro.njk" import govukWarningText %}
{% from "summary-list/macro.njk" import govukSummaryList %}
{% from "../macros/renderAlert.html" import renderAlert %}
{% from "../macros/formatAnswer.html" import formatAnswer, formatAnswerNoDetails %}

{% set catHistory %}
{% if data.categorisations | length > 0 %}
<table class="govuk-table govuk-!-font-size-14" id="categoryHistory" >
  <thead class="govuk-table__head">

  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="col">Categorisation date</th>
    <th class="govuk-table__header" scope="col">Category decision</th>
    <th class="govuk-table__header" scope="col">Review location</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
  {% for row in data.categorisations %}
  <tr class="govuk-table__row ">
    <td class="govuk-table__cell">{{ row.approvalDateDisplay }}</td>
    <td class="govuk-table__cell">{{ catMappings(row.classificationCode) }}</td>
    <td class="govuk-table__cell">{{ row.agencyDescription }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<div class="govuk-!-padding-top-4">
  <div id="no-results-message">There are no previous categorisations.</div>
</div>
{% endif %}
{% endset %}

{% if data.violenceProfile.displayAssaults %}
    {% set violenceText %}
      This person has been reported as the perpetrator in {{ data.violenceProfile.numberOfAssaults }} assaults in custody before,
      including {{ data.violenceProfile.numberOfSeriousAssaults }} serious assaults and {{ data.violenceProfile.numberOfNonSeriousAssaults }} non-serious assaults in the past 12 months.
      You should consider the dates and context of these assaults in your assessment.
    {% endset %}
  {% else %}
    {% set violenceText = "This person has not been reported as the perpetrator in any assaults in custody before" %}
{% endif %}

{% set escape %}
{% if data.escapeProfile.activeEscapeList or data.escapeProfile.activeEscapeRisk %}
<div>This person is considered an escape risk</div>

<div class="govuk-details__text govuk-!-margin-bottom-3" id="alertDetails">
  {% for alert in data.escapeProfile.escapeListAlerts %}
  {{ renderAlert(alert) }}
  {% endfor %}
  {% for alert in data.escapeProfile.escapeRiskAlerts %}
  {{ renderAlert(alert) }}
  {% endfor %}
</div>

{% else %}
<div>This person is not on the E-List and does not have an Escape Risk Alert.</div>
{% endif %}
{% endset %}

{% set extremism %}
  <div>
  {% if data.extremismProfile.increasedRiskOfExtremism %}
    This person is at risk of engaging in, or vulnerable to, extremism.
  {% else %}
   This person is not currently considered to be at risk of engaging in, or vulnerable to, extremism.
  {% endif %}
  </div>
{% endset %}

{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9 print-full-width prisonerBackgroundSummary',
  rows: [
    {
      key: { classes: 'summary-list-title', text: "Prisoner background" },
      value: { classes: 'no-print'},
      actions: { items: [{
            href: '/form/recat/prisonerBackground/' + data.details.bookingId,
            text: "Change",
            visuallyHiddenText: "Prisoner background"
          }] if showChangeLinks else []
      }
    },
    {
      key: { text: "Reason for review" },
      value: { classes: 'reviewReason', text: ReviewReason[reviewReason].value },
      actions: { items: [] }
    },
    {
      key: { text: "Categorisation history" },
      value: { classes: 'reviewTable', html: catHistory },
      actions: { items: [] }
    },
    {
      key: { text: "Safety and good order" },
      value: { text: violenceText },
      actions: { items: [] }
    },
    {
      key: { text: "Risk of escape" },
      value: { html: escape },
      actions: { items: [] }
    },
    {
      classes: 'no-print',
      key: { text: "Extremism" },
      value: { html: extremism },
      actions: { items: [] }
    },
    {
      key: { text: "Offence details for active sentences" },
      value: { text: data.recat.prisonerBackground.offenceDetails },
      actions: { items: [] }
    }
  ]
}) }}

{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9 print-full-width oasysInputSummary',
  rows: [
      {
        key: { classes: 'summary-list-title', text: "Offender Assessment System (OASys) check" },
        actions: { items: [{
          value: { classes: 'no-print'},
          href: '/form/recat/oasysInput/' + data.details.bookingId,
          text: "Change",
          visuallyHiddenText: "Assessment"
        }] if showChangeLinks else []
      }
      },
      {
        key: { text: "Completion date of the latest full review that is in OASys" },
        value: { text: data.recat.oasysInput.date },
        actions: { items: [] }
      },
      {
        key: { text: "Was there any information in the review that is relevant to the recategorisation?" },
        value: { html: formatAnswerNoDetails(data.recat.oasysInput.oasysRelevantInfo, data.recat.oasysInput.oasysInputText) },
        actions: { items: [] }
      }
    ]
  })
}}

  {% set wasReferred = data.security.review.securityReview %}
  {% set title = {
    key: { classes: 'summary-list-title no-print',
    text: "Security information" },
    value: { classes: 'no-print'},
    actions: { classes: 'no-print',
        items: [{
          href: '/form/recat/securityInput/' + data.details.bookingId,
          text: "Change",
          visuallyHiddenText: "Risk assessment"
        }] if showChangeLinks and not wasReferred else []
    }
  } %}
  {% set auto = {
      classes: 'no-print',
      key: { text: "Automatic referral to security team" },
      value: { text: 'Yes' if data.socProfile.transferToSecurity else 'No' },
      actions: { items: [] }
    } %}
  {% set manual = {
      classes: 'no-print',
      key: { text: "Manual referral to security team" },
      value: { text: data.recat.securityInput.securityInputNeeded or 'No' },
      actions: { items: []
      }
    } %}
  {% set flagged = {
      classes: 'no-print',
      key: { text: "Flagged by security team" },
      value: { text: 'Yes' if data.security.review.securityReview and not data.socProfile.transferToSecurity and not data.recat.securityInput.securityInputNeeded else 'No' },
      actions: { items: [] }
    } %}
  {% set comments = {
      classes: 'no-print',
      key: { text: "Security comments" },
      value: { text: data.security.review.securityReview },
      actions: { items: [] }
    } %}

  {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9 print-full-width securityInputSummary no-print',
    rows: [ title, auto, manual, flagged, comments ] if wasReferred else [ title, auto, manual, flagged ]
  }) }}

  {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9 print-full-width riskAssessmentSummary',
    rows: [
      {
        key: { classes: 'summary-list-title', text: "Risk assessment" },
        value: { classes: 'no-print'},
        actions: { items: [{
              href: '/form/recat/riskAssessment/' + data.details.bookingId,
              text: "Change",
              visuallyHiddenText: "Risk assessment"
            }] if showChangeLinks else []
        }
      },
      {
        key: { text: "Could they be managed in a lower security category?" },
        value: { text: data.recat.riskAssessment.lowerCategory },
        actions: { items: [] }
      },
      {
        key: { text: "Should they remain in their current security category? Or be put in a higher security category?" },
        value: { text: data.recat.riskAssessment.higherCategory },
        actions: { items: [] }
      },
      {
        key: { text: "Other relevant information" },
        value: { html: formatAnswer(data.recat.riskAssessment.otherRelevant, data.recat.riskAssessment.otherRelevantText) },
        actions: { items: [] }
      }
    ]
  }) }}

{% set categoryText = (data.recat.decision.category and catMappings(data.recat.decision.category)) if (data.recat.decision.category == 'I' or data.recat.decision.category == 'J' or data.recat.decision.category == 'R' or data.recat.decision.category == 'T') else data.recat.decision.category and 'Category ' + data.recat.decision.category %}
{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9 assessmentSummary no-print',
  rows: [
    {
      key: { classes: 'summary-list-title', text: "Category decision" },
      actions: { items: [{
            href: '/form/recat/decision/' + data.details.bookingId,
            text: "Change",
            visuallyHiddenText: "Assessment"
          }] if showChangeLinks else []
      }
    },
    {
      key: { text: "What security category is most suitable for this person?" },
      value: { text: categoryText },
      actions: { items: [] }
    },
    {
      key: { text: "Information about why this category is appropriate" },
      value: { text: data.recat.decision.justification },
      actions: { items: [] }
    }
  ]
}) }}

  {% set miniTitle = {
    key: { classes: 'summary-list-title', text: "Higher Security Review" },
    value: { classes: 'no-print'},
    actions: { items: [{
          href: '/form/recat/miniHigherSecurityReview/' + data.details.bookingId,
          text: "Change",
          visuallyHiddenText: "Assessment"
        }] if showChangeLinks else [] }
    }
  %}

  {% set hsrTitle = {
    key: { classes: 'summary-list-title', text: "Higher Security Review" },
    value: { classes: 'no-print'},
    actions: { items: [{
          href: '/form/recat/higherSecurityReview/' + data.details.bookingId,
          text: "Change",
          visuallyHiddenText: "Assessment"
        }] if showChangeLinks else [] }
    }
  %}

  {% set hsrBehaviour = {
      key: { text: "What behaviour or incident has occurred to suggest the need for higher security conditions?" },
      value: { text: data.recat.higherSecurityReview.behaviour },
      actions: { items: [] }
  } %}

  {% set hsrSteps = {
      key: { text: "What steps have been taken to manage the behaviour within the prison?" },
      value: { text: data.recat.higherSecurityReview.steps },
      actions: { items: [] }
  } %}

  {% set hsrTransfer = {
      key: { text: "Could the behaviour be managed by transfer to another prison of the same category?" },
      value: { text: data.recat.higherSecurityReview.transfer },
      actions: { items: [] }
  } %}

  {% set hsrConditions = {
      key: { text: "What security conditions in the higher category prison are necessary to manage this person safely and securely?" },
      value: { text: data.recat.higherSecurityReview.conditions },
      actions: { items: [] }
  } %}

  {% set miniConditions = {
      key: { text: "What security conditions in the higher category prison are necessary to manage this person safely and securely?" },
      value: { text: data.recat.miniHigherSecurityReview.conditions },
      actions: { items: [] }
  } %}

  {% if data.recat.higherSecurityReview or data.recat.miniHigherSecurityReview %}
  {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9 print-full-width higherSecurityReview',
    rows: [ hsrTitle, hsrBehaviour, hsrSteps, hsrTransfer, hsrConditions ] if data.recat.higherSecurityReview.behaviour else [ miniTitle, miniConditions ]
  }) }}
  {% endif %}

 {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9 nextReviewDateSummary',
    rows: [
      {
        key: { classes: 'summary-list-title', text: "Next category review date" },
        actions: { items: [{
              href: '/form/nextReviewDate/nextReviewDate/' + data.details.bookingId,
              text: "Change",
              visuallyHiddenText: "Set next category review date"
            }] if showChangeLinks else []
        }
      },
      {
        key: { text: "What date should they be reviewed by?" },
        value: { text: getLongDateFormat(data.recat.nextReviewDate.date) },
        actions: { items: [] }
      }
    ]
  }) }}
