{% from "warning-text/macro.njk" import govukWarningText %}
{% from "../macros/reviewSectionHeader.html" import reviewSectionHeader %}
{% from "../macros/listOffences.html" import listOffences %}
{% from "summary-list/macro.njk" import govukSummaryList %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "../macros/formatAnswer.html" import formatAnswer %}

<h2 class="govuk-heading-m">Offending history</h2>
{% set catAValue %}Cat {{ data.history.catAType }} ({{ data.history.catAStartYear }}){% endset %}
  {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9 print-full-width offendingHistorySummary',
    rows: [
      {
        key: { text: "Previous Cat A, Restricted." },
        value: { text: catAValue if data.history.catAType else 'No Cat A, Restricted' },
        actions: { items: [] }
      },
      {
        key: { text: "Previous convictions on NOMIS" },
        value: { text: listOffences(data.offences) },
        actions: { items: [] }
      },
      {
        key: { text: "Relevant convictions on PNC" },
        value: { html: formatAnswer( data.ratings.offendingHistory.previousConvictions, data.ratings.offendingHistory.previousConvictionsText) },
        actions: { items: [{
              href: '/form/ratings/offendingHistory/' + data.details.bookingId,
              text: "Change",
              visuallyHiddenText: "Relevant convictions on PNC"
            }] if showChangeLinks else []
        }
      }
    ]
  }) }}
{% if not isInWomensEstate %}
<h2 class="govuk-heading-m">Further charges</h2>
  {% set further = {
      key: { text: "Further serious charges" },
      value: { html: formatAnswer(data.ratings.furtherCharges.furtherCharges, data.ratings.furtherCharges.furtherChargesText) },
      actions: { items: [{
            href: '/form/ratings/furtherCharges/' + data.details.bookingId,
            text: "Change",
            visuallyHiddenText: "Further serious charges"
          }] if showChangeLinks else []
      }
    } %}
{% if not isInWomensEstate %}
  {% set warrantF = {
      key: { classes: 'no-print', text: "Warrant category B?" },
      value: { classes: 'no-print', text: data.ratings.furtherCharges.furtherChargesCatB },
      actions: {
        classes: 'no-print',
        items: [{
          href: '/form/ratings/furtherCharges/' + data.details.bookingId,
          text: "Change",
          visuallyHiddenText: "Warrant category B"
        }] if showChangeLinks else []
      }
    } %}
{% endif %}
  {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9 furtherChargesSummary',
    rows: [ further, warrantF ] if data.ratings.furtherCharges.furtherCharges == 'Yes' else [ further ]
  }) }}
{% endif %}
<h2 class="govuk-heading-m">Safety and good order</h2>

{#  Not in scope until we are using ViSor:
  key: { text: "Very high risk prisoner" },
  value: { text: 'Yes' if data.violenceProfile.veryHighRiskViolentOffender else 'No' },
  actions: { items: [] }
#}

 {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9 print-full-width violenceRatingSummary',
    rows: [
      {
        key: { text: "Previous assaults in custody recorded" },
        value: { text: data.violenceProfile.numberOfAssaults },
        actions: { items: [] }
      },
      {
        key: { text: "Serious assaults in the past 12 months" },
        value: { text: data.violenceProfile.numberOfSeriousAssaults },
        actions: { items: [] }
      },
      {
        key: { text: "Any more information about risk of violence in custody" },
        value: { html: formatAnswer(data.ratings.violenceRating.highRiskOfViolence, data.ratings.violenceRating.highRiskOfViolenceText) },
        actions: { items: [{
              href: '/form/ratings/violenceRating/' + data.details.bookingId,
              text: "Change",
              visuallyHiddenText: "Any more information about risk of violence in custody"
            }] if showChangeLinks else []
        }
      },
      {
        key: { text: "Serious threats to good order in custody recorded" },
        value: { html: formatAnswer(data.ratings.violenceRating.seriousThreat, data.ratings.violenceRating.seriousThreatText) },
        actions: { items: [{
              href: '/form/ratings/violenceRating/' + data.details.bookingId,
              text: "Change",
              visuallyHiddenText: "Serious threats to good order in custody"
            }] if showChangeLinks else []
        }
      }
    ]
  }) }}

<h2 class="govuk-heading-m">Risk of escape</h2>
 {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9 escapeRatingSummary',
    rows: [
      {
        key: { text: "Escape list" },
        value: { text: 'Yes' if data.escapeProfile.activeEscapeList else 'No' },
        actions: { items: [] }
      },
      {
        key: { text: "Escape alerts" },
        value: { text: 'Yes' if data.escapeProfile.activeEscapeRisk else 'No' },
        actions: { items: [] }
      },
      {
        key: { text: "Any other information that they pose an escape risk" },
        value: { html: formatAnswer(data.ratings.escapeRating.escapeOtherEvidence, data.ratings.escapeRating.escapeOtherEvidenceText) },
        actions: { items: [{
              href: '/form/ratings/escapeRating/' + data.details.bookingId,
              text: "Change",
              visuallyHiddenText: "Any other information that they pose an escape risk"
            }] if showChangeLinks else []
        }
      },
      {
        key: { text: "Any further details" },
        value: { html: formatAnswer(data.ratings.escapeRating.escapeCatB, data.ratings.escapeRating.escapeCatBText) },
        actions: { items: [{
              href: '/form/ratings/escapeRating/' + data.details.bookingId,
              text: "Change",
              visuallyHiddenText: "Any further details"
            }] if showChangeLinks else []
        }
      }
    ]
  }) }}

<h2 class="govuk-heading-m no-print">Extremism</h2>
 {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9 extremismRatingSummary no-print',
    rows: [
      {
        key: { text: "Identified at risk of engaging in, or vulnerable to, extremism" },
        value: { text: 'Yes' if data.extremismProfile.increasedRiskOfExtremism else 'No' },
        actions: { items: [] }
      },
      {
        key: { text: "Offences under terrorism legislation" },
        value: { html: formatAnswer(data.ratings.extremismRating.previousTerrorismOffences, data.ratings.extremismRating.previousTerrorismOffencesText) },
        actions: { items: [{
              href: '/form/ratings/extremismRating/' + data.details.bookingId,
              text: "Change",
              visuallyHiddenText: "Offences under terrorism legislation"
            }] if showChangeLinks else []
        }
      }
    ]
  }) }}

  {% set wasReferred = data.socProfile.transferToSecurity or data.ratings.securityBack.catB or (isInWomensEstate and data.ratings.securityBack)%}
  <h2 class="govuk-heading-m no-print">Security information</h2>
  {% set auto = {
      classes: 'no-print',
      key: { text: "Automatic referral to security team" },
      value: { text: 'Yes' if data.socProfile.transferToSecurity else 'No' },
      actions: { items: [] }
    } %}
  {% set manual = {
      classes: 'no-print',
      key: { text: "Manual referral to security team" },
      value: { text: data.ratings.securityInput.securityInputNeeded or 'No' },
      actions: {
        items: [{
          href: '/form/ratings/securityInput/' + data.details.bookingId,
          text: "Change",
          visuallyHiddenText: "Manual referral to security team"
        }] if showChangeLinks and not wasReferred else []
      }
    } %}
  {% set flagged = {
      classes: 'no-print',
      key: { text: "Flagged by security team" },
      value: { text: 'Yes' if ((not isInWomensEstate and data.ratings.securityBack.catB)
                      or (isInWomensEstate and data.ratings.securityBack))
                      and not data.ratings.securityInput.securityInputNeeded else 'No' },
      actions: { items: [] }
    } %}
  {% set comments = {
      classes: 'no-print',
      key: { text: "Security comments" },
      value: { text: data.security.review.securityReview },
      actions: { items: [] }
    } %}
{% if not isInWomensEstate %}
  {% set warrantS = {
      classes: 'no-print',
      key: { text: "Warrant category B?" },
      value: { text: data.ratings.securityBack.catB },
      actions: {
        items: [{
          href: '/form/ratings/securityBack/' + data.details.bookingId,
          text: "Change",
          visuallyHiddenText: "Warrant category B"
        }] if showChangeLinks and wasReferred else []
      }
    } %}
{% endif %}
  {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9 print-full-width securityInputSummary no-print',
    rows: [ auto, manual, flagged, comments, warrantS ] if wasReferred else [ auto, manual, flagged ]
  }) }}

  {% if isInWomensEstate %}
    <h2 class="govuk-heading-m">Category decision</h2>
    {{ govukSummaryList({
      classes: 'govuk-!-margin-bottom-9 categoryDecisionSummary no-print',
      rows: [
        {
          key: { text: "What security category is most suitable for this person?" },
          value: { text: data.ratings.decision.category and catMappings(data.ratings.decision.category) },
          actions: { items: [{
                href: '/form/ratings/decision/' + data.details.bookingId,
                text: "Change",
                visuallyHiddenText: "Decision"
              }] if showChangeLinks else [] }
        },
        {
          key: { text: "Information about why this category is appropriate" },
          value: { text: data.ratings.decision.justification },
          actions: { items: [{
                href: '/form/ratings/decision/' + data.details.bookingId,
                text: "Change",
                visuallyHiddenText: "Decision"
              }] if showChangeLinks else [] }
      }
    ]
    }) }}
  {% endif %}

  {% if data.ratings.nextReviewDate %}
    <h2 class="govuk-heading-m">Next category review date</h2>
    {{ govukSummaryList({
      classes: 'govuk-!-margin-bottom-9 nextReviewDateSummary',
      rows: [
        {
          key: { text: "What date should they be reviewed by?" },
          value: { text: getLongDateFormat(data.ratings.nextReviewDate.date) },
          actions: { items: [{
                href: '/form/nextReviewDate/nextReviewDate/' + data.details.bookingId,
                text: "Change",
                visuallyHiddenText: "Set next category review date"
              }] if showChangeLinks else [] }
        }
      ]
    }) }}
  {% endif %}
