{% from "summary-list/macro.njk" import govukSummaryList %}
{% from "../macros/formatAnswer.html" import formatAnswerWithNA %}

 {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9 earliestReleaseDateSummary',
    rows: [
      {
        key: { classes: 'summary-list-title', text: "Earliest release date" },
        actions: { items: [{
              href: '/form/openConditions/earliestReleaseDate/' + data.details.bookingId,
              text: "Change",
              visuallyHiddenText: "earliest release date"
            }] if showOpenConditionChangeLinks else []
        }
      },
      {
        key: { text: "3 or more years until earliest release date?" },
        value: { text: data.openConditions.earliestReleaseDate.threeOrMoreYears },
        actions: { items: [] }
      },
      {
        key: { text: "Reasons that justify moving to open conditions?" },
        value: { html: formatAnswerWithNA(data.openConditions.earliestReleaseDate.justify, data.openConditions.earliestReleaseDate.justifyText) },
        actions: { items: [] }
      }
    ]
  }) }}

 {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9 foreignNationalSummary',
    rows: [
      {
        key: { classes: 'summary-list-title', text: "Foreign national" },
        actions: { items: [{
              href: '/form/openConditions/foreignNational/' + data.details.bookingId,
              text: "Change",
              visuallyHiddenText: "Foreign national"
            }] if showOpenConditionChangeLinks else []
        }
      },
      {
        key: { text: "Foreign national?" },
        value: { text: data.openConditions.foreignNational.isForeignNational },
        actions: { items: [] }
      },
      {
        key: { text: "Have the Home Office confirmed their immigration status?" },
        value: { text: data.openConditions.foreignNational.formCompleted or 'Not applicable' },
        actions: { items: [] }
      },
      {
        key: { text: "Do they have a liability for deportation?" },
        value: { text: data.openConditions.foreignNational.dueDeported or 'Not applicable' },
        actions: { items: [] }
      },
      {
        key: { text: "Completed all appeals processes in the UK?" },
        value: { text: data.openConditions.foreignNational.exhaustedAppeal or 'Not applicable' },
        actions: { items: [] }
      }
    ]
  }) }}

 {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9 riskOfHarmSummary',
    rows: [
      {
        key: { classes: 'summary-list-title', text: "Risk of serious harm" },
        actions: { items: [{
              href: '/form/openConditions/riskOfHarm/' + data.details.bookingId,
              text: "Change",
              visuallyHiddenText: "Risk of serious harm"
            }] if showOpenConditionChangeLinks else []
        }
      },
      {
        key: { text: "Risk of serious harm to the public?" },
        value: { text: data.openConditions.riskOfHarm.seriousHarm },
        actions: { items: [] }
      },
      {
        key: { text: "Can this risk be managed?" },
        value: { html: formatAnswerWithNA(data.openConditions.riskOfHarm.harmManaged, data.openConditions.riskOfHarm.harmManagedText) },
        actions: { items: [] }
      }
    ]
  }) }}

 {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9 furtherChargesOpenSummary',
    rows: [
      {
        key: { classes: 'summary-list-title', text: "Further charges" },
        actions: { items: [{
              href: '/form/openConditions/furtherCharges/' + data.details.bookingId,
              text: "Change",
              visuallyHiddenText: "Further charges"
            }] if showOpenConditionChangeLinks else []
        }
      },
      {
        key: { text: "Further charges details" },
        value: { text: data.openConditions.furtherCharges.furtherChargesText },
        actions: { items: [] }
      },
      {
        key: { text: "Do these further charges increase risk in open conditions?" },
        value: { text : data.openConditions.furtherCharges.increasedRisk },
        actions: { items: [] }
      }
    ]
  }) }}

 {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-9 riskLevelSummary',
    rows: [
      {
        key: { classes: 'summary-list-title', text: "Risk levels" },
        actions: { items: [{
              href: '/form/openConditions/riskLevels/' + data.details.bookingId,
              text: "Change",
              visuallyHiddenText: "Risk levels"
            }] if showOpenConditionChangeLinks else []
        }
      },
      {
        key: { text: "Likely to abscond or abuse open conditions?" },
        value: { html: formatAnswerWithNA(data.openConditions.riskLevels.likelyToAbscond, data.openConditions.riskLevels.likelyToAbscondText) },
        actions: { items: [] }
      }
    ]
  }) }}

