{% from "warning-text/macro.njk" import govukWarningText %}

{% if data.details.sentence.indeterminate %}
  {{ govukWarningText({
    text: 'This person is serving an indeterminate sentence, and local establishments are not responsible for assessing their suitability for open conditions. You should categorise them to open conditions only if the Parole Board or Public Protection Casework Section has decided they are suitable.',
    iconFallbackText: "Warning",
    attributes: { 'id': 'indeterminateWarning' },
    classes: "forms-warning-text warning-overrides govuk-!-padding-right-4"
  }) }}
{% endif %}
