{% from "warning-text/macro.njk" import govukWarningText %}
{% from "inset-text/macro.njk" import govukInsetText %}

{% set warningText %}
  This prisoner was categorised as a
  {% if data.history.catAType === 'A' %}
    Cat A
  {% elif data.history.catAType === 'P' %}
    Provisional Cat A
  {% elif data.history.catAType === 'H' %}
    Cat A High
  {% endif %}
  in {{ data.history.catAStartYear }} until {{ data.history.catAEndYear }}

  {% if data.history.releaseYear %}
    for a previous sentence and released as a {{ data.history.finalCat }} in {{ data.history.releaseYear }}
  {% endif %}
{% endset %}
{% if data.history.catAType %}
<div>
  {{ govukWarningText({
    text: warningText,
    iconFallbackText: "Warning",
    classes: "forms-warning-text warning-overrides"
  }) }}
</div>
{% else %}
  {{ govukInsetText({
    text: "This person has not been categorised as a Cat A or a provisional Cat A before."
  }) }}
{% endif %}
