{% from "warning-text/macro.njk" import govukWarningText %}
{% from "inset-text/macro.njk" import govukInsetText %}

{% set warningText %}
  {% if data.history.catAType === 'A' %}
    This prisoner was categorised as a Cat A in {{ data.history.catAStartYear }} until {{ data.history.catAEndYear }}
    for a previous sentence and released as a {{ data.history.finalCat }} in {{ data.history.releaseYear }}
  {% elif data.history.catAType === 'P' %}
    This prisoner was treated as a provisional Cat A in {{ data.history.catAStartYear }} until {{ data.history.catAEndYear }}
    for a previous sentence and released as a {{ data.history.finalCat }} in {{ data.history.releaseYear }}
  {% elif data.history.catAType === 'H' %}
    This prisoner was categorised as a Cat A High in {{ data.history.catAStartYear }} until {{ data.history.catAEndYear }}
    for a previous sentence and released as a {{ data.history.finalCat }} in {{ data.history.releaseYear }}
  {% endif %}
{% endset %}
{% if warningText | trim %}
<div>
  <h2 class="govuk-heading-m">Previous categorisation</h2>
  {{ govukWarningText({
    text: warningText,
    iconFallbackText: "Warning",
    classes: "forms-warning-text warning-overrides"
  }) }}
</div>
{% else %}
  {{ govukInsetText({
    text: "This person has not been categorised as a Cat A or a provisional Cat A before."
  }) }}
{% endif %}
