{% extends "../formTemplate.html" %}
{% from "warning-text/macro.njk" import govukWarningText %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "radios/macro.njk" import govukRadios %}

{% set previousTerrorismOffencesTextHtml %}
  {{ govukTextarea({
    name: "previousTerrorismOffencesText",
    type: "previousTerrorismOffencesText",
    id: "previousTerrorismOffencesText",
    label: {
      text: "Give details of this evidence"
    },
    value: data.previousTerrorismOffencesText,
    errorMessage: {
      text: "Please enter details"
    } if (errors | findError('previousTerrorismOffencesText'))
  }) }}
  {% if data.extremismProfile.notifyRegionalCTLead %}
    <p class="govuk-heading-s">Please notify your regional CT lead that you have this person in custody</p>
  {% endif %}

{% endset %}

{% block formItems %}

<h1 class="govuk-heading-l">Extremism rating</h1>

  {% if data.extremismProfile.increasedRisk %}
    {{ govukWarningText({
      text: "There is data to indicate that this person has an increased risk of engaging in extremism",
      iconFallbackText: "Warning",
      classes: "forms-warning-text warning-overrides"
    }) }}
  {% endif %}

  {{ govukRadios({
    name: "previousTerrorismOffences",
    classes: "govuk-radios--inline",
    fieldset: {
      legend: {
        text: "Are there any previous offences under the Terrorism Act listed on the person's PNC record?",
        isPageHeading: false
      }
    },
    errorMessage: {
      text: "Please select yes or no"
    } if (errors | findError('previousTerrorismOffences')),
    items: [
      {
        value: "Yes",
        text: "Yes",
        checked: data.previousTerrorismOffences === 'Yes',
        conditional: {
          html: previousTerrorismOffencesTextHtml
        }
      },
      {
        value: "No",
        checked: data.previousTerrorismOffences === 'No',
        text: "No"
      }
    ]
  }) }}

{% endblock %}
