{% extends "../formTemplate.html" %}
{% from "warning-text/macro.njk" import govukWarningText %}
{% from "inset-text/macro.njk" import govukInsetText %}
{% from "character-count/macro.njk" import govukCharacterCount %}
{% from "radios/macro.njk" import govukRadios %}

{% set pageTitle = "Extremism" %}

{% block navigation %}

{% include "../../partials/breadCrumbTaskList.html" %}

{% endblock %}

{% set previousTerrorismOffencesTextHtml %}
  {{ govukCharacterCount({
    name: "previousTerrorismOffencesText",
    type: "previousTerrorismOffencesText",
    id: "previousTerrorismOffencesText",
    maxlength: 50000,
    threshold: 50,
    label: {
      text: "Give details of these offences"
    },
    value: data.ratings.extremismRating.previousTerrorismOffencesText,
    errorMessage: {
      text: "Please enter details"
    } if (errors | findError('previousTerrorismOffencesText'))
  }) }}

{% endset %}

{% block formItems %}

<h1 class="govuk-heading-l">{{ pageTitle }}</h1>

  {% if data.extremismProfile.increasedRiskOfExtremism %}
    {{ govukWarningText({
      text: "This person is at risk of engaging in, or vulnerable to, extremism",
      iconFallbackText: "Warning",
      classes: "forms-warning-text warning-overrides"
    }) }}
  {% else %}
    {{ govukInsetText({
      text: "This person is not currently considered to be at risk of engaging in, or vulnerable to, extremism."
    }) }}
  {% endif %}

  {{ govukRadios({
    name: "previousTerrorismOffences",
    classes: "govuk-radios--inline",
    fieldset: {
      legend: {
        text: "Are there any offences under terrorism legislation on their PNC record?",
        isPageHeading: false
      }
    },
    errorMessage: {
      text: "Please select yes or no"
    } if (errors | findError('previousTerrorismOffences')),
    items: [
      {
        value: "Yes",
        text: "Yes",
        checked: data.ratings.extremismRating.previousTerrorismOffences === 'Yes',
        conditional: {
          html: previousTerrorismOffencesTextHtml
        }
      },
      {
        value: "No",
        checked: data.ratings.extremismRating.previousTerrorismOffences === 'No',
        text: "No"
      }
    ]
  }) }}

  {% if data.extremismProfile.notifyRegionalCTLead %}
  <p class="govuk-heading-s">Please contact the Regional CT Team who will provide input on this person's CT risk</p>
  {% endif %}

{% endblock %}
