{% extends "../formTemplate.html" %}

{% from "warning-text/macro.njk" import govukWarningText %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "../../macros/listOffences.html" import listOffences %}
{% from "radios/macro.njk" import govukRadios %}
{% from "details/macro.njk" import govukDetails %}

{% set pageTitle = "Further charges" %}

{% block navigation %}

{% include "../../partials/breadCrumbTaskList.html" %}

{% endblock %}

{% block formItems %}

<h1 class="govuk-heading-l">{{ pageTitle }}</h1>

{% set furtherChargesHtml %}
<p>rating further chargeds</p>
  {{ govukTextarea({
    name: "furtherChargesText",
    type: "furtherChargesText",
    id: "furtherChargesText",
    label: {
      text: "Give details of these charges"
    },
    attributes: { 'minlength': 13, 'maxlength': 50000 },
    value: data.ratings.furtherCharges.furtherChargesText,
    errorMessage: {
      text: "Please enter details"
    } if (errors | findError('furtherChargesText'))
  }) }}

  {{ govukRadios({
    name: "furtherChargesCatB",
    classes: "govuk-radios--inline",
    fieldset: {
      legend: {
        text: "Do any of these further charges indicate that Category B is appropriate?",
        isPageHeading: false
      }
    },
    errorMessage: {
      text: "Please select yes or no"
    } if (errors | findError('furtherChargesCatB')),
    items: [
      {
        value: "Yes",
        text: "Yes",
        checked: data.ratings.furtherCharges.furtherChargesCatB === 'Yes'
      },
      {
        value: "No",
        checked: data.ratings.furtherCharges.furtherChargesCatB === 'No',
        text: "No"
      }
    ]
  }) }}

  {% set guidancePrevious %}<div class="govuk-!-font-weight-bold govuk-!-margin-top-2">Category B might be appropriate if this person has:</div>
  <ul class="govuk-list govuk-list--bullet">
    <li>convictions similar to the current offence which indicate a prolific or escalating offence pattern</li>
    <li>convictions that indicate ongoing criminality in custody</li>
    <li>convictions for offences committed while the prisoner was in custody</li>
  </ul>
  {% endset %}

  {{ govukDetails({
    summaryText: "What should I look for?",
    html: guidancePrevious
  }) }}

{% endset %}

  {{ govukRadios({
    name: "furtherCharges",
    classes: "govuk-radios--inline",
    fieldset: {
      legend: {
        text: "Are they facing any further charges?",
        isPageHeading: false
      }
    },
    errorMessage: {
      text: "Please select yes or no"
    } if (errors | findError('furtherCharges')),
    hint: {
      text: "You should include all further charges, including minor offences."
    },
    items: [
      {
        value: "Yes",
        text: "Yes",
        checked: data.ratings.furtherCharges.furtherCharges === 'Yes',
        conditional: {
          html: furtherChargesHtml
        }
      },
      {
        value: "No",
        checked: data.ratings.furtherCharges.furtherCharges === 'No',
        text: "No"
      }
    ]
  }) }}

  {% set guidancePrevious %}<div class="govuk-!-font-weight-bold">You are looking for:</div>
  <ul class="govuk-list govuk-list--bullet">
    <li>charges likely to result in a long additional sentence</li>
    <li>charges indicating a risk of violence</li>
  </ul>
  {% endset %}

  {{ govukDetails({
    summaryText: "What should I look for:",
    html: guidancePrevious
  }) }}

{% endblock %}
