{% extends "../formTemplate.html" %}

{% from "warning-text/macro.njk" import govukWarningText %}
{% from "textarea/macro.njk" import govukTextarea %}

{% block formItems %}

<h1 class="govuk-heading-l">Offending history</h1>

  {% set warningText %}
    {% if data.history.catAType === 'A' %}
      This offender was categorised as a Cat A in {{ data.history.catAStartYear }} until {{ data.history.catAEndYear }}
      for a previous sentence and released as a {{ data.history.finalCat }} in {{ data.history.releaseYear }}
    {% elif data.history.catAType === 'P' %}
      This offender was treated as a provisional Cat A in {{ data.history.catAStartYear }} until {{ data.history.catAEndYear }}
      for a previous sentence and released as a {{ data.history.finalCat }} in {{ data.history.releaseYear }}
    {% elif data.history.catAType === 'H' %}
      This offender was categorised as a Cat A High in {{ data.history.catAStartYear }} until {{ data.history.catAEndYear }}
      for a previous sentence and released as a {{ data.history.finalCat }} in {{ data.history.releaseYear }}
    {% endif %}
  {% endset %}
  {% if warningText %}
    {{ govukWarningText({
      text: warningText,
      iconFallbackText: "Warning",
      classes: "forms-warning-text"
    }) }}
  {% endif %}

  {{ govukTextarea({
    name: "previousConvictions",
    type: "previousConvictions",
    id: "more-detail",
    label: {
      text: "Please record a summary of previous convictions, and any other information, from this offender's PNC record, which might be relevant to their categorisation"
    },
    value: data.previousConvictions
  }) }}

{# TODO {{ if data.nomisConvictions | length }} #}
<div class="govuk-body-s">
  <p class="govuk-!-font-weight-bold">The following convictions are listed on NOMIS:</p>
  <ul>
    <li>Burglary other than dwelling-theft (10/09/2016)</li>
    <li>Armed robbery (10/11/2014)</li>
  </ul>
</div>

{% endblock %}
