{% extends "../formTemplate.html" %}
{% from "warning-text/macro.njk" import govukWarningText %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "radios/macro.njk" import govukRadios %}
{% from "inset-text/macro.njk" import govukInsetText %}
{% from "details/macro.njk" import govukDetails %}

{% set pageTitle = "Safety and good order" %}

{% block navigation %}

{% include "../../partials/breadCrumbTaskList.html" %}

{% endblock %}

{% set highRiskOfViolenceTextHtml %}
  {{ govukTextarea({
    name: "highRiskOfViolenceText",
    type: "highRiskOfViolenceText",
    id: "highRiskOfViolenceText",
    attributes: { 'maxlength': 50000 },
    label: {
      text: "Provide details about this information"
    },
    value: data.ratings.violenceRating.highRiskOfViolenceText,
    errorMessage: {
      text: "Please enter details"
    } if (errors | findError('highRiskOfViolenceText'))
  }) }}
{% endset %}

{% set seriousThreatTextHtml %}
  {{ govukTextarea({
    name: "seriousThreatText",
    type: "seriousThreatText",
    id: "seriousThreatText",
    attributes: { 'maxlength': 50000 },
    label: {
      text: "Provide details about this information"
    },
    value: data.ratings.violenceRating.seriousThreatText,
    errorMessage: {
      text: "Please enter details"
    } if (errors | findError('seriousThreatText'))
  }) }}
{% endset %}

{% block formItems %}

<h1 class="govuk-heading-l">{{ pageTitle }}</h1>

  {% if data.numberOfAssaults > 0 %}
    {% set warningText %}
      This person has been reported as the perpetrator in {{ data.numberOfAssaults }} assaults in custody before,
      including {{ data.numberOfSeriousAssaults }} serious assaults and {{ data.numberOfNonSeriousAssaults }} non-serious assaults in the past 12 months.
      You should consider the dates and context of these assaults in your assessment.
    {% endset %}
    {{ govukWarningText({
      text: warningText,
      iconFallbackText: "Warning",
      classes: "forms-warning-text warning-overrides govuk-!-padding-right-1"
    }) }}
  {% endif %}
  {% if data.viper.aboveThreshold %}
    {{ govukWarningText({
      text: 'Please notify your safer custody lead about this prisoner',
      iconFallbackText: "Warning",
      classes: "forms-warning-text warning-overrides"
    }) }}
 {% endif %}
 {% if not (data.viper.aboveThreshold or data.numberOfAssaults > 0) %}
    {{ govukInsetText({
      text: "This person has not been reported as the perpetrator in any assaults in custody before."
    }) }}
  {% endif %}

  {{ govukRadios({
    name: "highRiskOfViolence",
    fieldset: {
      legend: {
        text: "Is there any other information to suggest they pose a high risk of violence in custody?"
      }
    },
    errorMessage: {
      text: "Please select yes or no"
    } if (errors | findError('highRiskOfViolence')),
    items: [
      {
        value: "Yes",
        text: "Yes",
        checked: data.ratings.violenceRating.highRiskOfViolence === 'Yes',
        conditional: {
          html: highRiskOfViolenceTextHtml
        }
      },
      {
        value: "No",
        checked: data.ratings.violenceRating.highRiskOfViolence === 'No',
        text: "No"
      }
    ]
  }) }}

  {% set guidanceHighRisk %}<div class="govuk-!-font-weight-bold">You are looking for:</div>
<ul class="govuk-list govuk-list--bullet">
<li>patterns of violent behaviour</li>
<li>violence directed at particular groups</li>
</ul>
<div class="govuk-!-font-weight-bold govuk-!-margin-top-3">You should check:</div>
<ul class="govuk-list govuk-list--bullet">
<li>current and previous offences</li>
<li>pre-sentence reports</li>
<li>risk of serious harm (RoSH) rating</li>
<li>person escort records (PER)</li>
<li>cell-sharing risk assessment</li>
<li>adjudication records</li>
<li>segregation history</li>
<li>court documents</li>
<li>alerts</li>
</ul>
  {% endset %}

  {{ govukDetails({
    summaryText: "What information should I check?",
    html: guidanceHighRisk
  }) }}

  {{ govukRadios({
    name: "seriousThreat",
    fieldset: {
      legend: {
        text: "Is there other information to indicate they are a serious threat to good order in custody?"
      }
    },
    errorMessage: {
      text: "Please select yes or no"
    } if (errors | findError('seriousThreat')),
    items: [
      {
        value: "Yes",
        text: "Yes",
        checked: data.ratings.violenceRating.seriousThreat === 'Yes',
        conditional: {
          html: seriousThreatTextHtml
        }
      },
      {
        value: "No",
        checked: data.ratings.violenceRating.seriousThreat === 'No',
        text: "No"
      }
    ]
  }) }}

{% set guidanceGoodOrderThreat %}<div class="govuk-!-font-weight-bold">You are looking for:</div>
<ul class="govuk-list govuk-list--bullet">
<li>concerted indiscipline</li>
<li>coordinating others to acts of concerted indiscipline or violence</li>
</ul>
<div class="govuk-!-font-weight-bold govuk-!-margin-top-3">You should check:</div>
<ul class="govuk-list govuk-list--bullet">
<li>current and previous offences</li>
<li>pre-sentence reports</li>
<li>risk of serious harm (RoSH) rating</li>
<li>person escort records (PER)</li>
<li>cell-sharing risk assessment</li>
<li>adjudication records</li>
<li>segregation history</li>
<li>court documents</li>
<li>alerts</li>
</ul>
  {% endset %}

  {{ govukDetails({
    summaryText: "What information should I check?",
    html: guidanceGoodOrderThreat
  }) }}

{% endblock %}
