{% extends "../../partials/layout.html" %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "panel/macro.njk" import govukPanel %}
{% from "textarea/macro.njk" import govukTextarea %}

{% set pageTitle = "Security review" %}

{% block beforeContent %}

{% include "../../partials/breadCrumb.html" %}

{% endblock %}

{% block content %}

<hr/>
{% include "../../partials/offenderDetails.html" %}
<hr/>
<div class="govuk-!-width-two-thirds">
{% if errors.length > 0 %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}

{% set manuallyReferred = (data.ratings.securityInput.securityInputNeeded and data.ratings.securityInput.securityInputNeededText) or
  (data.recat.securityInput.securityInputNeeded and data.recat.securityInput.securityInputNeededText) %}
{% if manuallyReferred %}
  {{ govukPanel({
    titleText: "Manually referred for review"
  }) }}
  <p>The case has been referred to Security because:</p>
  <p class="forms-comments-text">{{ data.ratings.securityInput.securityInputNeededText or data.recat.securityInput.securityInputNeededText }}</p>
{% elif status == Status.SECURITY_FLAGGED.name %}
  {{ govukPanel({
  titleText: "Referred for review"
  }) }}
  <p>This individual was identified as needing a security review, as part of their categorisation, by {{ securityReferred.referrerUser.displayNameAlternative }}{% if securityReferred.prisonDescription %} of {{ securityReferred.prisonDescription}}{% endif %} on {{ securityReferred.referredDate }}.</p>
{% endif %}

  <form method="post">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

  {% block formItems %}

    <h1 class="govuk-heading-l">Security Review</h1>

    {{ govukTextarea({
      name: "securityReview",
      type: "securityReview",
      id: "more-detail",
      attributes: { 'maxlength': 50000 },
      label: {
        text: "Please provide an assessment of any Security information held on this prisoner, which could be relevant to their security categorisation"
      },
      value: data.security.review.securityReview
    }) }}

  {% endblock %}

  {{ govukButton({
    text: "Save and submit",
    type: 'submit',
    name: "button",
    value: 'submit'
  }) }}
  {{ govukButton({
    text: "Save only",
    name: "button",
    value: 'return',
    classes: 'rightAlignedButton grey-button'
  }) }}

  </form>
</div>
{% endblock %}
