{% extends "../../partials/layout.html" %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "character-count/macro.njk" import govukCharacterCount %}
{% from "warning-text/macro.njk" import govukWarningText %}

{% set pageTitle = "Security review" %}

{% block beforeContent %}

{% include "../../partials/breadCrumb.html" %}

{% endblock %}

{% block content %}

<hr/>
{% include "../../partials/offenderDetails.html" %}
<hr/>
<div class="govuk-!-width-two-thirds">
<h1 class="govuk-heading-l">Security review</h1>
{% if errors.length > 0 %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}

{% if status == Status.SECURITY_MANUAL.name %}
  {% if catType == 'RECAT' %}
    {{ govukWarningText({
      text: 'All recategorisations must have a security review.',
      iconFallbackText: "Warning",
      classes: "warning-overrides",
      attributes: {  'id': 'recatWarning' }
    }) }}
    <h2 id="header-recat-note" class="govuk-heading-s">Note from categoriser</h2>
    {% if data.recat.securityInput.securityNoteNeeded == 'Yes' %}
      <p id="p-recat-note">{{ data.recat.securityInput.securityInputNeededText }}</p>
    {% else %}
      <p id="p-recat-no-note">A note was not added</p>
    {% endif %}
  {% elif catType == 'INITIAL' %}
    {% if data.ratings.securityInput.securityInputNeededText %}
      <p id="p-initial-manual">Manually sent for review</p>
      <h2 id="header-initial-note" class="govuk-heading-s">Note from categoriser</h2>
      <p  id="p-initial-note">{{ data.ratings.securityInput.securityInputNeededText  }}</p>
    {% endif %}
  {% endif %}
{% elif status == Status.SECURITY_AUTO.name %}
  <p id="p-auto">Automatically sent for review</p>
{% elif status == Status.SECURITY_FLAGGED.name %}
  <p id="p-flagged">Flagged for review</p>
{% endif %}

  <form method="post">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

  {% block formItems %}

    <h2 id="header-sec-info" class="govuk-heading-s">Security information</h2>

    {{ govukCharacterCount({
      name: "securityReview",
      type: "securityReview",
      id: "more-detail",
      maxlength: 50000,
      threshold: 90,
      attributes: { 'maxlength': 50000 },
      label: {
        text: "Enter details of any security information held on this prisoner, which could be relevant to their security categorisation"
      },
      hint: {
        text: "None of the information that you provide in the review will be disclosed to the prisoner. It will not be displayed when printing a completed review"
      },
      errorMessage: {
        text: (errors | findError('securityReview')).text
      } if (errors | findError('securityReview')),
      value: data.security.review.securityReview
    }) }}

  {% endblock %}

  {{ govukButton({
    text: "Save and submit",
    type: 'submit',
    name: "button",
    value: 'submit'
  }) }}
  {{ govukButton({
    text: "Save only",
    name: "button",
    value: 'return',
    classes: 'rightAlignedButton grey-button',
    attributes: { 'data-qa': 'save-review' }
  }) }}

  </form>
</div>
{% endblock %}
