version: '3.8'
services:
  form-db:
    image: postgres
    networks:
      - hmpps
    container_name: form-builder-db
    restart: always
    ports:
    - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=form-builder
      - POSTGRES_USER=form-builder
      - POSTGRES_DB=form-builder

  categorisation-redis:
    image: redis
    networks:
      - hmpps
    container_name: categorisation-redis
    restart: unless-stopped
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - "6379:6379"

  categorisation-localstack:
    image: localstack/localstack:0.11.2
    ports:
      - "4567-4584:4567-4584"
    networks:
      - hmpps
    container_name: categorisation-localstack
    restart: unless-stopped
    environment:
      - SERVICES=${SERVICES-sqs}
      - DEBUG=${DEBUG- }
      - DATA_DIR=${DATA_DIR- }
      - PORT_WEB_UI=${PORT_WEB_UI-8088}
      - LAMBDA_EXECUTOR=${LAMBDA_EXECUTOR- }
      - KINESIS_ERROR_PROBABILITY=${KINESIS_ERROR_PROBABILITY- }
      - DEFAULT_REGION=eu-west-2
    volumes:
      - './.localstack:/tmp/localstack'

  categorisation-localstack-setup:
    image: jetbrainsinfra/aws-cli
    networks:
      - hmpps
    depends_on:
      - categorisation-localstack
    volumes:
      - ./dev_env:/project/dev_env
    container_name: categorisation-localstack-setup
    environment:
      - AWS_ACCESS_KEY_ID=foo
      - AWS_SECRET_ACCESS_KEY=bar
      - AWS_DEFAULT_REGION=eu-west-2
    entrypoint: /bin/sh -c
    command: >
      "
        aws --endpoint-url=http://categorisation-localstack:4576 sqs create-queue --queue-name event
        aws --endpoint-url=http://categorisation-localstack:4576 sqs create-queue --queue-name risk_profiler_change
        aws --endpoint-url=http://categorisation-localstack:4576 sqs create-queue --queue-name event_dlq
        aws --endpoint-url=http://categorisation-localstack:4576 sqs create-queue --queue-name risk_profiler_change_dlq
        exit 0
      "

networks:
  hmpps:
