services:
  form-db:
    image: postgres:15
    networks:
      - hmpps
    container_name: form-builder-db
    restart: always
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_PASSWORD=form-builder
      - POSTGRES_USER=form-builder
      - POSTGRES_DB=form-builder
    volumes:
      - ./scripts/init.sql:/docker-entrypoint-initdb.d/init.sql

  categorisation-redis:
    image: redis
    networks:
      - hmpps
    container_name: categorisation-redis
    restart: unless-stopped
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - '6379:6379'

  categorisation-localstack:
    image: localstack/localstack:3.7.0
    ports:
      - '4566:4566'
    networks:
      - hmpps
    container_name: categorisation-localstack
    restart: unless-stopped
    environment:
      - SERVICES=${SERVICES-sqs}
      - DEBUG=${DEBUG- }
      - PERSISTENCE=${DATA_DIR- }
      - KINESIS_ERROR_PROBABILITY=${KINESIS_ERROR_PROBABILITY- }
      - AWS_DEFAULT_REGION=eu-west-2
      - LOCALSTACK_HOST=categorisation-localstack
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - '${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack'
      - '/var/run/docker.sock:/var/run/docker.sock'

  categorisation-localstack-setup:
    image: jetbrainsinfra/aws-cli
    networks:
      - hmpps
    depends_on:
      - categorisation-localstack
    volumes:
      - ./dev_env:/project/dev_env
    container_name: categorisation-localstack-setup
    environment:
      - AWS_ACCESS_KEY_ID=foo
      - AWS_SECRET_ACCESS_KEY=bar
      - AWS_DEFAULT_REGION=eu-west-2
    entrypoint: /bin/sh -c
    command: >
      "
        aws --endpoint-url=http://categorisation-localstack:4566 --region eu-west-2 sqs create-queue --queue-name event
        aws --endpoint-url=http://categorisation-localstack:4566 --region eu-west-2 sqs create-queue --queue-name risk_profiler_change
        aws --endpoint-url=http://categorisation-localstack:4566 --region eu-west-2 sqs create-queue --queue-name event_dlq
        aws --endpoint-url=http://categorisation-localstack:4566 --region eu-west-2 sqs create-queue --queue-name risk_profiler_change_dlq

        exit 0
      "

  wiremock:
    image: wiremock/wiremock
    networks:
      - hmpps
    container_name: categorisation-wiremock
    restart: always
    ports:
      - '9091:8080'

networks:
  hmpps:
