{% extends "../formTemplate.html" %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "radios/macro.njk" import govukRadios %}
{% from "details/macro.njk" import govukDetails %}

{% set greenButtonText = "Continue" %}

{% set pageTitle = "Earliest release date" %}

{% block navigation %}

  {% if catType == 'RECAT' %}
    {% include "../../partials/breadCrumbTaskListRecat.html" %}
  {% else %}
    {% include "../../partials/breadCrumbTaskList.html" %}
  {% endif %}

{% endblock %}

{% set justifyTextHtml %}

  {{ govukTextarea({
    name: "justifyText",
    id: "justifyText",
    type: "justifyText",
    attributes: { 'maxlength': 50000 },
    label: {
      text: "Give details of these reasons"
    },
    value: data.openConditions.earliestReleaseDate.justifyText,
    errorMessage: {
      text: "Please enter details"
    } if (errors | findError('justifyText'))
  }) }}
  <div class="govuk-!-font-weight-bold">You’ll need to get approval in writing from the Governing Governor before you can send this prisoner to open conditions. You’ll need to save the approval.</div>

{% endset %}

{% set fiveOrMoreYearsTextHtml %}

  {{ govukRadios({
    formGroup: { classes: 'govuk-!-margin-bottom-6' },
    name: "justify",
    fieldset: {
      legend: {
        text: "Are there reasons to justify moving them to open conditions?"
      }
    },
    errorMessage: {
      text: "Please select yes or no"
    } if (errors | findError('justify')),
    items: [
      {
        value: "Yes",
        text: "Yes",
        checked: data.openConditions.earliestReleaseDate.justify === 'Yes',
        conditional: {
          html: justifyTextHtml
        }
      },
      {
        value: "No",
        checked: data.openConditions.earliestReleaseDate.justify === 'No',
        text: "No"
      }
    ]
  }) }}

{% endset %}

{% block formItems %}

<h1 class="govuk-heading-l">{{ pageTitle }}</h1>

  {% if featurePolicyChangeThreeToFiveEnabled %}
    {% set releaseDateHtml =  "Is it 5 or more years to their earliest release date?" %}
  {% else %}
    {% set releaseDateHtml =  "Is it 3 or more years to their earliest release date?" %}
  {% endif %}

  {{ govukRadios({
    name: "fiveOrMoreYears",
    fieldset: {
      legend: {
        text: releaseDateHtml
      }
    },
    errorMessage: {
      text: "Please select yes or no"
    } if (errors | findError('fiveOrMoreYears')),
    items: [
      {
        value: "Yes",
        text: "Yes",
        checked: data.openConditions.earliestReleaseDate.fiveOrMoreYears === 'Yes',
        conditional: {
          html: fiveOrMoreYearsTextHtml
        }
      },
      {
        value: "No",
        checked: data.openConditions.earliestReleaseDate.fiveOrMoreYears === 'No',
        text: "No"
      }
    ]
  }) }}

  {% set guidanceFiveOrMoreYears %}

    {% if featurePolicyChangeThreeToFiveEnabled %}
      <div class="govuk-!-margin-bottom-4">If they have 5 or more years to their earliest release date you will need to provide a reason to justify sending them to open conditions now.</div>
    {% else %}
      <div>If they have 3 or more years to their earliest release date you will need to provide a reason to justify sending them to open conditions now. In this case:</div>
    {% endif %}

    <div class="govuk-!-font-weight-bold govuk-!-padding-top-1">You should check:</div>
    <ul class="govuk-list govuk-list--bullet">
      <li>they meet standard criteria for open conditions</li>
      <li>for any exceptional reasons why they should be in open conditions</li>
    </ul>
    <div class="govuk-!-font-weight-bold govuk-!-padding-top-1">You are looking for:</div>
    <ul class="govuk-list govuk-list--bullet">
      <li>low risk of harm or absconding or taking advantage of low security</li>
      <li>work placements or further education opportunities that are critical to resettlement</li>
    </ul>

  {% endset %}

  {{ govukDetails({
    summaryText: "What information should I consider?",
    html: guidanceFiveOrMoreYears
  }) }}

{% endblock %}
