{% extends "../formTemplate.html" %}
{% from "radios/macro.njk" import govukRadios %}
{% from "details/macro.njk" import govukDetails %}
{% from "inset-text/macro.njk" import govukInsetText %}

{% set greenButtonText = "Continue" %}

{% set pageTitle = "Foreign national" %}

{% block navigation %}

  {% if catType == 'RECAT' %}
    {% include "../../partials/breadCrumbTaskListRecat.html" %}
  {% else %}
    {% include "../../partials/breadCrumbTaskList.html" %}
  {% endif %}

{% endblock %}

{% set dueDeportedTextHtml %}

  {{ govukRadios({
    formGroup: { classes: 'govuk-!-margin-bottom-6' },
    name: "exhaustedAppeal",
    fieldset: {
      legend: {
        text: "Have they been through all appeals processes in the UK?"
      }
    },
    errorMessage: {
      text: "Please select yes or no"
    } if (errors | findError('exhaustedAppeal')),
    items: [
      {
        value: "Yes",
        text: "Yes",
        checked: data.openConditions.foreignNational.exhaustedAppeal === 'Yes'
      },
      {
        value: "No",
        checked: data.openConditions.foreignNational.exhaustedAppeal === 'No',
        text: "No"
      }
    ]
  }) }}

{% endset %}

{% set formCompletedTextHtml %}

  {{ govukRadios({
    formGroup: { classes: 'govuk-!-margin-bottom-6' },
    name: "dueDeported",
    fieldset: {
      legend: {
        text: "Do they have a liability for deportation?"
      }
    },
    errorMessage: {
      text: "Please select yes or no"
    } if (errors | findError('dueDeported')),
    items: [
      {
        value: "Yes",
        text: "Yes",
        checked: data.openConditions.foreignNational.dueDeported === 'Yes',
        conditional: {
          html: dueDeportedTextHtml
        }
      },
      {
        value: "No",
        checked: data.openConditions.foreignNational.dueDeported === 'No',
        text: "No"
      }
    ]
  }) }}

{% endset %}

{% set isForeignNationalTextHtml %}

  {{ govukRadios({
    formGroup: { classes: 'govuk-!-margin-bottom-6' },
    name: "formCompleted",
    fieldset: {
      legend: {
        text: "Have the Home Office confirmed their immigration status?"
      }
    },
    errorMessage: {
      text: "Please select yes or no"
    } if (errors | findError('formCompleted')),
    items: [
      {
        value: "Yes",
        text: "Yes",
        checked: data.openConditions.foreignNational.formCompleted === 'Yes',
        conditional: {
          html: formCompletedTextHtml
        }
      },
      {
        value: "No",
        checked: data.openConditions.foreignNational.formCompleted === 'No',
        text: "No"
      }
    ]
  }) }}

{% endset %}

{% block formItems %}

<h1 class="govuk-heading-l">{{ pageTitle }}</h1>

  {{ govukInsetText({
    text: "Foreign Nationals should be considered for open conditions, unless they have a deportation order or have exhausted their appeal options."
  }) }}

  {{ govukRadios({
    name: "isForeignNational",
    fieldset: {
      legend: {
        text: "Are they a foreign national?"
      }
    },
    errorMessage: {
      text: "Please select yes or no"
    } if (errors | findError('isForeignNational')),
    items: [
      {
        value: "Yes",
        text: "Yes",
        checked: data.openConditions.foreignNational.isForeignNational === 'Yes',
        conditional: {
          html: isForeignNationalTextHtml
        }
      },
      {
        value: "No",
        checked: data.openConditions.foreignNational.isForeignNational === 'No',
        text: "No"
      }
    ]
  }) }}

  {% set guidanceIsForeignNational %}
<div class="govuk-!-font-weight-bold">You should check:</div>
<ul class="govuk-list govuk-list--bullet">
  <li>the completed CCD3 form (this should be on file or ask the case admin)</li>
</ul>
<div class="govuk-!-font-weight-bold govuk-!-padding-top-1">You are looking for:</div>
<ul class="govuk-list govuk-list--bullet">
  <li>if they have any appeals against deportation left</li>
</ul>
  {% endset %}

  {{ govukDetails({
    summaryText: "What information should I consider?",
    html: guidanceIsForeignNational
  }) }}

{% endblock %}
