{% extends "../formTemplate.html" %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "radios/macro.njk" import govukRadios %}
{% from "details/macro.njk" import govukDetails %}

{% set greenButtonText = "Continue" %}

{% set pageTitle = "Further charges" %}

{% block navigation %}

  {% if catType == 'RECAT' %}
    {% include "../../partials/breadCrumbTaskListRecat.html" %}
  {% else %}
    {% include "../../partials/breadCrumbTaskList.html" %}
  {% endif %}

{% endblock %}

{% set furtherChargesHtml %}
  {% if catType == 'INITIAL' %}
    <p>You should include all further charges, including minor offences.</p>
  {% endif %}

  {{ govukTextarea({
    name: "furtherChargesText",
    type: "furtherChargesText",
    attributes: { 'maxlength': 50000 },
    label: {
      text: "Details of further charges"
    },
    value: data.openConditions.furtherCharges.furtherChargesText,
    errorMessage: {
      text: "Please enter details"
    } if (errors | findError('furtherChargesText'))
  }) }}

  {{ govukRadios({
    formGroup: { classes: 'govuk-!-margin-bottom-6' },
    name: "increasedRisk",
    classes: "govuk-radios--inline",
    fieldset: { legend: { text: "Do these charges mean they pose an increased risk if placed in open conditions?" } },
    errorMessage: {
      text: "Please select yes or no"
    } if (errors | findError('increasedRisk')),
    items: [
      {
        value: "Yes",
        text: "Yes",
        checked: data.openConditions.furtherCharges.increasedRisk === 'Yes'
      },
      {
        value: "No",
        text: "No",
        checked: data.openConditions.furtherCharges.increasedRisk === 'No'
      }
    ]
  }) }}

{% endset %}

{% block formItems %}

<h1 class="govuk-heading-l">{{ pageTitle }}</h1>

  {% if catType === 'RECAT' %}
    {{ govukRadios({
      name: "furtherCharges",
      classes: "govuk-radios--inline",
      fieldset: { legend: { text: "Are they facing any further charges?" } },
      hint: {
        text: "You should include all further charges, including minor offences."
      },
      errorMessage: {
        text: "Please select yes or no"
      } if (errors | findError('furtherCharges')),
      items: [
        {
          value: "Yes",
          text: "Yes",
          checked: data.openConditions.furtherCharges.furtherCharges === 'Yes',
          conditional: {
            html: furtherChargesHtml
          }
        },
        {
          value: "No",
          text: "No",
          checked: data.openConditions.furtherCharges.furtherCharges === 'No'
        }
      ]
    }) }}
  {% else %}
    <input type="hidden" name="furtherCharges" value="Yes" />
    {{ furtherChargesHtml | safe }}
  {% endif %}

  {% set guidanceIncreasedRisk %}
<div class="govuk-!-font-weight-bold">You should check:</div>
<ul class="govuk-list govuk-list--bullet">
  <li>the amount of these charges</li>
  <li>the seriousness of these charges</li>
</ul>
<div class="govuk-!-font-weight-bol govuk-!-padding-top-1">You are looking for:</div>
<ul class="govuk-list govuk-list--bullet">
  <li>whether they might abscond to avoid further sentencing</li>
</ul>
  {% endset %}

  {{ govukDetails({
    summaryText: "What information should I consider?",
    html: guidanceIncreasedRisk
  }) }}

{% endblock %}
