{% extends "../formTemplate.html" %}
{% from "character-count/macro.njk" import govukCharacterCount %}
{% from "radios/macro.njk" import govukRadios %}
{% from "details/macro.njk" import govukDetails %}

{% set greenButtonText = "Continue" %}

{% block formItems %}

<h1 class="govuk-heading-l">Further charges</h1>

{{ govukCharacterCount({
    name: "furtherChargesText",
    type: "furtherChargesText",
    maxlength: 50000,
    threshold: 50,
    label: {
      text: "Details of further charges"
    },
    value: data.openConditions.furtherCharges.furtherChargesText,
    errorMessage: {
      text: "Please enter details"
    } if (errors | findError('furtherChargesText'))
  }) }}

  {{ govukRadios({
    formGroup: { classes: 'govuk-!-margin-bottom-6' },
    name: "increasedRisk",
    classes: "govuk-radios--inline",
    fieldset: {
      legend: {
        text: "Do these charges mean they pose an increased risk if placed in open conditions?"
      }
    },
    errorMessage: {
      text: "Please select yes or no"
    } if (errors | findError('increasedRisk')),
    items: [
      {
        value: "Yes",
        text: "Yes",
        checked: data.openConditions.furtherCharges.increasedRisk === 'Yes'
      },
      {
        value: "No",
        checked: data.openConditions.furtherCharges.increasedRisk === 'No',
        text: "No"
      }
    ]
  }) }}

  {% set guidanceIncreasedRisk %}
<div class="govuk-!-font-weight-bold">You should check:</div>
  <li>the amount of these charges</li>
  <li>the seriousness of these charges</li>
<div class="govuk-!-font-weight-bold">You are looking for:</div>
  <li>whether they might abscond to avoid further sentencing</li>
  {% endset %}

  {{ govukDetails({
    summaryText: "What information should I consider?",
    html: guidanceIncreasedRisk
  }) }}

{% endblock %}
