{% extends "../formTemplate.html" %}
{% from "warning-text/macro.njk" import govukWarningText %}

{% set greenButtonText = "Back to task list" %}
{% set pageTitle = "Not suitable for open conditions" %}

{% block navigation %}

  {% if catType == 'RECAT' %}
    {% include "../../partials/breadCrumbTaskListRecat.html" %}
  {% else %}
    {% include "../../partials/breadCrumbTaskList.html" %}
  {% endif %}

{% endblock %}

{% block formItems %}

<h1 class="govuk-heading-l">{{ pageTitle }}</h1>

{{ govukWarningText({
  text: warningText,
  iconFallbackText: "Warning",
  classes: "forms-warning-text warning-overrides govuk-!-padding-right-4"
}) }}

{% endblock %}
