{% extends "../../formPages/formTemplate.html" %}

{% from "radios/macro.njk" import govukRadios %}
{% from "details/macro.njk" import govukDetails %}

{% set cat = data.openConditionsSuggestedCat %}
{% set suggestedCat = data.categoriser.provisionalCategory.suggestedCategory if data.categoriser.provisionalCategory.suggestedCategory else data.openConditionsSuggestedCat%}
{% set overriddenCat = data.categoriser.provisionalCategory.overriddenCategory %}
{% set greenButtonText = "Submit" %}

{% set pageTitle = "Provisional category" %}

{% block navigation %}

{% if catType == 'RECAT' %}
{% include "../../partials/breadCrumbTaskListRecat.html" %}
{% else %}
{% include "../../partials/breadCrumbTaskList.html" %}
{% endif %}

{% endblock %}


{% block formItems %}

<h1 class="govuk-heading-l">{{ pageTitle }}</h1>

<div class="govuk-warning-text forms-info-text warning-overrides">
  <span class="govuk-warning-text__icon" aria-hidden="true">{{ displayIcon(cat) }}</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    The provisional category is {{ replaceCatLabel(cat) }}
  </strong>
</div>
<input type="hidden" name="suggestedCategory" value="{{ suggestedCat }}" />
<input type="hidden" name="categoryAppropriate" value="{{ data.categoriser.provisionalCategory.categoryAppropriate }}" />
<input type="hidden" name="overriddenCategoryText" value="{{ data.categoriser.provisionalCategory.overriddenCategoryText }}"/>
<input type="hidden" name="overriddenCategory" value="{{ overriddenCat }}"/>
<input type="hidden" name="otherInformationText" value="{{ data.categoriser.provisionalCategory.otherInformationText }}"/>
<input type="hidden" name="justification" value="{{ data.categoriser.provisionalCategory.justification }}"/>
<input type="hidden" name="openConditionsSuggestedCategory" value="{{ cat }}"/>

{% include "../../partials/warningIndeterminate.html" %}

{{ govukRadios({
  name: "openConditionsCategoryAppropriate",
  classes: "govuk-radios--inline",
  fieldset: {
    legend: {
    text: "Do you think the category is appropriate?",
    isPageHeading: false
    }
  },
  errorMessage: {
    text: "Please select yes or no"
  } if (errors | findError('openConditionsCategoryAppropriate')),
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
    {
      value: "No",
      text: "No"
    }
  ]
}) }}

{% endblock %}
