{% extends "../formTemplate.html" %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "radios/macro.njk" import govukRadios %}
{% from "details/macro.njk" import govukDetails %}

{% set greenButtonText = "Continue" %}
{% set pageTitle = "Risk of serious harm" %}

{% block navigation %}

  {% if catType == 'RECAT' %}
    {% include "../../partials/breadCrumbTaskListRecat.html" %}
  {% else %}
    {% include "../../partials/breadCrumbTaskList.html" %}
  {% endif %}

{% endblock %}

{% set harmManagedHtml %}

  {{ govukRadios({
    formGroup: { classes: 'govuk-!-margin-bottom-6' },
    name: "harmManaged",
    fieldset: {
      legend: {
        text: "Can this risk be managed in open conditions?"
      }
    },
    errorMessage: {
      text: "Please select yes or no"
    } if (errors | findError('harmManaged')),
    items: [
      {
        value: "Yes",
        text: "Yes",
        checked: data.openConditions.riskOfHarm.harmManaged === 'Yes'
      },
      {
        value: "No",
        checked: data.openConditions.riskOfHarm.harmManaged === 'No',
        text: "No"
      }
    ]
  }) }}
  {{ govukTextarea({
    name: "harmManagedText",
    id: "harmManagedText",
    type: "harmManagedText",
    attributes: { 'maxlength': 50000 },
    label: {
      text: "Give details of their risk level and any current measures for managing it."
    },
    value: data.openConditions.riskOfHarm.harmManagedText,
    errorMessage: {
      text: "Please enter details"
    } if (errors | findError('harmManagedText'))
  }) }}

{% endset %}

{% block formItems %}

<h1 class="govuk-heading-l">{{ pageTitle }}</h1>

  {{ govukRadios({
    name: "seriousHarm",
    fieldset: {
      legend: {
        text: "Is there any information that indicates they may pose a risk of serious harm to the public?"
      }
    },
    errorMessage: {
      text: "Please select yes or no"
    } if (errors | findError('seriousHarm')),
    items: [
      {
        value: "Yes",
        text: "Yes",
        checked: data.openConditions.riskOfHarm.seriousHarm === 'Yes',
        conditional: {
          html: harmManagedHtml
        }
      },
      {
        value: "No",
        checked: data.openConditions.riskOfHarm.seriousHarm === 'No',
        text: "No"
      }
    ]
  }) }}

  {% set guidanceSeriousHarm %}
<div class="govuk-!-font-weight-bold">You should check:</div>
<ul class="govuk-list govuk-list--bullet">
  <li>NOMIS</li>
  <li>ViSOR (Violent and Sex Offender Register)</li>
  <li>OASys assessment</li>
  <li>MAPPA level</li>
  <li>court documents</li>
  <li>PNC record</li>
  <li>their Police National Computer (PNC) record</li>
  <li>index offence</li>
</ul>
<div class="govuk-!-font-weight-bold govuk-!-padding-top-1">You are looking for:</div>
<ul class="govuk-list govuk-list--bullet">
  <li>a high ROSH score</li>
  <li>their risk management plan</li>
  <li>measures to safely manage risk</li>
  <li>any public protection or child restrictions</li>
</ul>
  {% endset %}

  {{ govukDetails({
    summaryText: "What information should I consider?",
    html: guidanceSeriousHarm
  }) }}

{% endblock %}
