{% extends "../formTemplate.html" %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "radios/macro.njk" import govukRadios %}
{% from "details/macro.njk" import govukDetails %}

{% set greenButtonText = "Continue" %}
{% set pageTitle = "Risk of escaping or absconding" %}

{% block navigation %}

  {% if catType == 'RECAT' %}
    {% include "../../partials/breadCrumbTaskListRecat.html" %}
  {% else %}
    {% include "../../partials/breadCrumbTaskList.html" %}
  {% endif %}

{% endblock %}

{% set likelyToAbscondHtml %}

  {{ govukTextarea({
    name: "likelyToAbscondText",
    id: "likelyToAbscondText",
    type: "likelyToAbscondText",
    label: {
      text: "Give details of this information"
    },
    attributes: { 'maxlength': 50000 },
    value: data.openConditions.riskLevels.likelyToAbscondText,
    errorMessage: {
      text: "Please enter details"
    } if (errors | findError('likelyToAbscondText'))
  }) }}

{% endset %}

{% block formItems %}

<h1 class="govuk-heading-l">{{ pageTitle }}</h1>

  {{ govukRadios({
    name: "likelyToAbscond",
    fieldset: {
      legend: {
        text: "Is there any information suggesting they are likely to abscond or take advantage of lower security?"
      }
    },
    errorMessage: {
      text: "Please select yes or no"
    } if (errors | findError('likelyToAbscond')),
    items: [
      {
        value: "Yes",
        text: "Yes",
        checked: data.openConditions.riskLevels.likelyToAbscond === 'Yes',
        conditional: {
          html: likelyToAbscondHtml
        }
      },
      {
        value: "No",
        checked: data.openConditions.riskLevels.likelyToAbscond === 'No',
        text: "No"
      }
    ]
  }) }}

{% set guidanceLikelyToAbscond %}
<div class="govuk-!-font-weight-bold">You should check:</div>
<ul class="govuk-list govuk-list--bullet">
  <li>any confiscation, serious crime prevention or restraining orders that are in force</li>
  <li>public protection or child restrictions</li>
  <li>any ongoing proceedings</li>
  <li>if they have a history of any arson offences</li>
</ul>
<div class="govuk-!-font-weight-bold govuk-!-padding-top-1">You are looking for:</div>
<ul class="govuk-list govuk-list--bullet">
  <li>if they owe money</li>
  <li>the amount owed in any confiscation orders</li>
  <li>the value in any Schedules of Assets, if a court order is not yet imposed</li>
  <li>if the liquidity of their assets poses a risk</li>
  <li>if they have time to serve in lieu</li>
  <li>if they have escaped or absconded in the past</li>
</ul>
{% endset %}

  {{ govukDetails({
    summaryText: "What information should I consider?",
    html: guidanceLikelyToAbscond
  }) }}

{% endblock %}
