{% extends "./formTemplate.html" %}
{% from "summary-list/macro.njk" import govukSummaryList %}

{% block content %}

<div class="govuk-grid-row govuk-body-s">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Categorisation outcome</h1>

    {% set cat = data.categoriser.provisionalCategory.suggestedCategory %}
    {% set overriddenCat = data.categoriser.provisionalCategory.overriddenCategory %}
    {% set categoriserCat = overriddenCat or cat %}
    {% set superCat = data.supervisor.review.supervisorOverriddenCategory if data.supervisor.review.supervisorCategoryAppropriate == 'No' %}
    {% set currentCat = superCat or overriddenCat or cat %}

    <div id="category-div" class="govuk-warning-text forms-info-text warning-overrides">
      <span class="govuk-warning-text__icon" aria-hidden="true">{{ currentCat }}</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        Category {{ currentCat }}
      </strong>
    </div>

    <h2 class="govuk-heading-s">Categoriser decision</h2>
    {% if overriddenCat %}
    <div class="govuk-warning-text forms-info-text warning-overrides">
      <span class="govuk-warning-text__icon override-old-cat-icon" aria-hidden="true">{{ cat }}</span>
      <span class="warning-arrow"><img src='/assets/images/Triangle.png' alt='arrow' height='18' width='12'/></span>
      <span class="govuk-warning-text__icon override-cat-icon" aria-hidden="true">{{ overriddenCat }}</span>
      <div class="govuk-warning-text__text override-icon-text">
        <span class="govuk-warning-text__assistive">Warning</span>
        The recommended category was changed from a {{ cat }} to a {{ overriddenCat }}
      </div>
    </div>
    <div class="govuk-!-margin-bottom-6">
      <label for="overriddenText">Comments</label>
      <div class="forms-comments-text" id="overriddenText">{{ data.categoriser.provisionalCategory.overriddenCategoryText }}
      </div>
    </div>
    {% else %}
    <div class="govuk-warning-text forms-info-text warning-overrides govuk-!-margin-bottom-6">
      <span class="govuk-warning-text__icon" aria-hidden="true">{{ cat }}</span>
      <div class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        The categoriser recommends category {{ cat }}
      </div>
    </div>
    {% endif %}

    <h2 class="govuk-heading-s">Supervisor decision</h2>
    {% if superCat %}
    <div class="govuk-warning-text forms-supervisor-info-text warning-overrides">
      <span class="govuk-warning-text__icon override-old-cat-icon" aria-hidden="true">{{ categoriserCat }}</span>
      <span class="warning-arrow"><img src='/assets/images/Triangle.png' alt='arrow' height='18' width='12'/></span>
      <span class="govuk-warning-text__icon override-cat-icon" aria-hidden="true">{{ superCat }}</span>
      <div class="govuk-warning-text__text override-icon-text">
        <span class="govuk-warning-text__assistive">Warning</span>
        The recommended category was changed from a {{ categoriserCat }} to a {{ superCat }}
      </div>
    </div>
    <div class="govuk-!-margin-bottom-6">
      <label for="overriddenText-2">Comments</label>
      <div class="forms-comments-text" id="overriddenText-2">{{ data.supervisor.review.supervisorOverriddenCategoryText }}
      </div>
    </div>
    {% else %}
    <div class="govuk-warning-text forms-supervisor-info-text warning-overrides govuk-!-margin-bottom-6">
      <span class="govuk-warning-text__icon" aria-hidden="true">{{ categoriserCat }}</span>
      <div class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        The supervisor also recommends category {{ categoriserCat }}
      </div>
    </div>
    {% endif %}

    {% set showChangeLinks = false %}

    {% include "../partials/reviewContents.html" %}

    <h2 class="govuk-heading-m">Other information</h2>
    {{ govukSummaryList({
      classes: 'govuk-!-margin-bottom-9',
      rows: [
      {
      key: { text: "Other relevant information" },
      value: { text: data.categoriser.provisionalCategory.otherInformationText if data.categoriser.provisionalCategory.otherInformationText else 'None' },
      actions: { items: [] }
      }
      ]
    }) }}
  </div>
</div>

{{ govukButton({
  href: backLink,
  text: "Back to case list"
}) }}

{% endblock %}
