{% extends "./formTemplate.html" %}
{% from "summary-list/macro.njk" import govukSummaryList %}
{% from "radios/macro.njk" import govukRadios %}

{% set googleAnalyticsHideTitle = true %}
{% set pageTitle = "Confirm cancellation" %}
{% set greenButtonText = "Continue" %}

{% block formItems %}

  <h1 class="govuk-heading-l">Confirm cancellation</h1>

  <p class="govuk-!-margin-bottom-8">The following information will be removed. You can restart the categorisation for this prisoner after cancelling.</p>

  <div class="govuk-body-s">
    <div class="govuk-!-width-full">

      {% set showChangeLinks = false %}

      {% if catType == "INITIAL" %}

        {% set cat = data.categoriser.provisionalCategory.suggestedCategory %}
        {% set overriddenCat = data.categoriser.provisionalCategory.overriddenCategory %}
        {% set currentCat = overriddenCat if overriddenCat else cat %}

        {% include "../partials/reviewContents.html" %}

        {% if (currentCat == "D" or currentCat == "J" or data.openConditions) %}

          <h1 class="govuk-heading-l openConditionsHeader">Open Conditions</h1>
          {% set showOpenConditionChangeLinks = false %}
          {% include "../partials/reviewContentsOpenConditions.html" %}

        {% endif %}

        <h2 class="govuk-heading-m">Other information</h2>
        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9 otherInformationSummary',
          rows: [
            {
              key: { text: "Information about why this category is appropriate" if data.categoriser.provisionalCategory.justification else "Other relevant information" },
              value: { text: data.categoriser.provisionalCategory.justification if data.categoriser.provisionalCategory.justification else (data.categoriser.provisionalCategory.otherInformationText if data.categoriser.provisionalCategory.otherInformationText else 'None') },
              actions: { items: [] }
            }
          ]
        }) }}

      {% else %}

        {% set cat = data.recat.decision.category %}
        {% include "../partials/reviewContentsRecat.html" %}

        {% if (cat == "D" or cat == "J" or data.openConditions) %}

          <h1 class="govuk-heading-l openConditionsHeader">Open Conditions</h1>
          {% set showOpenConditionChangeLinks = false %}
          {% include "../partials/reviewContentsOpenConditions.html" %}

        {% endif %}
      {% endif %}
    </div>
  </div>

  <h2 class="govuk-heading-m">Are you sure you want to cancel this categorisation?</h2>

  {{ govukRadios({
    name: "confirm",
    errorMessage: { text: "Please select yes or no" } if (errors | findError('confirm')),
    items: [
      {
        value: "Yes",
        text: "Yes"
      },
      {
        value: "No",
        text: "No"
      }
    ]
  }) }}

  <input name="referer" type="hidden" value="{{ data.referer }}" />

{% endblock %}
