{% extends "./partials/layout.html" %}

{% set pageTitle = "Accessibility statement for the Digital Categorisation Service" %}

{% block content %}

<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Accessibility statement for the Digital Categorisation Service</li>
    </ol>
</nav>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

        <p>This page only contains information about the Digital Categorisation Service, available at: <a href="/">https://offender-categorisation.service.justice.gov.uk</a>.</p>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Using this service</h2>
        <p>This service is run by HMPPS Digital Services. We want as many people as possible to be able to use this service.</p>
        <p>For example, that means you should be able to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>change colours, contrast levels and fonts</li>
            <li>zoom in up to 300% without the text spilling off the screen</li>
            <li>get from the start of the service to the end using just a keyboard</li>
            <li>get from the start of the service to the end using speech recognition software</li>
            <li>listen to the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
        </ul>


        <p>We’ve also made the text in the service as simple as possible to understand.</p>
        <p><a title="AbilityNet link" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">How accessible this service is</h2>
        <p>We know some parts of this service are not fully accessible:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>some documents are in PDF or other non-HTML formats and are not accessible</li>
        </ul>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Feedback and contact information</h2>
        <p>If you have difficulty using this service, email: <a href="mailto:secure.estate.digital@digital.justice.gov.uk">secure.estate.digital@digital.justice.gov.uk</a></p>
        <p>As part of providing this service, we may need to send you messages or documents. We’ll ask you how you want us to send messages or documents to you, but contact us if you need them in a different format. For example large print, audio recording or braille.</p>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Reporting accessibility problems with this service</h2>
        <p>We’re always looking to improve the accessibility of this service.</p>
        <p>If you find any problems that are not listed on this page or think we’re not meeting accessibility requirements, email: <a href="mailto:secure.estate.digital@digital.justice.gov.uk">secure.estate.digital@digital.justice.gov.uk</a></p>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Enforcement procedure</h2>
        <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).</p>
        <p>If you’re not happy with how we respond to your complaint, contact <a href="https://www.equalityadvisoryservice.com/" title="the Equality Advisory and Support Service link">the Equality Advisory and Support Service (EASS)</a>.</p>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Technical information about this service’s accessibility</h2>
        <p>HMPPS Digital Services is committed to making this service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Compliance status</h3>
        <p>This service is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/" title="Link to Web Content Accessiblity Guidelines">Web Content Accessibility Guidelines version 2.1 AA standard</a>, due to the non-compliances listed below.</p>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Non accessible content</h2>
        <p>The content listed below is non-accessible for the following reasons.</p>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Non-compliance with the accessibility regulations</h3>
        <p>PDFs and other documents are not accessible in a number of ways including missing text alternatives and missing document structure. This fails <a href="https://www.w3.org/TR/WCAG21/#non-text-content">WCAG 1.1.1 A (Non-text Content)<a/> and <a href="https://www.w3.org/TR/WCAG21/#page-titled">WCAG 2.4.2 A (Page Titled)</a>.</p>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Disproportionate burden</h3>
        <p>Not applicable.</p>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Content that’s not within the scope of the accessibility regulations</h3>
        <p>Not applicable.</p>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">What we are doing to improve accessibility</h2>
        <p>We’ll carry out on-going internal audits to check the accessibility of this service as well as taking feedback from users.</p>
        <p>Any required changes will be planned into our continuous improvement work for this service.</p>
        <p>This accessibility statement will be updated based on any issues we identify or any changes we make to address any issues raised.</p>

        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Preparation of this accessibility statement</h2>
        <p>This statement was prepared on Tuesday 28 February 2023. It was last reviewed on Thursday 02 March 2023.</p>
        <p>This service was last tested on Monday 19 December 2022. The test was carried out by the Ministry of Justice Assistive Technology Support Team.</p>
        <p>Last updated: Tuesday 28 February 2023</p>

    </div>
</div>
{% endblock %}
