version: 2.1
develop_branch:
  filters:
    branches:
      only:
        - develop
main_branch:
  filters:
    branches:
      only:
        - main
orbs:
  hmpps: ministryofjustice/hmpps@8
  browser-tools: circleci/browser-tools@1.4.8
parameters:
  node-version:
    type: string
    default: 24.11-browsers
  nonprod-releases-slack-channel:
    type: string
    default: sed-nonprod-releases
  releases-slack-channel:
    type: string
    default: dps-releases
executors:
  builder:
    docker:
      - image: cimg/node:<< pipeline.parameters.node-version >>
    working_directory: ~/app
jobs:
  build:
    executor: builder
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: Install Dependencies
          command: npm --version && npm run setup
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
            - ~/.cache
      - run:
          name: Linter check
          command: npm run lint
      - run:
          command: |
            npm run build
            DATE=$(date '+%Y-%m-%d')
            export BUILD_NUMBER=${DATE}.${CIRCLE_BUILD_NUM}
            export GIT_REF="$CIRCLE_SHA1"
            npm run record-build-info
      - persist_to_workspace:
          root: .
          paths:
            - node_modules
            - assets/stylesheets
            - dist
  test:
    executor: builder
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: unit tests
          command: npm run test
      - store_test_results:
          path: ./reports
  integration_tests:
    working_directory: ~/app
    docker:
      - image: cimg/node:<< pipeline.parameters.node-version >>
        environment:
          RP_QUEUE_ACCESS_KEY_ID: 'dummy'
          RP_QUEUE_SECRET_ACCESS_KEY: 'dummy'
          RP_DL_QUEUE_ACCESS_KEY_ID: 'dummy'
          RP_DL_QUEUE_SECRET_ACCESS_KEY: 'dummy'
          EVENT_QUEUE_ACCESS_KEY_ID: 'dummy'
          EVENT_QUEUE_SECRET_ACCESS_KEY: 'dummy'
          EVENT_DL_QUEUE_ACCESS_KEY_ID: 'dummy'
          EVENT_DL_QUEUE_SECRET_ACCESS_KEY: 'dummy'
      - image: cimg/postgres:14.3
        environment:
          POSTGRES_USER: form-builder
          POSTGRES_DB: form-builder
      - image: redis
      - image: localstack/localstack
        environment:
          SERVICES: sqs
          PERSISTENCE: /tmp/localstack/data
          TMP_DIR: /private
          AWS_DEFAULT_REGION: eu-west-2
    resource_class: large
    steps:
      - hmpps/install_aws_cli
      - checkout
      - run: sudo apt-get update
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - attach_workspace:
          at: ~/app
      - hmpps/wait_till_ready # Wait for localstack to start before creating resources
      - run:
          name: Create localstack queues
          command: |
            export AWS_PAGER=""
            aws --endpoint-url http://localhost:4566 --region eu-west-2 sqs create-queue --queue-name event
            aws --endpoint-url http://localhost:4566 --region eu-west-2 sqs create-queue --queue-name risk_profiler_change
            aws --endpoint-url http://localhost:4566 --region eu-west-2 sqs create-queue --queue-name event_dlq
            aws --endpoint-url http://localhost:4566 --region eu-west-2 sqs create-queue --queue-name risk_profiler_change_dlq
      - run:
          name: Run the node app.
          command: npm start
          background: true
      - hmpps/wait_till_ready:
          # Wait for node app to start
          port: 3000
      - restore_cache:
          key: gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
      - restore_cache:
          key: gradle-cache-{{ checksum "integration-tests/build.gradle" }}
      - run:
          name: Run Integration Tests
          command: chmod +x gradlew && ./gradlew build
      - save_cache:
          key: gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
          paths:
            - /home/circleci/.gradle/wrapper
      - save_cache:
          key: gradle-cache-{{ checksum "integration-tests/build.gradle" }}
          paths:
            - /home/circleci/.gradle/caches
      - store_artifacts:
          path: integration-tests/build/reports
          destination: integration/spock
      - store_artifacts:
          path: integration-tests/build/geb-reports
          destination: integration/geb
      - store_test_results:
          path: integration-tests/build/test-results
  integration_tests_cypress:
    working_directory: ~/app
    docker:
      - image: cimg/node:<< pipeline.parameters.node-version >>
        environment:
          RP_QUEUE_ACCESS_KEY_ID: 'dummy'
          RP_QUEUE_SECRET_ACCESS_KEY: 'dummy'
          RP_DL_QUEUE_ACCESS_KEY_ID: 'dummy'
          RP_DL_QUEUE_SECRET_ACCESS_KEY: 'dummy'
          EVENT_QUEUE_ACCESS_KEY_ID: 'dummy'
          EVENT_QUEUE_SECRET_ACCESS_KEY: 'dummy'
          EVENT_DL_QUEUE_ACCESS_KEY_ID: 'dummy'
          EVENT_DL_QUEUE_SECRET_ACCESS_KEY: 'dummy'
      - image: cimg/postgres:14.3
        environment:
          POSTGRES_USER: form-builder
          POSTGRES_DB: form-builder
      - image: redis
      - image: localstack/localstack:3.0.0
        environment:
          SERVICES: sqs
          PERSISTENCE: /tmp/localstack/data
          TMP_DIR: /private
          AWS_DEFAULT_REGION: eu-west-2
    steps:
      - hmpps/install_aws_cli
      - checkout
      - attach_workspace:
          at: ~/app
      - run:
          name: Install missing OS dependency
          command: sudo apt-get install libxss1
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: Install Dependencies
          command: npm --version && npm ci
      - run:
          name: Get wiremock
          command: curl -o wiremock.jar https://repo1.maven.org/maven2/com/github/tomakehurst/wiremock-standalone/2.27.1/wiremock-standalone-2.27.1.jar
      - run:
          name: Run wiremock
          command: java -jar wiremock.jar --port 9091
          background: true
      - hmpps/wait_till_ready # Wait for localstack to start before creating resources
      - run:
          name: Create localstack queues
          command: |
            export AWS_PAGER=""
            aws --endpoint-url http://localhost:4566 --region eu-west-2 sqs create-queue --queue-name event
            aws --endpoint-url http://localhost:4566 --region eu-west-2 sqs create-queue --queue-name risk_profiler_change
            aws --endpoint-url http://localhost:4566 --region eu-west-2 sqs create-queue --queue-name event_dlq
            aws --endpoint-url http://localhost:4566 --region eu-west-2 sqs create-queue --queue-name risk_profiler_change_dlq
      - run:
          name: Run the node app.
          command: npm run start-feature
          background: true
      - run:
          name: Wait for node app to start
          command: sleep 5
      - run:
          name: integration tests
          command: npm run int-test
      - store_test_results:
          path: test_results
      - store_artifacts:
          path: integration-tests/videos
      - store_artifacts:
          path: integration-tests/screenshots
workflows:
  version: 2
