{% extends "../formTemplate.html" %}
{% from "summary-list/macro.njk" import govukSummaryList %}

{% set googleAnalyticsHideTitle = true %}
{% set pageTitle = "Categorisation review outcome" %}

{% block beforeContent %}
  {% include "../../partials/breadCrumb.html" %}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script src="/assets/js/handle-approved-view-print.js"></script>
{% endblock %}

{% block content %}

  {% include "../../partials/offenderDetails.html" %}
  <hr/>

  <div class="govuk-!-margin-bottom-6">
    <h1 class="govuk-!-width-two-thirds govuk-heading-l govuk-!-display-inline mainHeading">
      {{ pageTitle }}
    </h1>
    <div class="govuk-!-width-one-third govuk-!-display-inline">
      <a class="govuk-link rightAlignedButton" href="#" id="handlePrint">
        <img class="print-icon" src="/assets/images/Printer_icon.png" height="23" width="20" alt="Print icon"/>
        Print this page
      </a>
    </div>
  </div>
  <div class="govuk-body-s">

    <div class="govuk-!-width-two-thirds">
    {% set categoriserCat = data.recat.decision.category %}
    {% set superCat = data.supervisor.review.supervisorOverriddenCategory if data.supervisor.review.supervisorCategoryAppropriate == 'No' %}
    {% set superOtherComments = data.supervisor.furtherInformation.otherInformationText %}
    {% set superPreviousOverrideComments = data.supervisor.review.previousOverrideCategoryText %}
    {% set currentCat = superCat or categoriserCat %}

    <div id="category-div" class="govuk-warning-text forms-info-text warning-overrides">
        <span class="govuk-warning-text__icon" aria-hidden="true">{{ displayIcon(currentCat) }}</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
            {{ catLabel(currentCat) }}
        </strong>
    </div>

    <h2 class="govuk-heading-s no-print">Categoriser decision</h2>
    <div class="govuk-warning-text forms-info-text warning-overrides govuk-!-margin-bottom-6 no-print">
      <span class="govuk-warning-text__icon" aria-hidden="true">{{ displayIcon(categoriserCat) }}</span>
      <div class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        The categoriser recommends {{ replaceCatLabel(categoriserCat) }}
      </div>
    </div>

    <h2 class="govuk-heading-s no-print">Supervisor decision</h2>
    {% if superCat %}
      <div class="govuk-warning-text forms-supervisor-info-text warning-overrides no-print">
        <span class="govuk-warning-text__icon override-old-cat-icon" aria-hidden="true">{{ displayIcon(categoriserCat) }}</span>
        <span class="warning-arrow"><img src='/assets/images/Triangle.png' alt='arrow' height='18' width='12'/></span>
        <span class="govuk-warning-text__icon override-cat-icon" aria-hidden="true">{{ displayIcon(superCat) }}</span>
        <div class="govuk-warning-text__text override-icon-text">
          <span class="govuk-visually-hidden">Warning</span>
          The recommended category was changed from {{ replaceCatLabel(categoriserCat) }} to {{ replaceCatLabel(superCat) }}
        </div>
      </div>
    {% else %}
      <div class="govuk-warning-text forms-supervisor-info-text warning-overrides govuk-!-margin-bottom-6 no-print">
        <span class="govuk-warning-text__icon" aria-hidden="true">{{ displayIcon(categoriserCat) }}</span>
        <div class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          The supervisor also recommends {{ replaceCatLabel(categoriserCat) }}
        </div>
      </div>
    {% endif %}

    {% set supervisorOverriddenCategoryText = data.supervisor.review.supervisorOverriddenCategoryText if data.supervisor.review.supervisorOverriddenCategoryText else data.supervisor.changeCategory.supervisorOverriddenCategoryText %}


      {% if (superCat and supervisorOverriddenCategoryText) or superOtherComments or superPreviousOverrideComments %}
      <div class="govuk-!-margin-bottom-6">
        <label for="overriddenText-2" class="govuk-!-font-weight-bold">Comments</label>
        {% if superCat and supervisorOverriddenCategoryText %}
          <div class="forms-comments-text govuk-!-margin-bottom-1" id="overriddenText-2">{{ supervisorOverriddenCategoryText }}</div>
        {% endif %}
        {% if superPreviousOverrideComments %}
          <div class="forms-comments-text govuk-!-margin-bottom-1" id="previous-overriddenText">{{ superPreviousOverrideComments }}</div>
        {% endif %}
        {% if superOtherComments %}
          <div class="forms-comments-text govuk-!-margin-bottom-1" id="other-text-supervisor">{{ superOtherComments }}</div>
        {% endif %}
      </div>
    {% endif %}
    </div>
    <div class="govuk-!-width-full">

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-7 dateAndPrison',
        rows: [
          { key: { text: "Approval date" }, value: { text: approvalDateDisplay} },
          { key: { text: "Categorisation prison" }, value: { text: prisonDescription} }
        ]
      }) }}

    {% set showChangeLinks = false %}
    {% include "../../partials/reviewContentsRecat.html" %}

    {% if (currentCat == "D" or currentCat == "J" or data.openConditions) %}

      <h1 class="govuk-heading-l openConditionsHeader">Open Conditions</h1>
      {% set showOpenConditionChangeLinks = false %}
      {% include "../../partials/reviewContentsOpenConditions.html" %}

    {% endif %}
    </div>
  </div>

{{ govukButton({
  href: "/",
  text: "Back to case list",
  classes: "govuk-grid-row"
}) }}

{% endblock %}
