{% extends "../formTemplate.html" %}
{% from "summary-list/macro.njk" import govukSummaryList %}

{% set greenButtonText = "Continue" %}

{% block content %}

<div class="govuk-grid-row govuk-body-s">
  <div>

    <h1 class="govuk-heading-l mainHeading">Provisional categorisation</h1>

    {% set cat = data.recat.decision.category %}

    <div id="category-div" class="govuk-warning-text forms-info-text warning-overrides">
      <span class="govuk-warning-text__icon" aria-hidden="true">{{ cat }}</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        Category for approval is {{ catDisplay(cat) }}
      </strong>
    </div>

    {% set showChangeLinks = false %}
    {% include "../../partials/reviewContentsRecat.html" %}

    {% if (cat == "D" or cat == "J") %}

      <h1 class="govuk-heading-l openConditionsHeader">Open Conditions</h1>
      {% set showOpenConditionChangeLinks = false %}
      {% include "../../partials/reviewContentsOpenConditions.html" %}

    {% endif %}
  </div>
</div>

{% endblock %}
