{% extends "../formTemplate.html" %}
{% from "summary-list/macro.njk" import govukSummaryList %}

{% set greenButtonText = "Continue" %}
{% set pageTitle = "Provisional categorisation" %}

{% block content %}

<div class="govuk-grid-row govuk-body-s">
  <div>

    <h1 class="govuk-heading-l mainHeading">{{ pageTitle }}</h1>

    {% set cat = data.recat.decision.category %}

    <div id="category-div" class="govuk-warning-text forms-info-text warning-overrides">
      {% if cat === 'D' or cat === 'I' or cat === 'J' or cat === 'R' or cat === 'T' %}
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      {% else %}
        <span class="govuk-warning-text__icon" aria-hidden="true">{{ cat }}</span>
      {% endif %}
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          {% if user.activeCaseLoad.female %}
            Category for approval is {{ femaleCatMappings(cat) }}
          {% else %}
            Category for approval is {{ catDisplay(cat) }}
          {% endif %}
        </strong>
    </div>

    {% set showChangeLinks = false %}
    {% include "../../partials/reviewContentsRecat.html" %}

    {% if (cat == "D" or cat == "J" or data.openConditions) %}

      <h1 class="govuk-heading-l openConditionsHeader">Open Conditions</h1>
      {% set showOpenConditionChangeLinks = false %}
      {% include "../../partials/reviewContentsOpenConditions.html" %}

    {% endif %}
    <a class="govuk-!-font-size-19" href="/form/cancel/{{ data.details.bookingId }}" id="cancelLink">Cancel this categorisation</a>
  </div>
</div>

{% endblock %}
