{% extends "../formTemplate.html" %}
{% from "radios/macro.njk" import govukRadios %}
{% from "warning-text/macro.njk" import govukWarningText %}
{% from "character-count/macro.njk" import govukCharacterCount %}
{% from "details/macro.njk" import govukDetails %}
{% set greenButtonText = "Continue" %}

{% set pageTitle = "Category C preliminary review questions" %}

{% block navigation %}

{% include "../../partials/breadCrumbTaskListRecat.html" %}

{% endblock %}

{% block formItems %}

<h1 id="fasttract2Header" class="govuk-heading-l">Should they remain in Category C conditions?</h1>

  {{ govukRadios({
    name: "remainCatC",
    classes: "govuk-radios--inline",
    errorMessage: {
      text: "Please select yes or no"
    } if (errors | findError('remainCatC')),
    items: [
      {
        value: "Yes",
        text: "Yes, they should remain in Category C conditions",
        checked: data.recat.fasttrackRemain.remainCatC === 'Yes',
        hint: { text: "This will automatically fill in the review for you. You can check it before submitting."
        }
      },
      {
        value: "No",
        checked: data.recat.fasttrackRemain.remainCatC === 'No',
        text: "No, I want to change their category",
        hint:  { text: "You will fill in the category review in full."
        }
      }
    ]
  }) }}



{% endblock %}
