{% set mainClasses = 'govuk-!-width-two-thirds' %}
{% extends "../../partials/layout.html" %}
{% from "button/macro.njk" import govukButton %}
{% from "panel/macro.njk" import govukPanel %}

{% block content %}

<h1 id="fasttrackConfirmationHeader" class="govuk-heading-l">This category review has been filled in automatically for you</h1>

<p>You will need to check it before submitting. You can also edit any answers.</p>

{{ govukButton({
  text: "Return to task list",
  href: "/tasklistRecat/" + bookingId
}) }}

{% endblock %}

