{% set mainClasses = 'govuk-!-width-two-thirds' %}
{% extends "../../partials/layout.html" %}
{% from "button/macro.njk" import govukButton %}
{% from "panel/macro.njk" import govukPanel %}

{% block content %}

<h1 id="fasttrackConfirmationHeader" class="govuk-heading-l">You need to do a complete category review</h1>

<p>This is because their risk level seems to have changed.</p>

<p>‘Category C preliminary review questions’ has been removed from your task list.</p>

{{ govukButton({
  text: "Return to task list",
  href: "/tasklistRecat/" + bookingId
}) }}

{% endblock %}
