{% extends "../formTemplate.html" %}
{% from "radios/macro.njk" import govukRadios %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "details/macro.njk" import govukDetails %}

{% set pageTitle = "Higher Security Review" %}

{% block navigation %}

{% include "../../partials/breadCrumbTaskListRecat.html" %}

{% endblock %}

{% block formItems %}

<h1 id="higherSecurityReviewHeader" class="govuk-heading-l">{{ pageTitle }}</h1>

 {{ govukTextarea({
    name: "behaviour",
    type: "behaviour",
    id: "behaviour",
    attributes: { 'maxlength': 50000 },
    label: {
      text: "What behaviour or incident has occurred to suggest the need for higher security conditions?"
    },
    value: data.recat.higherSecurityReview.behaviour,
    errorMessage: {
      text: "Please enter details"
    } if (errors | findError('behaviour'))
  }) }}

{% set guidanceWhatBehaviour %}
  <ul class="govuk-list govuk-list--bullet">
    <li>Have they given genuine cause to suspect that they may escape?</li>
    <li>Does the risk to the public if they did escape outweigh the benefits of holding them in lower category conditions?</li>
    <li>Have they demonstrated a pattern of behaviour which clearly indicates that they are engaging in serious ongoing criminality?</li>
    <li>Do they pose a serious risk to the safety of either staff or other prisoners in the establishment?</li>
    <li>Do they frequently engage in behaviour which seriously impedes the delivery of the regime and/or the good order of the establishment?</li>
    <li>Has the offender been charged or is highly likely to be charged with a serious further offence?</li>
  </ul>
  <div class="govuk-!-font-weight-bold govuk-!-padding-top-1">Potential sources to consider include:</div>
  <ul class="govuk-list govuk-list--bullet">
    <li>OASys</li>
    <li>CSIP notes</li>
    <li>Adjudications</li>
    <li>The individual’s keyworker</li>
    <li>NOMIS case notes</li>
    <li>Referral to Security</li>
  </ul>
{% endset %}

{{ govukDetails({
  summaryText: "What sort of behaviour would suggest this?",
  html: guidanceWhatBehaviour
}) }}

 {{ govukTextarea({
    name: "steps",
    type: "steps",
    id: "steps",
    attributes: { 'maxlength': 50000 },
    label: {
      text: "What steps have been taken to manage the behaviour within the prison?"
    },
    value: data.recat.higherSecurityReview.steps,
    errorMessage: {
      text: "Please enter details"
    } if (errors | findError('steps'))
  }) }}

{% set guidanceWhatSteps %}
<ul class="govuk-list govuk-list--bullet">
  <li>Have they given genuine cause to suspect that they may escape?</li>
  <li>Have they been placed on report? (how often and for what?)</li>
  <li>Have they spent periods of time in Segregation? (How many, how long, for what?)</li>
  <li>Have they been on CSIP or similar monitoring?</li>
  <li>Have they been held in alternative locations within the current establishment?</li>
</ul>
<div class="govuk-!-font-weight-bold govuk-!-padding-top-1">Potential sources to consider include:</div>
<ul class="govuk-list govuk-list--bullet">
  <li>OASys</li>
  <li>CSIP notes</li>
  <li>Adjudications</li>
  <li>The individual’s keyworker</li>
  <li>NOMIS case notes</li>
  <li>Information from Security</li>
</ul>
{% endset %}

{{ govukDetails({
  summaryText: "What sort of information should I include?",
  html: guidanceWhatSteps
}) }}

{% set transferTextHtml %}

  {{ govukTextarea({
    name: "transferText",
    type: "transferText",
    id: "transferText",
    attributes: { 'maxlength': 50000 },
    label: {
      text: "Explain your reasons why"
    },
    value: data.recat.higherSecurityReview.transferText,
    errorMessage: {
      text: "Please enter details"
    } if (errors | findError('transferText'))
  }) }}

{% endset -%}

  {{ govukRadios({
    name: "transfer",
    id: "transfer",
    classes: "govuk-radios--inline",
    fieldset: {
      legend: {
        text: "Could the behaviour be managed by transfer to another prison of the same category?",
        isPageHeading: false
      }
    },
    errorMessage: {
      text: "Please select yes or no"
    } if (errors | findError('transfer')),
    items: [
      {
        value: "Yes",
        text: "Yes",
        checked: data.recat.higherSecurityReview.transfer === 'Yes'
      },
      {
        value: "No",
        text: "No",
        checked: data.recat.higherSecurityReview.transfer === 'No',
        conditional: {
          html:transferTextHtml
        }
      }
    ]
  }) }}

{% set guidanceTransferConditions %}
<ul class="govuk-list govuk-list--bullet">
  <li>Is their behaviour driven by something at their current prison?</li>
  <li>Have all avenues to manage their behaviour at the current establishment been exhausted?</li>
  <li>Have they been in custody at another establishment of the same category?</li>
  <li>Does the risk that they pose (to the public, to staff, to other prisoners, and to the good order of the establishment) outweigh the risk of holding them in their current category?</li>
</ul>
{% endset %}

{{ govukDetails({
summaryText: "What sort of information should I include?",
html: guidanceTransferConditions
}) }}

 {{ govukTextarea({
    name: "conditions",
    type: "conditions",
    id: "conditions",
    attributes: { 'maxlength': 50000 },
    label: {
      text: "What security conditions in the higher category prison are necessary to manage this person safely and securely?"
    },
    value: data.recat.higherSecurityReview.conditions,
    errorMessage: {
      text: "Please enter details"
    } if (errors | findError('conditions'))
  }) }}

{% set guidanceWhatConditions %}
<ul class="govuk-list govuk-list--bullet">
  <li>Do they require an increased staff/prisoner ratio to monitor their behaviour?</li>
  <li>Are the additional physical security measures in higher category prisoners more appropriate to manage their behaviour?</li>
  <li>Do they require management via a specialist supervision centre or other facility only available in higher category conditions?</li>
</ul>
{% endset %}

{{ govukDetails({
  summaryText: "What sort of information should I include?",
  html: guidanceWhatConditions
}) }}

{% endblock %}
