{% extends "../formTemplate.html" %}
{% from "radios/macro.njk" import govukRadios %}
{% from "character-count/macro.njk" import govukCharacterCount %}
{% from "details/macro.njk" import govukDetails %}

{% block formItems %}

<h1 id="higherSecurityReviewHeader" class="govuk-heading-l">Higher Security Review</h1>

 {{ govukCharacterCount({
    name: "behaviour",
    type: "behaviour",
    id: "behaviour",
    maxlength: 50000,
    threshold: 50,
    label: {
      text: "What behaviour or incident has occurred to suggest the need for higher security conditions?"
    },
    value: data.recat.higherSecurityReview.behaviour,
    errorMessage: {
      text: "Please enter details"
    } if (errors | findError('behaviour'))
  }) }}

 {{ govukCharacterCount({
    name: "steps",
    type: "steps",
    id: "steps",
    maxlength: 50000,
    threshold: 50,
    label: {
      text: "What steps have been taken to manage the behaviour within the prison?"
    },
    value: data.recat.higherSecurityReview.steps,
    errorMessage: {
      text: "Please enter details"
    } if (errors | findError('steps'))
  }) }}

{% set transferTextHtml %}

  {{ govukCharacterCount({
    name: "transferText",
    type: "transferText",
    id: "transferText",
    maxlength: 50000,
    threshold: 50,
    label: {
      text: "Explain your reasons why"
    },
    value: data.recat.higherSecurityReview.transferText,
    errorMessage: {
      text: "Please enter details"
    } if (errors | findError('transferText'))
  }) }}

{% endset -%}

  {{ govukRadios({
    name: "transfer",
    id: "transfer",
    classes: "govuk-radios--inline",
    fieldset: {
      legend: {
        text: "Could the behaviour be managed by transfer to another prison of the same category?",
        isPageHeading: false
      }
    },
    errorMessage: {
      text: "Please select yes or no"
    } if (errors | findError('transfer')),
    items: [
      {
        value: "Yes",
        text: "Yes",
        checked: data.recat.higherSecurityReview.transfer === 'Yes'
      },
      {
        value: "No",
        text: "No",
        checked: data.recat.higherSecurityReview.transfer === 'No',
        conditional: {
          html:transferTextHtml
        }
      }
    ]
  }) }}

 {{ govukCharacterCount({
    name: "conditions",
    type: "conditions",
    id: "conditions",
    maxlength: 50000,
    threshold: 50,
    label: {
      text: "What security conditions in the higher category prison are necessary to manage this person safely and securely?"
    },
    value: data.recat.higherSecurityReview.conditions,
    errorMessage: {
      text: "Please enter details"
    } if (errors | findError('conditions'))
  }) }}

{% endblock %}
