{% extends "../../formPages/formTemplate.html" %}
{% from "input/macro.njk" import govukInput %}

{% block formItems %}

<h1 class="govuk-heading-l">Confirm the date they should be reviewed by</h1>
<p>Their conditional release date is {{ getLongDateFormat(dateConverter(data.details.sentence.conditionalReleaseDate))
  if data.details.sentence.conditionalReleaseDate else '[unavailable]' }}.</p>

{{ govukInput({
  id: "reviewDate",
  name: "date",
  label: {
    text: "Date",
    classes: "govuk-!-font-weight-bold"
  },
  errorMessage: {
    text: "Enter a valid date that is after today"
  } if (errors | findError('date')),
  hint: {
    text: "For example, 2/11/2021"
  },
  classes: "dateInputWidth",
  value: data.recat.nextReviewDate.date
}) }}

{% endblock %}
