{% extends "../../partials/layout.html" %}
{% from "moj/components/interruption-card/macro.njk" import interruptionCard %}

{% block beforeContent %}

  {% block navigation %}
    {% include "../../partials/breadcrumbPreviousRiskAssessments.html" %}
  {% endblock %}

  {% include "../../partials/offenderBanner.html" %}

{% endblock %}

{% block content %}

  {% set pageTitle = "You must complete an OASys for this person" %}

  {% set tasklistUrl = "/tasklistRecat/" + data.details.bookingId %}

  <div class="moj-interruption-card">
  <div class="moj-interruption-card__content">
    <h1 class="moj-interruption-card__heading">You must complete an OASys for this person</h1>
    <div class="moj-interruption-card__body">
      <p>A prisoner serving a sentence or recall period of 10 months or more must have an up-to-date OASys.</p>
      <p>If they do not have a recent, full assessment, you'll need to create one.</p>
    </div>
    <div class="govuk-button-group moj-interruption-card__actions">
      <a class="govuk-link govuk-link--inverse" href={{ tasklistUrl }}>Go back to application</a>
    </div>
  </div>
</div>

{% endblock %}
