{% extends "../formTemplate.html" %}
{% from "warning-text/macro.njk" import govukWarningText %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "radios/macro.njk" import govukRadios %}
{% from "inset-text/macro.njk" import govukInsetText %}
{% from "details/macro.njk" import govukDetails %}
{% from "../../macros/renderAlert.html" import renderAlert %}

{% set pageTitle = "Prisoner background" %}

{% block navigation %}

{% include "../../partials/breadCrumbTaskListRecat.html" %}

{% endblock %}

{% block formItems %}

<h1 class="govuk-heading-l" id="mainHeader">{{ pageTitle }}</h1>

<h1 class="govuk-heading-m govuk-!-margin-bottom-0">Reason for categorisation review</h1>
<p>{{ ReviewReason[reviewReason].value }}</p>

<h1 class="govuk-heading-m govuk-!-margin-top-7">Categorisation history for this sentence</h1>


{% if data.categorisations | length > 0 %}
 <table class="govuk-table" id="categoryHistory" >
    <thead class="govuk-table__head">

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Categorisation date</th>
      <th class="govuk-table__header" scope="col">Category decision</th>
      <th class="govuk-table__header" scope="col">Review location</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% for row in data.categorisations %}
    <tr class="govuk-table__row ">
      <td class="govuk-table__cell">{{ row.approvalDateDisplay }}</td>
      <td class="govuk-table__cell">{{ catMappings(row.classificationCode) }}</td>
      <td class="govuk-table__cell">{{ row.agencyDescription }}</td>
    </tr>
   {% endfor %}
    </tbody>
 </table>
{% else %}
   <div class="govuk-!-padding-top-4">
     <div id="no-results-message">There are no previous categorisations.</div>
   </div>
{% endif %}

<h1 class="govuk-heading-m govuk-!-padding-top-3">Known risks to consider</h1>

<h1 class="govuk-heading-s">Safety and good order</h1>

  {% if data.countOfAssaults > 0 %}
    {% set warningText %}
      This person has been reported as the perpetrator in {{ data.countOfAssaults }} assaults in custody before,
      including {{ data.countOfRecentSeriousAssaults }} serious assaults and {{ data.countOfNonSeriousAssaults if data.countOfRecentNonSeriousAssaults }} non-serious assaults in the past 12 months.
      You should consider the dates and context of these assaults in your assessment.
    {% endset %}
    {{ govukWarningText({
      text: warningText,
      iconFallbackText: "Warning",
      classes: "forms-warning-text warning-overrides govuk-!-padding-right-1",
      attributes: {  'id': 'violenceWarning' }
    }) }}
  {% endif %}
  {% if data.viper.aboveThreshold %}
    {{ govukWarningText({
      text: 'Please notify your safer custody lead about this prisoner',
      iconFallbackText: "Warning",
      classes: "forms-warning-text warning-overrides",
      attributes: {  'id': 'violenceNotifyWarning' }
    }) }}
  {% endif %}
  {% if not (data.viper.aboveThreshold or data.countOfAssaults > 0) %}
    {{ govukInsetText({
      text: "This person has not been reported as the perpetrator in any assaults in custody before.",
      attributes: {  'id': 'violenceInfo' }
    }) }}
  {% endif %}

<h1 class="govuk-heading-s">Risk of escape</h1>

{% if data.escapeProfile.activeEscapeList or data.escapeProfile.activeEscapeRisk %}
  {{ govukWarningText({
    text: 'This person is considered an escape risk',
    iconFallbackText: "Warning",
    classes: "forms-warning-text warning-overrides",
    attributes: {  'id': 'escapeWarning' }
  }) }}

  <h2 class="govuk-heading-s">Alert notes</h2>
  <div class="govuk-details__text govuk-!-margin-bottom-3" id="alertDetails">
    {% for alert in data.escapeProfile.escapeListAlerts %}
      {{ renderAlert(alert) }}
    {% endfor %}
    {% for alert in data.escapeProfile.escapeRiskAlerts %}
      {{ renderAlert(alert) }}
    {% endfor %}
  </div>

{% else %}
  <input type="hidden" name="escapeCatB" value="No" />
  {{ govukInsetText({
    text: "This person is not on the E-List and does not have an Escape Risk Alert.",
    attributes: {  'id': 'escapeInfo' }
  }) }}
{% endif %}

<h1 class="govuk-heading-s">Extremism</h1>

  {% if data.extremismProfile.increasedRiskOfExtremism %}
    {{ govukWarningText({
      text: "This person is at risk of engaging in, or vulnerable to, extremism",
      iconFallbackText: "Warning",
      classes: "forms-warning-text warning-overrides",
      attributes: {  'id': 'extremismWarning' }
    }) }}
  {% else %}
    {{ govukInsetText({
      text: "This person is not currently considered to be at risk of engaging in, or vulnerable to, extremism.",
      attributes: {  'id': 'extremismInfo' }
    }) }}
  {% endif %}

  {% if data.extremismProfile.notifyRegionalCTLead %}
  <p class="govuk-heading-s">Please contact the Regional CT Team who will provide input on this person's CT risk</p>
  {% endif %}

<h1 class="govuk-heading-m">Other sources to check</h1>
  <p>
    If available, you may want to manually check other sources, including:
  </p>
  <ul>
    <li>CSIP notes</li>
  <li><a target="_blank" href="https://safety-diagnostic-tool.apps.alpha.mojanalytics.xyz">Safety diagnostic tool</a></li>
    <li><a target="_blank" href="{{ data.offenderDpsCaseNotesLink }}">NOMIS case notes</a></li>
    <li><a target="_blank" href="{{ data.offenderDpsAdjudicationsLink }}">Adjudications</a></li>
    <li><a target="_blank" href="{{ data.offenderDpsAlertsLink }}">NOMIS alerts</a></li>
    <li><a id="historyLink" target="_blank" href="/categoryHistory/{{ data.details.bookingId }}">Previous categorisation assessments</a></li>
    <li>Compliance with their sentence plan</li>
  </ul>

<h1 class="govuk-heading-m govuk-!-padding-top-3">Offence details for active sentences</h1>

{{ govukTextarea({
    name: "offenceDetails",
    type: "offenceDetails",
    id: "offenceDetails",
    attributes: { 'maxlength': 50000 },
    label: {
      text: "Summarise the context and background of their main offence(s), including any licence breaches."
    },
    value: data.recat.prisonerBackground.offenceDetails,
    errorMessage: {
      text: "Please enter details"
    } if (errors | findError('offenceDetails'))
  }) }}

{% endblock %}
