{% extends "../formTemplate.html" %}
{% from "warning-text/macro.njk" import govukWarningText %}
{% set greenButtonText = "Save and submit" %}
{% set extraButtonClasses = "govuk-grid-row" %}

{% set pageTitle = "Check your answers before submitting" %}

{% block beforeContent %}

  {% include "../../partials/breadCrumbTaskListRecat.html" %}

  {% include "../../partials/offenderDetails.html" %}
  <hr/>

{% endblock %}

{% block formItems %}

<div class="govuk-body-s">
  <div>

    <h1 class="govuk-heading-l govuk-!-margin-bottom-8 main-heading">{{ pageTitle }}</h1>

    {% include "../../partials/openConditionsBanner.html" %}

    <div class="govuk-grid-row">
      {{ govukWarningText({
        text: "Your answers may be disclosed to the prisoner",
        iconFallbackText: "Warning",
        classes: "warning-overrides"
      }) }}
    </div>

    {% set showChangeLinks = true %}
    {% include "../../partials/reviewContentsRecat.html" %}

    {% if (data.openConditionsRequested) %}
      <h1 class="govuk-heading-l openConditionsHeader">Open Conditions</h1>

      {% set showOpenConditionChangeLinks = true %}
      {% include "../../partials/reviewContentsOpenConditions.html" %}
    {% elif (data.openConditions) %}
      <h1 class="govuk-heading-l openConditionsHeader">Open Conditions</h1>
      {% set showOpenConditionChangeLinks = false %}
      {% include "../../partials/reviewContentsOpenConditions.html" %}
    {% endif %}

  </div>
</div>

{% endblock %}
