{% from "radios/macro.njk" import govukRadios %}
{% extends "../formTemplate.html" %}
{% from "warning-text/macro.njk" import govukWarningText %}
{% from "../../macros/renderAlert.html" import renderAlert %}
{% from "../../macros/breadCrumb.html" import breadCrumb %}

{% set pageTitle = "Check change in risk status" %}

{% block navigation %}

{% set breadCrumbList = [ {href: '/', title: 'Categorisation home'}, {href: '/recategoriserCheck', title: 'Potential reviews'} ] %}
{{ breadCrumb(pageTitle, breadCrumbList) }}

{% endblock %}

{% set greenButtonText = "Continue" %}

{% block formItems %}

<h1 class="govuk-heading-l">{{ pageTitle }}</h1>
<p>The following has flagged this person for early review</p>


{% if data.escapeList or data.escapeRisk or  data.escapeListAlert or data.escapeRiskAlert %}
<h2 id="escapeSection" class="govuk-heading-m govuk-!-padding-top-4">Risk of escape</h2>

{% if data.escapeList or data.escapeRisk %}
{{ govukWarningText({
  text: 'This person is now considered a risk of escape',
  iconFallbackText: "Warning",
attributes: {  'id': 'escapeWarning'},
  classes: "forms-warning-text warning-overrides"
}) }}
{% endif %}

{% if data.escapeListAlert or data.escapeRiskAlert %}
<div class="govuk-details__text govuk-!-margin-bottom-3" id="escapeAlerts">
  {% if data.newProfile.escape.escapeListAlerts.length > 0 or data.newProfile.escape.escapeRiskAlerts.length > 0 %}
    {% for alert in data.newProfile.escape.escapeListAlerts %}
    {{ renderAlert(alert) }}
    {% endfor %}
    {% for alert in data.newProfile.escape.escapeRiskAlerts %}
    {{ renderAlert(alert) }}
    {% endfor %}
  {% else %}
    No alerts
  {% endif %}
</div>
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View existing alert notes
    </span>
  </summary>
  <div class="govuk-details__text" id="escapeAlertsOld">
    {% if data.oldProfile.escape.escapeListAlerts.length > 0 or data.oldProfile.escape.escapeRiskAlerts.length > 0 %}
      {% for alert in data.oldProfile.escape.escapeListAlerts %}
      {{ renderAlert(alert) }}
      {% endfor %}
      {% for alert in data.oldProfile.escape.escapeRiskAlerts %}
      {{ renderAlert(alert) }}
      {% endfor %}
    {% else %}
      No alerts
    {% endif %}
  </div>
</details>
{% endif %}

{% endif %}

{% if data.increasedRiskOfExtremism or data.notifyRegionalCTLeadExtremism %}
<h2 id="extremismSection" class="govuk-heading-m  govuk-!-padding-top-4">Extremism</h2>

{% if data.increasedRiskOfExtremism %}
 {{ govukWarningText({
      text: "This person is now at risk, or vulnerable to, extremism",
      iconFallbackText: "Warning",
      attributes: {  'id': 'increasedRiskExtremismWarning'},
      classes: "forms-warning-text warning-overrides"
    }) }}
{% endif %}

{% if data.notifyRegionalCTLeadExtremism %}
 {{ govukWarningText({
      text: 'Notify your regional CT leader that you have this person in custody',
      iconFallbackText: "Warning",
      attributes: {  'id': 'notifyCtExtremismWarning'},
      classes: "forms-warning-text warning-overrides"
    }) }}
{% endif %}

{% endif %}

{% if data.violenceChange %}
<h2 id="violenceSection" class="govuk-heading-m  govuk-!-padding-top-4">Safety and good order</h2>

     {% set totalNewAssaults =  (data.newProfile.violence.numberOfSeriousAssaults + data.newProfile.violence.numberOfAssaults)%}
    {% set warningText %}
      They have been reported as the perpetrator of {{ totalNewAssaults }} assaults in total during this sentence
      <br/>
      {% if data.newProfile.violence.numberOfSeriousAssaults == 1 %}
      Of these, 1 was a serious assault committed in the past 12 months
      {% else %}
      Of these, {{ data.newProfile.violence.numberOfSeriousAssaults }} were serious assaults committed in the past 12 months
      {% endif %}
    {% endset %}
    {{ govukWarningText({
      html: warningText,
      attributes: {  'id': 'violenceWarningNew'},
      iconFallbackText: "Warning",
      classes: "forms-warning-text warning-overrides"
    }) }}

    {{ govukWarningText({
      text: 'Notify your safer custody lead about this prisoner',
      attributes: {  'id': 'notifyCTViolenceWarning'},
      iconFallbackText: "Warning",
      classes: "forms-warning-text warning-overrides"
    }) }}

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View previous safety and good order warnings
    </span>
  </summary>
  <div class="govuk-details__text">
    {% set totalOldAssaults =  (data.oldProfile.violence.numberOfSeriousAssaults + data.oldProfile.violence.numberOfAssaults)%}
    {% set warningText %}
    {% if totalOldAssaults == 0 %}
      There are no reported assaults during this sentence
    {% else %}
      They have been reported as the perpetrator of {{ totalOldAssaults }} assaults in total during this sentence
      <br/>
      {% if data.oldProfile.violence.numberOfSeriousAssaults == 1 %}
      Of these, 1 was a serious assault committed in the past 12 months
      {% else %}
      Of these, {{ data.oldProfile.violence.numberOfSeriousAssaults }} were serious assaults committed in the past 12 months
      {% endif %}
    {% endif %}
    {% endset %}
    {{ govukWarningText({
    html: warningText,
    attributes: {  'id': 'violenceWarningOld'},
    iconFallbackText: "Warning",
    classes: "forms-warning-text warning-overrides"
    }) }}
  </div>
</details>

{% endif %}

{% if data.socNewlyReferred %}
<h2 id="socSection" class="govuk-heading-m  govuk-!-padding-top-4">Security referral</h2>

{{ govukWarningText({
text: "This person needs to be considered by security. Please start a review and refer this person to security.",
iconFallbackText: "Warning",
attributes: {  'id': 'securityReferralWarning'},
classes: "forms-warning-text warning-overrides"
}) }}


{% endif %}


<h1 class="govuk-heading-m govuk-!-padding-top-7">Do you want to start an early category review?</h1>
{{ govukRadios({
  name: "confirmation",
  classes: "govuk-radios--inline",
  id: "confirmation",
  errorMessage: {
    text: "Please select yes or no"
  } if (errors | findError('confirmation')),
  items: [
    {
      value: 'Yes',
      text: 'Yes, they now pose a higher risk'
    },
    {
      value: 'No',
      text: 'No, this does not justify an early review'
    }
  ]
}) }}

{% endblock %}
