{% from "radios/macro.njk" import govukRadios %}
{% extends "../formTemplate.html" %}
{% from "warning-text/macro.njk" import govukWarningText %}
{% from "../../macros/renderAlert.html" import renderAlert %}


{% set greenButtonText = "Continue" %}
{% set backLink = "/recategoriserCheck" %}

{% block formItems %}

<h1 class="govuk-heading-l ">Check change in risk status</h1>
<p>The following has flagged this person for early review</p>


{% if data.escapeList or data.escapeRisk or  data.escapeListAlert or data.escapeRiskAlert %}
<h2 id="escapeSection" class="govuk-heading-m govuk-!-padding-top-4">Risk of escape</h2>

{% if data.escapeList or data.escapeRisk %}
{{ govukWarningText({
  text: 'This person is now considered an escape risk',
  iconFallbackText: "Warning",
  classes: "forms-warning-text warning-overrides"
}) }}
{% endif %}

{% if data.escapeListAlert or data.escapeRiskAlert %}
<div class="govuk-details__text govuk-!-margin-bottom-3">
  {% if data.newProfile.escape.escapeListAlerts.length > 0 or data.newProfile.escape.escapeRiskAlerts.length > 0 %}
    {% for alert in data.newProfile.escape.escapeListAlerts %}
    {{ renderAlert(alert) }}
    {% endfor %}
    {% for alert in data.newProfile.escape.escapeRiskAlerts %}
    {{ renderAlert(alert) }}
    {% endfor %}
  {% else %}
    No alerts
  {% endif %}
</div>
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View existing alert notes
    </span>
  </summary>
  <div class="govuk-details__text">
    {% if data.oldProfile.escape.escapeListAlerts.length > 0 or data.oldProfile.escape.escapeRiskAlerts.length > 0 %}
      {% for alert in data.oldProfile.escape.escapeListAlerts %}
      {{ renderAlert(alert) }}
      {% endfor %}
      {% for alert in data.oldProfile.escape.escapeRiskAlerts %}
      {{ renderAlert(alert) }}
      {% endfor %}
    {% else %}
      No alerts
    {% endif %}
  </div>
</details>
{% endif %}

{% endif %}

{% if data.increasedRiskOfExtremism or data.notifyRegionalCTLeadExtremism %}
<h2 id="extremismSection" class="govuk-heading-m  govuk-!-padding-top-4">Extremism</h2>

{% if data.increasedRiskOfExtremism %}
 {{ govukWarningText({
      text: "This person is now at risk of engaging in, or vulnerable to, extremism",
      iconFallbackText: "Warning",
      classes: "forms-warning-text warning-overrides"
    }) }}
{% endif %}

{% if data.notifyRegionalCTLeadExtremism %}
 {{ govukWarningText({
      text: 'Please notify your regional CT lead that you have this person in custody',
      iconFallbackText: "Warning",
      classes: "forms-warning-text warning-overrides"
    }) }}
{% endif %}

{% endif %}

{% if data.violenceAssaultsChange  or data.violenceNotifySafetyCTLead %}
<h2 id="violenceSection" class="govuk-heading-m  govuk-!-padding-top-4">Safety and good order</h2>

{% if data.violenceAssaultsChange %}
    {% set warningText %}
      This person has been reported as the perpetrator in {{ data.newProfile.violence.numberOfAssaults }} assaults in custody before,
      including {{ data.newProfile.violence.numberOfSeriousAssaults }} serious assaults in the last 12 months
    {% endset %}
    {{ govukWarningText({
      text: warningText,
      iconFallbackText: "Warning",
      classes: "forms-warning-text warning-overrides"
    }) }}
{% endif %}
{% if data.violenceNotifySafetyCTLead %}
    {{ govukWarningText({
      text: 'Please notify your safer custody lead about this prisoner',
      iconFallbackText: "Warning",
      classes: "forms-warning-text warning-overrides"
    }) }}
 {% endif %}

{% if data.violenceAssaultsChange %}
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View previous safety and good order warnings
    </span>
  </summary>
  <div class="govuk-details__text">
    {% set warningText %}
    This person has been reported as the perpetrator in {{ data.oldProfile.violence.numberOfAssaults }} assaults in custody before,
    including {{ data.oldProfile.violence.numberOfSeriousAssaults }} serious assaults in the last 12 months
    {% endset %}
    {{ govukWarningText({
    text: warningText,
    iconFallbackText: "Warning",
    classes: "forms-warning-text warning-overrides"
    }) }}
  </div>
</details>
{% endif %}

{% endif %}

{% if data.socNewlyReferred %}
<h2 id="socSection" class="govuk-heading-m  govuk-!-padding-top-4">Security referral</h2>

{{ govukWarningText({
text: "This person has been referred to security. They cannot review this person until you start a category review.",
iconFallbackText: "Warning",
classes: "forms-warning-text warning-overrides"
}) }}

<p>Is there a good reason not to start an early category review?</p>

{% endif %}



<h1 class="govuk-heading-m govuk-!-padding-top-7">Do you want to start their category review early?</h1>
{{ govukRadios({
  name: "confirmation",
  classes: "govuk-radios--inline",
  id: "confirmation",
  errorMessage: {
    text: "Please select yes or no"
  } if (errors | findError('confirmation')),
  items: [
    {
      value: 'Yes',
      text: 'Yes, they now pose a higher risk'
    },
    {
      value: 'No',
      text: 'No, this does not justify an early review'
    }
  ]
}) }}

{% endblock %}
