{% extends "../formTemplate.html" %}
{% from "radios/macro.njk" import govukRadios %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "details/macro.njk" import govukDetails %}

{% set pageTitle = "Risk assessment" %}

{% block navigation %}

{% include "../../partials/breadCrumbTaskListRecat.html" %}

{% endblock %}

{% set guidance %}<div class="govuk-!-font-weight-bold govuk-!-margin-top-2">Consider information from:</div>
  <ul class="govuk-list govuk-list--bullet">
    <li>OASys</li>
    <li>CSIP notes</li>
    <li>Adjudications</li>
    <li>The individual’s keyworker</li>
    <li>NOMIS case notes</li>
  </ul>
{% endset %}

{% set otherRelevantTextHtml %}
  {{ govukTextarea({
    name: "otherRelevantText",
    type: "otherRelevantText",
    id: "otherRelevantText",
    attributes: { 'maxlength': 50000 },
    label: {
      text: "Please enter details"
    },
    value: data.recat.riskAssessment.otherRelevantText,
    errorMessage: {
      text: "Please enter details"
    } if (errors | findError('otherRelevantText'))
  }) }}

{% endset %}

{% block formItems %}

  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

  <p>To help you make a decision, you are going to consider two different viewpoints. You will make your decision
    afterwards.</p>
  <p>
    You should consider these risks:
  <ul>
    <li>their means or motivation to escape</li>
    <li>the potential harm they pose to the public</li>
    <li>how likely they are to commit serious criminal activity in custody</li>
    <li>the danger they pose to other people in the prison</li>
    <li>how likely they are to significantly disrupt the security or good order of the prison</li>
  </ul>
  </p>

  {{ govukTextarea({
    name: "lowerCategory",
    type: "lowerCategory",
    id: "lowerCategory",
    attributes: { 'maxlength': 50000 },
    label: {
      html: "<b>Could they be managed in a lower security category?</b>"
    },
    hint: {
      text: "Enter any information supporting this."
    },
    value: data.recat.riskAssessment.lowerCategory,
    errorMessage: {
      text: "Please enter details"
    } if (errors | findError('lowerCategory'))
  }) }}

  {{ govukDetails({
    summaryText: "Information sources to consider",
    html: guidance
  }) }}

  {{ govukTextarea({
    name: "higherCategory",
    type: "higherCategory",
    id: "higherCategory",
    attributes: { 'maxlength': 50000 },
    label: {
      html: "<b>Should they remain in their current security category? Or be put in a higher security category?</b>"
    },
    hint: {
      text: "Enter any information supporting this."
    },
    value: data.recat.riskAssessment.higherCategory,
    errorMessage: {
      text: "Please enter details"
    } if (errors | findError('higherCategory'))
  }) }}

  {{ govukDetails({
    summaryText: "Information sources to consider",
    html: guidance
  }) }}

  {% set otherRelevantHintText %}
    {% if isInWomensEstate %}
      <div id="otherRelevant-hint" style="color: rgb(11, 12, 12);">
        <p>You can include any representations from the prisoner here<p>
        <p>If known, include information about:</p>
          <ul>
            <li>pregnancy, including their expected delivery date</li>
            <li>drugs, alcohol, or other dependencies</li>
            <li>domestic violence or family issues</li>
            <li>separation from children or if they're a primary carer</li>
          </ul>
      </div>
    {% else %}
      <div id="otherRelevant-hint" class="govuk-hint">
        For example you can include any representations from the prisoner here
      </div>
    {% endif %}
  {% endset %}

  {{ govukRadios({
    name: "otherRelevant",
    fieldset: {
      legend: {
        html: "<b>Is there any other relevant information you would like to record?</b>",
        isPageHeading: false
      }
    },
    hint: {
      html: otherRelevantHintText
    },
    errorMessage: {
      text: "Please select yes or no"
    } if (errors | findError('otherRelevant')),
    items: [
      {
        value: "Yes",
        text: "Yes",
        checked: data.recat.riskAssessment.otherRelevant === 'Yes',
        conditional: {
          html: otherRelevantTextHtml
        }
      },
      {
        value: "No",
        checked: data.recat.riskAssessment.otherRelevant === 'No',
        text: "No"
      }
    ]
  }) }}

{% endblock %}
