{% extends "../formTemplate.html" %}
{% from "inset-text/macro.njk" import govukInsetText %}
{% from "warning-text/macro.njk" import govukWarningText %}

{% set pageTitle = "Security information" %}

{% block formItems %}

<h1 id="securityInputHeader" class="govuk-heading-l">{{ pageTitle }}</h1>

  {% set warningText %}
    This prisoner was referred to the security team
  {% endset %}
  {{ govukWarningText({
    text: warningText,
    iconFallbackText: "Warning",
    classes: "forms-warning-text warning-overrides"
  }) }}

  <h3 class="govuk-heading-s">Note from security:</h3>
  {{ govukInsetText({
    text: data.security.review.securityReview
  }) }}

{% endblock %}
