{% extends "../formTemplate.html" %}
{% from "radios/macro.njk" import govukRadios %}
{% from "warning-text/macro.njk" import govukWarningText %}
{% from "character-count/macro.njk" import govukCharacterCount %}
{% from "details/macro.njk" import govukDetails %}

{% set pageTitle = "Security information" %}

{% block navigation %}

{% include "../../partials/breadCrumbTaskListRecat.html" %}

{% endblock %}

{% block formItems %}

<h1 id="securityInputHeader" class="govuk-heading-l">{{ pageTitle }}</h1>

{% set securityInputTextHtml %}

  {{ govukCharacterCount({
    name: "securityInputNeededText",
    type: "securityInputText",
    id: "securityInputNeededText",
    maxlength: 50000,
    threshold: 50,
    label: {
      text: "Provide specific reasons for your referral"
    },
    value: data.recat.securityInput.securityInputNeededText,
    errorMessage: {
      text: "Please enter details"
    } if (errors | findError('securityInputNeededText'))
  }) }}

{% endset -%}

  {{ govukRadios({
    name: "securityInputNeeded",
    classes: "govuk-radios--inline",
    fieldset: {
      legend: {
        text: "Do you want to request additional information from the security team?",
        isPageHeading: false
      }
    },
    errorMessage: {
      text: "Please select yes or no"
    } if (errors | findError('securityInputNeeded')),
    items: [
      {
        value: "Yes",
        text: "Yes",
        checked: data.recat.securityInput.securityInputNeeded === 'Yes',
        conditional: {
          html:securityInputTextHtml
        }
      },
      {
        value: "No",
        checked: data.recat.securityInput.securityInputNeeded === 'No',
        text: "No"
      }
    ]
  }) }}

{% set guidance %}<div class="govuk-!-font-weight-bold">You should refer to the security team when:</div>
<ul class="govuk-list govuk-list--bullet">
<li>information indicates a heightened risk and security may have access to more information to support your decision</li>
<li>NOMIS flags are not clear or updated, for example an escape marker is not updated and security can confirm if they are on the escape list </li>
<li>information indicates a potential risk but you cannot confirm the risk without further details</li>
</ul>
{% endset %}

  {{ govukDetails({
    summaryText: "When should I refer to the Security team?",
    html: guidance
  }) }}

{% endblock %}
