{% extends "../formTemplate.html" %}
{% from "inset-text/macro.njk" import govukInsetText %}
{% from "warning-text/macro.njk" import govukWarningText %}

{% set pageTitle = "Security information" %}

{% block navigation %}

{% include "../../partials/breadCrumbTaskListRecat.html" %}

{% endblock %}

{% block formItems %}

<h1 id="securityInputHeader" class="govuk-heading-l">{{ pageTitle }}</h1>

  {% if data.recat.securityInput.securityInputNeededText %}
    <h3 class="govuk-heading-s">Note from categoriser:</h3>
    {{ govukInsetText({
      text: data.recat.securityInput.securityInputNeededText
    }) }}
    {% elif data.recat.securityInput.securityNoteNeeded === 'No'%}
      <h3 class="govuk-heading-s">Note from categoriser:</h3>
      {{ govukInsetText({
        text: "A note was not added"
      }) }}
    {% endif %}

  <h3 class="govuk-heading-s">Note from security:</h3>
  {{ govukInsetText({
    text: data.security.review.securityReview
  }) }}

{% endblock %}
