{% extends "../formTemplate.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "../../macros/prisonerReviewGuidance.html" import prisonerReviewGuidance %}
{% from "../../macros/conditionalReleaseDateInsetText.html" import conditionalReleaseDateInsetText %}

{% set pageTitle = "Confirm the date they should be reviewed by" %}

{% block navigation %}

  {% if catType == 'RECAT' %}
    {% include "../../partials/breadCrumbTaskListRecat.html" %}
  {% else %}
    {% include "../../partials/breadCrumbTaskList.html" %}
  {% endif %}

{% endblock %}

{% block formItems %}

  <input name="indeterminate" type="hidden" value="{{ data.details.sentence.indeterminate }}" />

  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
  {% if data.details.sentence.conditionalReleaseDate and not data.details.sentence.indeterminate %}
    {{ conditionalReleaseDateInsetText(data.details.sentence.conditionalReleaseDate) }}
  {% elif data.details.sentence.indeterminate %}
    <p>They have an indeterminate prison sentence.</p>
  {% endif %}


  {{ govukInput({
    id: "reviewDate",
    name: "date",
    label: {
      text: "Review date",
      classes: "govuk-!-font-weight-bold"
    },
    errorMessage: {
      text: (errors | findError('date')).text
    } if (errors | findError('date')),
    hint: {
      text: "For example, 2/11/2021"
    },
    classes: "dateInputWidth",
    value: date
  }) }}

  {{ prisonerReviewGuidance() }}

{% endblock %}
