{% extends "../formTemplate.html" %}
{% from "radios/macro.njk" import govukRadios %}
{% from "details/macro.njk" import govukDetails %}

{% set greenButtonText = "Continue" %}

{% set pageTitle = "Next review date" %}

{% block navigation %}

  {% if catType == 'RECAT' %}
    {% include "../../partials/breadCrumbTaskListRecat.html" %}
  {% else %}
    {% include "../../partials/breadCrumbTaskList.html" %}
  {% endif %}

{% endblock %}

{% block formItems %}

<h1 class="govuk-heading-l govuk-radios--inline">When should they next be reviewed by?</h1>
<p>Their conditional release date is {{ getLongDateFormat(dateConverter(data.details.sentence.conditionalReleaseDate))
    if data.details.sentence.conditionalReleaseDate else '[unavailable]' }}.</p>

  {{ govukRadios({
    name: "nextDateChoice",
    id: "nextDateChoice",
    errorMessage: {
      text: "Please select a choice"
    } if (errors | findError('nextDateChoice')),
    items: [
      {
        value: "6",
        text: "In 6 months time",
        label: { classes: "govuk-!-font-weight-bold" },
        hint: { text: 'We will work out the date 6 months from today. You can then edit it.' }
      },
      {
        value: "12",
        text: "In 12 months time",
        label: { classes: "govuk-!-font-weight-bold" },
        hint: { text: 'We will work out the date 12 months from today. You can then edit it.' }
      },
      {
        value: "SPECIFIC",
        text: "I want to enter a specific date",
        label: { classes: "govuk-!-font-weight-bold" },
        hint: { text: 'We won’t work out a date. You can enter whatever date you want.' }
      }
    ]
  }) }}

 {% set guidance %}
    <div class="govuk-!-font-weight-bold">Three or more years left in custody</div>
    <div>They should be reviewed within the next 12 months</div>
    <div class="govuk-!-font-weight-bold govuk-!-padding-top-2">Less than three years left in custody</div>
    <div>They should be reviewed within the next 6 months</div>
  {% endset %}

  {{ govukDetails({
    summaryText: "How to choose a date for a prisoner",
    html: guidance
  }) }}

{% endblock %}
