{% extends "../formTemplate.html" %}
{% from "radios/macro.njk" import govukRadios %}
{% from "../../macros/prisonerReviewGuidance.html" import prisonerReviewGuidance %}
{% from "../../macros/threeToFivePolicyChangeAlert.html" import threeToFivePolicyChangeAlert %}

{% set greenButtonText = "Continue" %}

{% set pageTitle = "When should they next be reviewed by?" %}

{% block navigation %}

  {% if catType == 'RECAT' %}
    {% include "../../partials/breadCrumbTaskListRecat.html" %}
  {% else %}
    {% include "../../partials/breadCrumbTaskList.html" %}
  {% endif %}

{% endblock %}

{% block formItems %}

  {% if useThreeToFivePolicy %}
    {{ threeToFivePolicyChangeAlert() }}
  {% endif %}

  <h1 class="govuk-heading-l govuk-radios--inline">{{ pageTitle }}</h1>
  <p>Their conditional release date is {{ getLongDateFormat(dateConverter(data.details.sentence.conditionalReleaseDate)) if data.details.sentence.conditionalReleaseDate else '[unavailable]' }}.</p>

    {% set radioItems = [
      {
        "value": "6",
        "text": strings.inSixMonthsLabel if useThreeToFivePolicy else "In 6 months time",
        "label": { "classes": "govuk-!-font-weight-bold" },
        "hint": { "text": "We will work out the date 6 months from today. You can then edit it." }
      },
      {
        "value": "12",
        "text": strings.inTwelfMonthsLabel if useThreeToFivePolicy else "In 12 months time",
        "label": { "classes": "govuk-!-font-weight-bold" },
        "hint": { "text": "We will work out the date 12 months from today. You can then edit it." }
      },
      {
        "value": "SPECIFIC",
        "text": "I want to enter a specific date",
        "label": { "classes": "govuk-!-font-weight-bold" },
        "hint": {
          "text": "We will not work out a date. You can enter your own date."
          if useThreeToFivePolicy else "We won’t work out a date. You can enter whatever date you want."
        }
      }
    ] %}

    {{ govukRadios({
      name: "nextDateChoice",
      id: "nextDateChoice",
      errorMessage: { text: "Please select a choice" } if (errors | findError('nextDateChoice')),
      items: radioItems
    }) }}

  {{ prisonerReviewGuidance(useThreeToFivePolicy=useThreeToFivePolicy, form="nextReviewDateQuestion") }}

{% endblock %}
