{% extends "../formTemplate.html" %}
{% from "input/macro.njk" import govukInput %}
{% from "character-count/macro.njk" import govukCharacterCount %}
{% from "../../macros/breadCrumb.html" import breadCrumb %}

{% set pageTitle = "Next review date" %}
{% set greenButtonText = "Submit" %}

{% block navigation %}

  {% set breadCrumbList = [ {href: '/' + data.details.bookingId, title: 'Manage categorisations'} ] %}
  {{ breadCrumb(pageTitle, breadCrumbList) }}

{% endblock %}

{% block formItems %}

  <h1 class="govuk-heading-l">Change the review date</h1>
  {% if data.details.sentence.conditionalReleaseDate %}
    <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-0">Their conditional release date is:</p>
    <p>{{ getLongDateFormat(dateConverter(data.details.sentence.conditionalReleaseDate)) }}</p>
  {% endif %}
  <p>You can alter the prisoner's next review date (Re-assessment date) without needing to create a new categorisation.</p>

  <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-0"> Current review date:</p>
  <p id="existingDate">{{ date }}</p>

  {{ govukInput({
    id: "reviewDate",
    name: "date",
    value: data.nextReviewDate.nextReviewDateStandalone.date,
    label: { text: "New date", classes: "govuk-!-font-weight-bold" },
    errorMessage: {
      text: "Enter a valid date that is after today"
    } if (errors | findError('date')),
    classes: "dateInputWidth"
  }) }}

 {{ govukCharacterCount({
    id: 'reason',
    name: 'reason',
    value: data.nextReviewDate.nextReviewDateStandalone.reason,
    maxlength: 1000,
    attributes: {  'maxLength': 1000 },
    threshold: 50,
    label: { text: "Reason for date change", classes: "govuk-!-font-weight-bold" },
    errorMessage: { text: "Please enter details" } if (errors | findError('reason'))
  }) }}

{% endblock %}

{% block additionalItems %}
  {{ govukButton({
    text: 'Cancel',
    href: '/' + data.details.bookingId,
    classes: "grey-button"
  }) }}
{% endblock %}
