{% extends "../formTemplate.html" %}

{% set pageTitle = "Check the date they will be reviewed by" %}

{% block navigation %}

  {% if catType == 'RECAT' %}
    {% include "../../partials/breadCrumbTaskListRecat.html" %}
  {% else %}
    {% include "../../partials/breadCrumbTaskList.html" %}
  {% endif %}

{% endblock %}

{% set greenButtonText = "Return" %}

{% block formItems %}

  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
  <p>Your chosen date</p>
  <p id="chosenDate">{{ date }}</p>
  <p><a id="changeLink" href="/form/nextReviewDate/nextReviewDateQuestion/{{ data.details.bookingId }}">Change this</a></p>

{% endblock %}
