.feedback-tag {
  display: inline-block;
  background-color: #fff7bf;
  border: 1px solid #594d00;
  padding: 8px;
  margin-bottom: 45px;
  font-size: 16px;
  color: #594d00;
}

.feedback-tag a {
  text-decoration: underline;
  color: inherit;
}
