{
  "plugins": ["cypress", "no-only-tests", "@typescript-eslint"],
  "env": {
    "cypress/globals": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:cypress/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "no-only-tests/no-only-tests": "error",
    "class-methods-use-this": "off",
    "no-underscore-dangle": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "lines-between-class-members": "off",
    "no-useless-constructor": "off",
    "object-shorthand": "warn",
    "camelcase": "warn",
    "@typescript-eslint/no-explicit-any": "warn",
    "no-unused-expressions": "warn",
    "cypress/unsafe-to-chain-command": "warn",
    "cypress/no-unnecessary-waiting": "warn"
  }
}
