{
  "plugins": ["cypress", "no-only-tests", "@typescript-eslint"],
  "env": {
    "cypress/globals": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:cypress/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "no-only-tests/no-only-tests": "error",
    "class-methods-use-this": "off",
    "no-underscore-dangle": "off"
  }
}
