{% extends "../formTemplate.html" %}
{% from "warning-text/macro.njk" import govukWarningText %}
{% from "summary-list/macro.njk" import govukSummaryList %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "button/macro.njk" import govukButton %}
{% from "radios/macro.njk" import govukRadios %}
{% from "../../macros/supervisorDecisionRadioButtons.html" import supervisorDecisionRadioButtons %}

{% set greenButtonText = "Continue" %}
{% set pageTitle = "Approve category" %}

{% block beforeContent %}
  {% include "../../partials/breadCrumb.html" %}

  {% include "../../partials/offenderDetails.html" %}
  <hr/>

{% endblock %}

{% block formItems %}
{% set isFemale = isInWomensEstate %}
<div class="govuk-body-s">

    <h1 class="govuk-heading-l mainHeading">{{ pageTitle }}</h1>

    {% set cat = data.categoriser.provisionalCategory.suggestedCategory %}
    {% set overriddenCat = data.categoriser.provisionalCategory.overriddenCategory %}
    {% set currentCat = overriddenCat if overriddenCat else cat %}

    {% if isOpenCategory(currentCat) %}
      {% include "../../partials/tprsBanner.html" %}
    {% endif %}
    {% include "../../partials/openConditionsBanner.html" %}

    {% if isFemale %}
    <div id="femaleBanner" class="govuk-warning-text forms-info-text warning-overrides govuk-!-margin-bottom-6">
      <span class="govuk-warning-text__icon" aria-hidden="true">{{ displayIcon(currentCat) }}</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        The categoriser recommends {{ replaceCatLabel(currentCat) }}
      </strong>
    </div>
    {% elif overriddenCat %}
    <div class="govuk-warning-text forms-info-text warning-overrides">
      <span class="govuk-warning-text__icon override-old-cat-icon" aria-hidden="true">{{ displayIcon(cat) }}</span>
      <span class="warning-arrow"><img src='/assets/images/Triangle.png' alt='arrow' height='18' width='12'/></span>
      <span class="govuk-warning-text__icon override-cat-icon" aria-hidden="true">{{ displayIcon(overriddenCat) }}</span>
      <strong class="govuk-warning-text__text override-icon-text">
        <span class="govuk-visually-hidden">Warning</span>
        The category was originally {{ replaceCatLabel(cat) }} and is now {{ replaceCatLabel(overriddenCat) }}
      </strong>
    </div>
      {% if data.categoriser.provisionalCategory.overriddenCategoryText %}
        <div class="govuk-!-margin-bottom-8">
          <label for="overriddenText">Reason for overriding the suggested category</label>
          <div class="forms-comments-text" id="overriddenText">{{ data.categoriser.provisionalCategory.overriddenCategoryText }}
          </div>
        </div>
      {% endif %}
    {% else %}
    <div class="govuk-warning-text forms-info-text warning-overrides govuk-!-margin-bottom-6">
      <span class="govuk-warning-text__icon" aria-hidden="true">{{ displayIcon(cat) }}</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        Based on the information provided, the provisional category is {{ replaceCatLabel(cat) }}
      </strong>
    </div>
    {% endif %}


    {% set showChangeLinks = false %}
    {% include "../../partials/reviewContents.html" %}

    {% if (currentCat == "D" or currentCat == "J" or currentCat == "T" or data.openConditions) %}

      <h1 class="govuk-heading-l openConditionsHeader">Open Conditions</h1>

      {% set showOpenConditionChangeLinks = false %}
      {% include "../../partials/reviewContentsOpenConditions.html" %}

    {% endif %}

    <h2 class="govuk-heading-m">Other Information</h2>
    {{ govukSummaryList({
      classes: 'govuk-!-margin-bottom-9',
      rows: [
       {
         key: { text: "Information about why this category is appropriate" if data.categoriser.provisionalCategory.justification else "Other relevant information" },
         value: { text: data.categoriser.provisionalCategory.justification if data.categoriser.provisionalCategory.justification else (data.categoriser.provisionalCategory.otherInformationText if data.categoriser.provisionalCategory.otherInformationText else 'None') },
         actions: { items: [] }
        }
      ]
    }) }}

    {% if currentCat == "D" or currentCat == "J" or currentCat == "T" %}
      {% include "../../partials/warningIndeterminate.html" %}
    {% endif %}

    {% set isYoungOffender = data.details.youngOffender %}

    {{ supervisorDecisionRadioButtons(isYoungOffender, isFemale, currentCat, data.supervisor.review.supervisorDecision, errors, data.details.sentence.indeterminate) }}
</div>

{% endblock %}
