{% extends "../formTemplate.html" %}
{% from "summary-list/macro.njk" import govukSummaryList %}
{% set pageTitle = "Message from supervisor" %}

{% block navigation %}

  {% if catType == 'RECAT' %}
    {% include "../../partials/breadCrumbTaskListRecat.html" %}
  {% else %}
    {% include "../../partials/breadCrumbTaskList.html" %}
  {% endif %}

{% endblock %}

{% block formItems %}

  <div>
    <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
  </div>

  {{ govukSummaryList({
    rows: [
      { key: { text: "Supervisor" }, value: { text: data.supervisor.confirmBack.supervisorName } },
      { key: { text: "Message" },    value: { text: data.supervisor.confirmBack.messageText | striptags(true) | escape | nl2br } }
    ]
  }) }}

{% endblock %}
