generic-service:
  replicaCount: 4

  image:
    repository: quay.io/hmpps/offender-categorisation
    tag: latest
    pullPolicy: IfNotPresent
    port: 3000

  ingress:
    enable_allowlist: true
    hosts: [offender-categorisation.service.justice.gov.uk]

  env:
    ENVIRONMENT: prod
    INGRESS_URL: https://offender-categorisation.service.justice.gov.uk
    NOMIS_AUTH_URL: https://sign-in.hmpps.service.justice.gov.uk/auth
    ELITE2API_ENDPOINT_URL: https://prison-api.prison.service.justice.gov.uk/
    RISK_PROFILER_ENDPOINT_URL: http://offender-risk-profiler/
    ALLOCATION_MANAGER_ENDPOINT_URL: https://moic.service.justice.gov.uk/
    PRISONER_SEARCH_ENDPOINT_URL: https://prisoner-search.prison.service.justice.gov.uk/
    RISKS_AND_NEEDS_ENDPOINT_URL: https://assess-risks-and-needs.hmpps.service.justice.gov.uk/
    PROBATION_OFFENDER_SEARCH_ENDPOINT_URL: https://probation-offender-search.hmpps.service.justice.gov.uk/
    OFFENDER_CATEGORISATION_API_ENDPOINT_URL: https://hmpps-offender-categorisation-api.hmpps.service.justice.gov.uk/
    PATHFINDER_API_ENDPOINT_URL: https://api.pathfinder.service.justice.gov.uk/
    ALERTS_ENDPOINT_URL: https://alerts-api.hmpps.service.justice.gov.uk/
    ADJUDICATIONS_ENDPOINT_URL: https://manage-adjudications-api.hmpps.service.justice.gov.uk/
    DPS_URL: https://digital.prison.service.justice.gov.uk/
    SUPPORT_URL: https://support.hmpps.service.justice.gov.uk/
    COMPONENT_API_URL: https://frontend-components.hmpps.service.justice.gov.uk

  allowlist:
    groups:
      - internal
      - prisons
      - private_prisons

# determine which slack channel alerts are sent to, via the correct Alert Manager receiver
generic-prometheus-alerts:
  alertSeverity: dps-sed-alerts-prod
