---
generic-service:

  replicaCount: 4

  image:
    repository: quay.io/hmpps/offender-categorisation
    tag: latest
    pullPolicy: IfNotPresent
    port: 3000

  ingress:
    enable_allowlist: true
    host: offender-categorisation.service.justice.gov.uk

  env:
    INGRESS_URL: https://offender-categorisation.service.justice.gov.uk
    NOMIS_OAUTH_PUBLIC_KEY: LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUlJQklqQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FROEFNSUlCQ2dLQ0FRRUFwSkdtYWp6SW9POVdSY2owM2VTbQpFeWJTYnNJaEdkNkRWVDRxUWFSRTZwN3RIN1ppSklvRWtzczRkOFphMGhuYWJwa0JqWTYwS3NnMW5teXpoZVlSCithWXVtc0gxbm1JcmJ4ZCtqV043T3A2V1pteWRBU3JMek1XWVdBYlNHOHBXMXkxY1RwdkRaMTlBSGJTYTRRL2UKSnRlcDFscCsyMnVHMW5kTVRwclRkNjRLTkcyZnRwcmV3aFExeE5xdmtUWjZoQnVRRVJKMzFhUXBkRThNQTFxSwpDWnI3VDJxTk1BTWNkTlpia0FqRjVLOXE0alZ0QkY3WXFPeXJ0T1JmTldqYUJoWHA5TlN0YWJCTXBURTdQNm8vClhJaU9rcmltNjlzaG1OdDhVRlU3WUlJN0ZvejgzM29HZnk2dmtDRjRxcGpIZ0RNc21STjc1UXRrRmRtaU8xaDgKcHdJREFRQUIKLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0t
    NOMIS_AUTH_URL: https://sign-in.hmpps.service.justice.gov.uk/auth
    ELITE2API_ENDPOINT_URL: https://api.prison.service.justice.gov.uk/
    RISK_PROFILER_ENDPOINT_URL: http://offender-risk-profiler/
    ALLOCATION_MANAGER_ENDPOINT_URL: https://moic.service.justice.gov.uk/
    DPS_URL: https://digital.prison.service.justice.gov.uk/

  allowlist:
    ark-nps-hmcts-ttp1: 195.59.75.0/24
    ark-nps-hmcts-ttp2: 194.33.192.0/25
    ark-nps-hmcts-ttp3: 194.33.193.0/25
    ark-nps-hmcts-ttp4: 194.33.196.0/25
    ark-nps-hmcts-ttp5: 194.33.197.0/25
    moj-official-ark-c-vodafone: 194.33.248.0/29
    moj-official-ark-f-vodafone: 194.33.249.0/29
    cloudplatform-live1-1: 35.178.209.113/32
    cloudplatform-live1-2: 3.8.51.207/32
    cloudplatform-live1-3: 35.177.252.54/32
    durham-tees-valley: 51.179.197.1/32
    dxc_webproxy1: 195.92.38.20/32
    dxc_webproxy2: 195.92.38.21/32
    dxc_webproxy3: 195.92.38.22/32
    dxc_webproxy4: 195.92.38.23/32
    health-kick: 35.177.252.195/32
    moj-official-ark-c-expo-e: 51.149.249.0/29
    moj-official-ark-f-expo-e: 51.149.249.32/29
    moj-official-tgw-preprod: 51.149.251.0/24
    moj-official-tgw-prod: 51.149.250.0/24
    global-protect: 35.176.93.186/32
    petty-france-wifi: 213.121.161.112/28
    mojvpn: 81.134.202.29/32
    oakwood-01: 217.161.76.184/29
    oakwood-02: 217.161.76.192/29
    oakwood-1: 217.161.76.187/32
    oakwood-2: 217.161.76.195/32
    oakwood-3: 217.161.76.186/32
    oakwood-4: 217.161.76.194/32
    office: 217.33.148.210/32
    quantum1: 62.25.109.197/32
    quantum2: 212.137.36.230/32
    quantum3: 195.92.38.16/28
    serco: 217.22.14.0/24
    sodexo-northumberland2: 51.148.47.137/32
    sodexo-northumberland: 88.98.48.10/32
    sodexo-peterborough: 51.155.55.241/32
    sodexo1: 80.86.46.16/32
    sodexo2: 80.86.46.17/32
    sodexo3: 80.86.46.18/32
    sodexo4: 51.148.9.201
    sodoxeo-forest-bank: 51.155.85.249/32
    fivewells-1: "20.49.214.199/32"
    fivewells-2: "20.49.214.228/32"
    fivewells-3: "195.89.157.56/29"
    fivewells-4: "195.59.215.184/29"
    fivewells-5: "51.149.250.0/24"
    fivewells-6: "51.149.249.0/29"
    fivewells-7: "194.33.249.0/29"
    fivewells-8: "51.149.249.32/29"
    fivewells-9: "194.33.248.0/29"

  # determine which slack channel alerts are sent to, via the correct Alert Manager receiver
generic-prometheus-alerts:
  alertSeverity: digital-prison-service
