{% extends "../formTemplate.html" %}
{% from "summary-list/macro.njk" import govukSummaryList %}

{% set pageTitle = "Provisional categorisation" %}

{% set greenButtonText = "Continue" %}

{% block content %}

<div class="govuk-grid-row govuk-body-s">
  <div>

    <h1 class="govuk-heading-l mainHeading">Provisional categorisation</h1>

    {% set cat = data.categoriser.provisionalCategory.suggestedCategory %}
    {% set overriddenCat = data.categoriser.provisionalCategory.overriddenCategory %}
    {% set currentCat = overriddenCat if overriddenCat else cat %}

    <div id="category-div" class="govuk-warning-text forms-info-text warning-overrides">
        <span class="govuk-warning-text__icon" aria-hidden="true">{{ displayIcon(currentCat) }}</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          Category for approval is {{ replaceCatLabel(currentCat) }}
        </strong>
    </div>

    {% set showChangeLinks = false %}
    {% include "../../partials/reviewContents.html" %}

    {% if (currentCat == "D" or currentCat == "J" or data.openConditions) %}

      <h1 class="govuk-heading-l openConditionsHeader">Open Conditions</h1>
      {% set showOpenConditionChangeLinks = false %}
      {% include "../../partials/reviewContentsOpenConditions.html" %}

    {% endif %}

    <h2 class="govuk-heading-m">Other information</h2>
    {{ govukSummaryList({
      classes: 'govuk-!-margin-bottom-9 otherInformationSummary',
      rows: [
      {
        key: { text: "Information about why this category is appropriate" if data.categoriser.provisionalCategory.justification else "Other relevant information" },
        value: { text: data.categoriser.provisionalCategory.justification if data.categoriser.provisionalCategory.justification else (data.categoriser.provisionalCategory.otherInformationText if data.categoriser.provisionalCategory.otherInformationText else 'None') },
        actions: { items: [] }
      }
      ]
    }) }}
    <a class="govuk-!-font-size-19" href="/form/cancel/{{ data.details.bookingId }}" id="cancelLink">Cancel this categorisation</a>
  </div>
</div>

{% endblock %}
