{% extends "../formTemplate.html" %}
{% from "summary-list/macro.njk" import govukSummaryList %}

{% set greenButtonText = "Continue" %}

{% block content %}

<div class="govuk-grid-row govuk-body-s">
  <div>

    <h1 class="govuk-heading-l">Provisional categorisation</h1>

    {% set cat = data.categoriser.provisionalCategory.suggestedCategory %}
    {% set overriddenCat = data.categoriser.provisionalCategory.overriddenCategory %}
    {% set currentCat = overriddenCat if overriddenCat else cat %}

    <div id="category-div" class="govuk-warning-text forms-info-text warning-overrides">
      <span class="govuk-warning-text__icon" aria-hidden="true">{{ cat }}</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        Category for approval is {{ currentCat }}
      </strong>
    </div>

    {% set showChangeLinks = false %}

    {% include "../../partials/reviewContents.html" %}

    <h2 class="govuk-heading-m">Other information</h2>
    {{ govukSummaryList({
      classes: 'govuk-!-margin-bottom-9',
      rows: [
      {
      key: { text: "Other relevant information" },
      value: { text: data.categoriser.provisionalCategory.otherInformationText if data.categoriser.provisionalCategory.otherInformationText else 'None' },
      actions: { items: [] }
      }
      ]
    }) }}
  </div>
</div>

{% endblock %}
