{% extends "../../formPages/formTemplate.html" %}

{% set pageTitle = "Provisional categorisation" %}

{% from "warning-text/macro.njk" import govukWarningText %}
{% from "radios/macro.njk" import govukRadios %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "button/macro.njk" import govukButton %}
{% from "details/macro.njk" import govukDetails %}

{% block navigation %}

  {% include "../../partials/breadCrumbTaskList.html" %}

{% endblock %}

{% set cat = data.suggestedCat %}
{% set greenButtonText = "Submit" %}

{% set radios = [
  {
    value: "B",
    id: "overriddenCategoryB",
    checked: data.categoriser.provisionalCategory.overriddenCategory === 'B',
    text: "B",
    B: true
  },
  {
    value: "C",
    id: "overriddenCategoryC",
    checked: data.categoriser.provisionalCategory.overriddenCategory === 'C',
    text: "C",
    C: true
  },
  {
    value: "D",
    id: "overriddenCategoryD",
    checked: data.categoriser.provisionalCategory.overriddenCategory === 'D',
    text: "Consider for D",
    hint: {
      text: "Making this category change means that you will have to provide more information."
    },
    D: true
  }
] %}
{% set overriddenCategoryTextHtml %}

  {% if (cat == "B" or cat == "C" or cat == "D") %}
    {{ govukRadios({
      name: "overriddenCategory",
      fieldset: {
        legend: {
        text: "Which category is more appropriate?",
        isPageHeading: false
        }
      },
      items: radios | rejectattr(cat),
      errorMessage: {
        text: "Please enter the new category"
      } if (errors | findError('overriddenCategory'))
    }) }}
  {% else %}
    <h2 class="govuk-heading-m">Changing to YOI Open</h2>
    <input type="hidden" name="overriddenCategory" value="J" />
  {% endif %}

  {% if data.categoriser.provisionalCategory.overriddenCategoryText %}
    {{ govukTextarea({
      name: "overriddenCategoryText",
      type: "myTextWhatsThisFor",
      id: "overriddenCategoryText",
      attributes: { 'maxlength': 50000 },
      label: {
        text: "Explain why"
      },
      hint: {
        text: "Your comments will be disclosed to the prisoner"
      },
      value: data.categoriser.provisionalCategory.overriddenCategoryText,
      errorMessage: {
        text: "Enter the reason why you changed the category"
      } if (errors | findError('overriddenCategoryText'))
    }) }}
  {% endif %}
{% endset %}

{% block formItems %}

<h1 class="govuk-heading-l">Provisional category</h1>

<div class="govuk-warning-text forms-info-text warning-overrides">
    <span class="govuk-warning-text__icon" aria-hidden="true">{{ displayIcon(cat) }}</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    Based on the information provided, the provisional category is {{ replaceCatLabel(cat) }}
  </strong>
</div>

<input type="hidden" name="suggestedCategory" value="{{ cat }}" />

{{ govukRadios({
  name: "categoryAppropriate",
  fieldset: {
    legend: {
    text: "Do you think the category is appropriate?",
    isPageHeading: false
    }
  },
  errorMessage: {
    text: "Select yes if you think this category is appropriate"
  } if (errors | findError('categoryAppropriate')),
  items: [
    {
      value: "Yes",
      checked: data.categoriser.provisionalCategory.categoryAppropriate === 'Yes',
      text: "Yes"
    },
    {
      value: "No",
      checked: data.categoriser.provisionalCategory.categoryAppropriate === 'No',
      text: "No",
      conditional: {
        html:overriddenCategoryTextHtml
      }
    }
  ]
}) }}

  {% if data.categoriser.provisionalCategory.overriddenCategoryText %}
    {{ govukTextarea({
      name: "otherInformationText",
      type: "otherInformationText",
      id: "otherInformationText",
      attributes: { 'maxlength': 50000 },
      label: {
        text: "Is there any other relevant information that you want to record?"
      },
      hint: {
        text: "Your comments will be disclosed to the prisoner"
      },
      value: data.categoriser.provisionalCategory.otherInformationText
    }) }}
  {% else %}
    {{ govukTextarea({
      name: "justification",
      id: "justification",
      formGroup: {
        classes: 'margin-correction-below-radio-with-conditional'
      },
      label: {
        text: "Information about why this category is appropriate"
      },
      hint: {
        text: "Your comments may be disclosed to the prisoner."
      },
      value: data.categoriser.provisionalCategory.justification,
      errorMessage: {
        text: "You must enter information about why the category is appropriate"
      } if (errors | findError('justification'))
    }) }}
  {% endif %}

  {% set guidance %}<div class="govuk-!-font-weight-bold">What to consider:</div>
    <div>The provisional category is based on the information we provide to you and your answers to the yes or no questions. It does not take into account any information you entered in the text boxes.</div>
    <div>You should decide if this is the most appropriate category based on all the information you have available.</div>
  {% endset %}

  {{ govukDetails({
    summaryText: "How do I answer this question?",
    html: guidance
  }) }}


{% endblock %}
