{% extends "../../formPages/formTemplate.html" %}

{% from "warning-text/macro.njk" import govukWarningText %}
{% from "radios/macro.njk" import govukRadios %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "button/macro.njk" import govukButton %}

{% set cat = data.suggestedCat %}
{% set greenButtonText = "Submit" %}

{% set overriddenCategoryTextHtml %}
  {% if (cat == "B" or cat == "C" or cat == "D") %}
    {{ govukRadios({
      name: "overriddenCategory",
      classes: "govuk-radios--inline",
      fieldset: {
        legend: {
        text: "Which category is more appropriate?",
        isPageHeading: false
        }
      },
      items: [
        {
          value: "B",
          id: "overriddenCategoryB",
          checked: data.overriddenCategory === 'B',
          text: "B"
        } if cat != "B",
        {
          value: "C",
          id: "overriddenCategoryC",
          checked: data.overriddenCategory === 'C',
          text: "C"
        } if cat != "C",
        {
          value: "D",
          id: "overriddenCategoryD",
          checked: data.overriddenCategory === 'D',
          text: "D"
        } if cat != "D"
      ],
      errorMessage: {
        text: "Please select the new category"
      } if (errors | findError('overriddenCategory'))
    }) }}
  {% else %}
    <h2 class="govuk-heading-m">Changing to Cat J</h2>
    <input type="hidden" name="overriddenCategory" value="J" />
  {% endif %}
  {{ govukTextarea({
    name: "overriddenCategoryText",
    type: "myTextWhatsThisFor",
    id: "overriddenCategoryText",
    label: {
      text: "Explain why you changed the category"
    },
    value: data.overriddenCategoryText,
    errorMessage: {
      text: "Please enter the reason why you changed the category"
    } if (errors | findError('overriddenCategoryText'))
  }) }}
{% endset %}

{% block formItems %}

<h1 class="govuk-heading-l">Provisional category</h1>

<div class="govuk-warning-text forms-info-text warning-overrides">
  <span class="govuk-warning-text__icon" aria-hidden="true">{{ cat }}</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Based on the information provided, the provisional category is {{ cat }}
  </strong>
</div>

<input type="hidden" name="suggestedCategory" value="{{ cat }}" />

{{ govukRadios({
  name: "categoryAppropriate",
  classes: "govuk-radios--inline",
  fieldset: {
    legend: {
    text: "Do you think the category is appropriate for this person?",
    isPageHeading: false
    }
  },
  items: [
    {
      value: "Yes",
      checked: data.categoryAppropriate === 'Yes',
      text: "Yes"
    },
    {
      value: "No",
      checked: data.categoryAppropriate === 'No',
      text: "No",
      conditional: {
        html:overriddenCategoryTextHtml
      }
    }
  ]
}) }}

{% endblock %}
