{% extends "../formTemplate.html" %}
{% set greenButtonText = "Continue" %}
{% set extraButtonClasses = "govuk-grid-row" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}

  <div class="govuk-body-m govuk-!-margin-left-4">
    {% include "../../partials/offenderDetails.html" %}
    <hr/>
  </div>

{% endblock %}

{% block formItems %}

<div class="govuk-grid-row govuk-body-s">
  <div>

    <h1 class="govuk-heading-l govuk-!-margin-bottom-8 main-heading">Check your answers before you continue</h1>

    {% set showChangeLinks = true %}
    {% include "../../partials/reviewContents.html" %}

    {% if (data.openConditionsRequested) %}
      <h1 class="govuk-heading-l openConditionsHeader">Open Conditions</h1>

      {% set showOpenConditionChangeLinks = true %}
      {% include "../../partials/reviewContentsOpenConditions.html" %}
    {% endif %}

  </div>
</div>

{% endblock %}
