{% extends "../formTemplate.html" %}
{% from "warning-text/macro.njk" import govukWarningText %}
{% set greenButtonText = "Save and submit" if isInWomensEstate else "Continue" %}
{% set extraButtonClasses = "govuk-grid-row" %}

{% set pageTitle = "Check your answers before you " + ("submit" if isInWomensEstate else "continue") %}

{% block beforeContent %}

{% include "../../partials/breadCrumbTaskList.html" %}

  <div class="govuk-body-m govuk-!-margin-left-4">
    {% include "../../partials/offenderDetails.html" %}
    <hr/>
  </div>

{% endblock %}

{% block formItems %}

<div class="govuk-body-s">
  <div>

    <h1 class="govuk-heading-l govuk-!-margin-bottom-8 main-heading">{{ pageTitle }}</h1>

    {{ govukWarningText({
      text: "Your answers may be disclosed to the prisoner",
      iconFallbackText: "Warning",
      classes: "warning-overrides"
    }) }}

    {% include "../../partials/openConditionsBanner.html" %}
    {% set isFemale = isInWomensEstate %}
    {% set showChangeLinks = true %}
    {% include "../../partials/reviewContents.html" %}
    <input type="hidden" name="isFemale" value="{{ isFemale }}" />
    {% if (data.openConditionsRequested) %}
      <h1 class="govuk-heading-l openConditionsHeader">Open Conditions</h1>

      {% set showOpenConditionChangeLinks = true %}
      {% include "../../partials/reviewContentsOpenConditions.html" %}
    {% elif (data.openConditions) %}
      <h1 class="govuk-heading-l openConditionsHeader">Open Conditions</h1>
      {% set showOpenConditionChangeLinks = false %}
      {% include "../../partials/reviewContentsOpenConditions.html" %}
    {% endif %}

  </div>
</div>

{% endblock %}
