{% extends "../../formPages/formTemplate.html" %}

{% set pageTitle = "Provisional categorisation" %}

{% from "warning-text/macro.njk" import govukWarningText %}
{% from "radios/macro.njk" import govukRadios %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "button/macro.njk" import govukButton %}
{% from "details/macro.njk" import govukDetails %}

{% block navigation %}

  {% include "../../partials/breadCrumbTaskList.html" %}

{% endblock %}

{% set cat = data.suggestedCat %}
{% set greenButtonText = "Submit" %}


{% set overriddenCategoryTextHtml %}
  {{ govukTextarea({
    name: "overriddenCategoryText",
    type: "myTextWhatsThisFor",
    id: "overriddenCategoryText",
    attributes: { 'maxlength': 50000 },
    label: {
      text: "Explain why"
    },
    hint: {
      text: "Your comments will be disclosed to the prisoner"
    },
    value: data.categoriser.provisionalCategory.overriddenCategoryText,
    errorMessage: {
      text: "Enter the reason why you changed the category"
    } if (errors | findError('overriddenCategoryText'))
  }) }}
{% endset %}

{% block formItems %}

<h1 class="govuk-heading-l">Provisional category</h1>

<div class="govuk-warning-text forms-info-text warning-overrides">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Based on the information provided, the provisional category is {{ catDisplay(cat) }}
  </strong>
</div>

<input type="hidden" name="suggestedCategory" value="{{ cat }}" />

{{ govukRadios({
  name: "categoryAppropriate",
  classes: "govuk-radios--inline",
  fieldset: {
    legend: {
      text: "Do you think the category is appropriate?",
      isPageHeading: false
    }
  },
  errorMessage: {
    text: "Select yes if you think this category is appropriate"
  } if (errors | findError('categoryAppropriate')),
  items: [
    {
      value: "Yes",
      checked: data.categoriser.provisionalCategory.categoryAppropriate == 'Yes',
      text: "Yes"
    },
    {
      value: "No",
      checked: data.categoriser.provisionalCategory.categoryAppropriate === 'No',
      text: "No, consider for open",
      conditional: {
        html:overriddenCategoryTextHtml
      }
    }
  ]
}) }}
{{ govukTextarea({
  name: "otherInformationText",
  type: "otherInformationText",
  id: "otherInformationText",
  attributes: { 'maxlength': 50000 },
  label: {
    text: "Is there any other relevant information that you want to record?"
  },
  hint: {
    text: "Your comments will be disclosed to the prisoner"
  },
  value: data.categoriser.provisionalCategory.otherInformationText
}) }}

{% endblock %}
