{% set mainClasses = 'govuk-!-width-two-thirds' %}
{% extends "../partials/layout.html" %}
{% from "button/macro.njk" import govukButton %}
{% from "panel/macro.njk" import govukPanel %}

{% set pageTitle = "Submitted for approval" %}

{% block beforeContent %}

{% include "../partials/breadCrumb.html" %}

{% endblock %}

{% block content %}

{{ govukPanel({
  titleText: pageTitle
}) }}
<p>This has been forwarded to a supervisor.</p>
<h2>What happens next</h2>
<p>A supervisor will review your decision.</p>

They will either:
<ul>
  <li>accept your assessment</li>
  <li>change your assessment (and tell you why)</li>
  <li>reject your assessment and send it back to you with some suggestions</li>
</ul>
{{ govukButton({
  text: "Finish",
  href: "/"
}) }}

{% endblock %}
