{% extends "../partials/layout.html" %}
{% from "button/macro.njk" import govukButton %}
{% from "warning-text/macro.njk" import govukWarningText %}

{% set pageTitle = "Start an initial categorisation" %}

{% block beforeContent %}

  {% include "../partials/breadCrumb.html" %}

  {% include "../partials/offenderBanner.html" %}

{% endblock %}

{% block content %}

<div class="govuk-!-width-two-thirds">
  <h1 class="govuk-heading-m">Start an initial categorisation</h1>

  {% include "../partials/tprsLandingBanner.html" %}

  <div>
    {% if data.requiredCatType %}
      {% if data.requiredCatType == 'RECAT' %}
        {{ govukWarningText({
          text: 'This prisoner is already ' + data.details.category,
          iconFallbackText: "Warning",
          classes: "forms-warning-text warning-overrides"
        }) }}
      {% endif %}
      {% if not inProgress(data) %}
        {{ govukButton({
          text: 'Start categorisation',
          href: '/tasklist/' + data.details.bookingId + '?reason=MANUAL',
          classes: 'grey-button',
          attributes: { 'id': 'initialButton','data-prevent-double-click': 'true' }
        }) }}
      {% elif data.status == Status.AWAITING_APPROVAL.name %}
        {{ govukWarningText({
          text: 'This prisoner is awaiting supervisor approval',
          iconFallbackText: "Warning",
          classes: "forms-warning-text warning-overrides"
        }) }}
        {{ govukButton({
          text: 'View categorisation',
          href: '/form/awaitingApprovalView/' + data.details.bookingId,
          classes: 'grey-button',
          attributes: { 'id': 'viewButton' }
        }) }}
      {% elif data.inProgressCatType == 'RECAT' %}
        {{ govukWarningText({
          text: "This prisoner has a categorisation review in progress",
          iconFallbackText: "Warning",
          classes: "forms-warning-text warning-overrides"
        }) }}
      {% else %}
        <p>This prisoner's categorisation is in progress.</p>
        {{ govukButton({
          text: 'Continue categorisation',
          href: '/tasklist/' + data.details.bookingId,
          classes: 'grey-button',
          attributes: { 'id': 'editButton' }
        }) }}
      {% endif %}
    {% else %}
      {{ govukWarningText({
        text: 'You cannot start a category review early for a ' + data.details.category + " prisoner. You'll need to change their security category.",
        iconFallbackText: "Warning",
        classes: "forms-warning-text warning-overrides"
      }) }}
    {% endif %}
  </div>

  {% include "../partials/nextReviewDate.html" %}

  {% if data.isSecurityReferred %}
    <h1 class="govuk-heading-m">This person will automatically be referred to security at next category review</h1>
    <p>Referred by {{ data.referrerUser.displayNameAlternative }}{% if data.prisonDescription %} of {{ data.prisonDescription}}{% endif %} on {{ data.referredDate }}.</p>
  {% endif %}

  <h1 class="govuk-heading-m govuk-!-padding-top-4" id="previousCategoryHeading">Check previous category reviews</h1>
  <p>See all information from previous category reviews.</p>
  {{ govukButton({
    text: 'Check previous reviews',
    href: '/categoryHistory/' + data.details.bookingId,
    classes: 'grey-button',
    attributes: { 'id': 'historyButton' }
  }) }}

  <h1 class="govuk-heading-m govuk-!-padding-top-4" id="liteCategoriesHeading">Change security category</h1>
  <p>This allows you to recategorise, for example to category A or unclassified.</p>
  {{ govukButton({
    text: 'Change category',
    href: '/liteCategories/' + data.details.bookingId,
    classes: 'grey-button',
    attributes: { 'id': 'liteCategoriesButton' }
  }) }}
</div>

{% endblock %}
