{% extends "../partials/layout.html" %}

{% from "button/macro.njk" import govukButton %}
{% from "tag/macro.njk" import govukTag %}
{% from "../macros/breadCrumb.html" import breadCrumb %}
{% from "details/macro.njk" import govukDetails %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = "Prisoner Categorisation" %}

{% block beforeContent %}

  {{ breadCrumb(breadCrumbList) }}

{% endblock %}

{% block content %}

  {% if isInWomensEstate %}
    {% include "../partials/smartSurveyTag.html" %}
  {% endif %}

<div >
  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
</div>

<div class="govuk-tabs" data-module="govuk-tabs-disabled">

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" id="todo-tab">
        To do
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" id="done-tab" href="/categoriserDone">
        Done
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel">
    <div class="filterable-table-container">
      {% include "../partials/homeFilter.html" %}

      {% set tableContainerClass = 'govuk-grid-column-full govuk-!-padding-0' if hideHomeFilter else 'filterable-table-body-container' %}

      <div id="tableContainer" class="{{ tableContainerClass }}">
        <div class="filterControls">
          <div>
            {{ govukButton({
              id: "hideFilterButton",
              text: "Show filter" if hideHomeFilter else "Hide filter",
              classes: "govuk-button--secondary govuk-!-margin-bottom-0"
            }) }}
          </div>
          <div class="govuk-!-margin-left-2">You have <b>{{ numberOfFiltersApplied }}</b> filter{{ 's' if numberOfFiltersApplied != 1 }} applied</div>
        </div>
          {% if offenders | length > 0 %}
            <div class="recategorisation-scrollable-pane">
              {% set categorisationReviews = [] %}
              {% for offender in offenders %}
                {% set dateColumn %}
                  {% if offender.overdue %}
                    {{ govukTag({
                      html: offender.overdueText + '<br>overdue',
                      classes: 'govuk-tag--red',
                      attributes: { 'title': 'Due date: ' + offender.dateRequired }
                    }) }}
                  {% else %}
                    {{ offender.dateRequired }}
                  {% endif %}
                {% endset %}
                {% set nameColumn %}
                  <a class="text-break-word" target="_blank" href="{{ offender.offenderNo | offenderLink }}">{{ offender.displayName }}</a><p>{{ offender.offenderNo }}</p>
                  {% if offender.securityReferred %}
                    {{ govukDetails({
                      summaryText: 'Security referred',
                      text: 'Security have flagged this person as being of interest. They will be automatically referred to security when the categorisation starts.',
                      classes: 'govuk-body govuk-!-font-size-14 govuk-!-margin-bottom-0'
                    }) }}
                  {% endif %}
                {% endset %}
                {% set statusColumn %}
                  {% if offender.displayStatus == 'Back from Supervisor' %}
                    {{ govukTag({
                      html: 'REJECTED BY<br/>SUPERVISOR'
                    }) }}
                  {% else %}
                    {{ offender.displayStatus }}
                  {% endif %}
                {% endset %}
                {% set actionColumn %}
                  {% set buttonText = "Edit" if offender.dbRecordExists else "Start" %}
                  {% set basicClasses = "tableButton govuk-!-padding-left-3 govuk-!-padding-right-3" %}
                  {% set classes = basicClasses + " grey-button" if offender.dbRecordExists else basicClasses %}
                  {% if offender.pnomis %}
                    <div class="govuk-!-margin-bottom-1 govuk-!-margin-top-1">{{ offender.pnomis }}</div>
                  {% else %}
                    {% if offender.displayStatus == 'Awaiting approval' %}
                      {{ govukButton({
                        text: "View",
                        href: "/form/awaitingApprovalView/" + offender.bookingId,
                        classes: classes
                      }) }}
                    {% else %}
                      {{ govukButton({
                        text: buttonText,
                        href: "/tasklist/" + offender.bookingId if not locked,
                        attributes: { 'data-prevent-double-click': 'true' },
                        classes: classes + " govuk-!-margin-top-2 govuk-!-margin-bottom-8"
                      }) }}
                    {% endif %}
                  {% endif %}
                {% endset %}
                {% set categorisationReviews = (categorisationReviews.push([
                  {
                    html: dateColumn,
                    attributes: { "data-sort-value": offender.dateRequired | sortDateValue },
                    classes: 'text-inline'
                  },
                  {
                    html: nameColumn,
                    attributes: { "data-sort-value": offender.displayName.toLowerCase() if offender.displayName else '' }
                  }, {
                    text: offender.daysSinceSentence
                  }, {
                    html: statusColumn
                  }, {
                    text: offender.pom,
                    attributes: { "data-sort-value": offender.pom.toLowerCase() if offender.pom else '' }
                  }, {
                    html: actionColumn
                  }
                ]), categorisationReviews) %}
              {% endfor %}
              {{ govukTable({
                classes: "recategorisation-table",
                attributes: {
                  'data-module': 'moj-sortable-table'
                },
                head: [
                  {
                    text: "Date required by",
                    attributes: {
                      "aria-sort": sortDirection if sortAttribute === "date" else "none",
                      "aria-sort-attribute": "date"
                    }
                  },
                  {
                    text: "Name and prison number",
                    attributes: {
                      "aria-sort": sortDirection if sortAttribute === "name" else "none",
                      "aria-sort-attribute": "name"
                    }
                  },
                  {
                    html: "Days since<br/>sentence"
                  },
                  {
                    text: "Status"
                  },
                  {
                    text: "POM",
                    attributes: {
                      "aria-sort": sortDirection if sortAttribute === "pom" else "none",
                      "aria-sort-attribute": "pom"
                    }
                  },
                  {
                    text: ""
                  }
                ],
                rows: categorisationReviews
              }) }}
            </div>
          {% else %}
            <div class="govuk-!-padding-top-4">
              {% if filters|length %}
                <div id="no-results-due-to-filters-message">
                  <h3 class="govuk-heading-s">There are no prisoners matching the selected filters.</h3>
                  <div>Try removing filters to show more prisoners.</div>
                </div>
              {% else %}
                <div id="no-results-message">
                  <h3 class="govuk-heading-s">There are no uncategorised prisoners to show.</h3>
                </div>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
  </section>
</div>

{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <meta name="csrf-token" content="{{ csrfToken }}">
  <script type="module" src="/assets/js/categorisationHome.js"></script>
{% endblock %}
