{% extends "../partials/layout.html" %}

{% from "button/macro.njk" import govukButton %}
{% from "input/macro.njk" import govukInput %}
{% from "../macros/breadCrumb.html" import breadCrumb %}
{% set pageTitle = "Initial categorisations statistics" %}

{% block beforeContent %}

{% include "../partials/breadCrumb.html" %}

{% endblock %}

{% block content %}

<div >
  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
</div>
<div>
  <p>The statistics on this page are for approved initial categorisations.</p>
  {% include "../partials/dashboardForm.html" %}
  <hr/>
  <br />
  <div class="govuk-!-width-two-thirds">
    <h3>Initial categorisation decisions</h3>
    <table class="govuk-table" id="initialTable">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Suggested category</th>
          <th class="govuk-table__header" scope="col">Categoriser override</th>
          <th class="govuk-table__header" scope="col">Supervisor override</th>
          <th class="govuk-table__header" scope="col">Percentage</th>
          <th class="govuk-table__header" scope="col">Numbers</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for row in initial %}
          <tr class="govuk-table__row ">
            <td class="govuk-table__cell">{{ catMappings(row.initialCat) }}</td>
            <td class="govuk-table__cell">{{ catMappings(row.initialOverride) }}</td>
            <td class="govuk-table__cell">{{ catMappings(row.superOverride) }}</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">{{ (row.count / total * 100) | fixed }}%</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">{{ row.count }}</td>
          </tr>
        {% endfor %}
        <tr class="govuk-table__row ">
          <td class="govuk-table__cell govuk-!-font-weight-bold">Total</td>
          <td class="govuk-table__cell govuk-!-font-weight-bold"></td>
          <td class="govuk-table__cell govuk-!-font-weight-bold"></td>
          <td class="govuk-table__cell govuk-!-font-weight-bold"></td>
          <td class="govuk-table__cell govuk-!-font-weight-bold govuk-table__cell--numeric">{{ total }}</td>
        </tr>
      </tbody>
    </table>
    {% if (not errors | length) %}
      {% include "../partials/dashboardData.html" %}
    {% endif %}
  </div>
</div>
{% endblock %}
