{% extends "../partials/layout.html" %}

{% from "button/macro.njk" import govukButton %}
{% from "input/macro.njk" import govukInput %}
{% from "../macros/breadCrumb.html" import breadCrumb %}
{% set pageTitle = "Dashboard - Initial categorisations" %}

{% block beforeContent %}

{% include "../partials/breadCrumb.html" %}

{% endblock %}

{% block content %}

<div >
  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
</div>

<div>
  {% include "../partials/dashboardForm.html" %}
  <hr/>
  <div class="govuk-!-width-two-thirds">
    <h3>Categorisation numbers</h3>
    <table class="govuk-table" id="initialTable">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Suggested category</th>
          <th class="govuk-table__header" scope="col">Categoriser override</th>
          <th class="govuk-table__header" scope="col">Supervisor override</th>
          <th class="govuk-table__header" scope="col">numbers</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for row in initial %}
          <tr class="govuk-table__row ">
            <td class="govuk-table__cell">{{ catDisplay(row.initialCat) }}</td>
            <td class="govuk-table__cell">{{ catDisplay(row.initialOverride) }}</td>
            <td class="govuk-table__cell">{{ catDisplay(row.superOverride) }}</td>
            <td class="govuk-table__cell">{{ row.count }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if (not errors | length) %}
      {% include "../partials/dashboardData.html" %}
    {% endif %}
  </div>
</div>
{% endblock %}
