{% extends "../partials/layout.html" %}

{% from "button/macro.njk" import govukButton %}
{% from "input/macro.njk" import govukInput %}
{% from "../macros/breadCrumb.html" import breadCrumb %}
{% set pageTitle = "Dashboard - Categorisation reviews" %}

{% block beforeContent %}

{% include "../partials/breadCrumb.html" %}

{% endblock %}

{% block content %}

<div >
  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
</div>

<div>
  {% include "../partials/dashboardForm.html" %}
  <hr/>
  <h3>Categorisation review numbers</h3>
  <table class="govuk-table" id="reviewNumbersTable">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">From/To</th>
        <th class="govuk-table__cell table-fixed-width govuk-!-font-weight-bold" scope="col">B</th>
        <th class="govuk-table__cell table-fixed-width govuk-!-font-weight-bold" scope="col">C</th>
        <th class="govuk-table__cell table-fixed-width govuk-!-font-weight-bold" scope="col">D</th>
        <th class="govuk-table__cell table-fixed-width govuk-!-font-weight-bold" scope="col">YOI&nbsp;closed</th>
        <th class="govuk-table__cell table-fixed-width govuk-!-font-weight-bold" scope="col">YOI&nbsp;open</th>
        <th class="govuk-table__cell table-fixed-width govuk-!-font-weight-bold" scope="col">Total</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-font-weight-bold">B</td>
        <td class="govuk-table__cell table-diagonal-cell">{{ table[0][0] }}</td>
        <td class="govuk-table__cell">{{ table[0][1] }}</td>
        <td class="govuk-table__cell">{{ table[0][2] }}</td>
        <td class="govuk-table__cell">{{ table[0][3] }}</td>
        <td class="govuk-table__cell">{{ table[0][4] }}</td>
        <td class="govuk-table__cell">{{ table[0][5] }}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-font-weight-bold">C</td>
        <td class="govuk-table__cell">{{ table[1][0] }}</td>
        <td class="govuk-table__cell table-diagonal-cell">{{ table[1][1] }}</td>
        <td class="govuk-table__cell">{{ table[1][2] }}</td>
        <td class="govuk-table__cell">{{ table[1][3] }}</td>
        <td class="govuk-table__cell">{{ table[1][4] }}</td>
        <td class="govuk-table__cell">{{ table[1][5] }}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-font-weight-bold">D</td>
        <td class="govuk-table__cell">{{ table[2][0] }}</td>
        <td class="govuk-table__cell">{{ table[2][1] }}</td>
        <td class="govuk-table__cell table-diagonal-cell">{{ table[2][2] }}</td>
        <td class="govuk-table__cell">{{ table[2][3] }}</td>
        <td class="govuk-table__cell">{{ table[2][4] }}</td>
        <td class="govuk-table__cell">{{ table[2][5] }}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-font-weight-bold">YOI&nbsp;closed</td>
        <td class="govuk-table__cell">{{ table[3][0] }}</td>
        <td class="govuk-table__cell">{{ table[3][1] }}</td>
        <td class="govuk-table__cell">{{ table[3][2] }}</td>
        <td class="govuk-table__cell table-diagonal-cell">{{ table[3][3] }}</td>
        <td class="govuk-table__cell">{{ table[3][4] }}</td>
        <td class="govuk-table__cell">{{ table[3][5] }}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-font-weight-bold">YOI&nbsp;open</td>
        <td class="govuk-table__cell">{{ table[4][0] }}</td>
        <td class="govuk-table__cell">{{ table[4][1] }}</td>
        <td class="govuk-table__cell">{{ table[4][2] }}</td>
        <td class="govuk-table__cell">{{ table[4][3] }}</td>
        <td class="govuk-table__cell table-diagonal-cell">{{ table[4][4] }}</td>
        <td class="govuk-table__cell">{{ table[4][5] }}</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-font-weight-bold">Total</td>
        <td class="govuk-table__cell">{{ table[5][0] }}</td>
        <td class="govuk-table__cell">{{ table[5][1] }}</td>
        <td class="govuk-table__cell">{{ table[5][2] }}</td>
        <td class="govuk-table__cell">{{ table[5][3] }}</td>
        <td class="govuk-table__cell">{{ table[5][4] }}</td>
        <td class="govuk-table__cell">{{ table[5][5] }}</td>
      </tr>
    </tbody>
  </table>
  <div class="govuk-!-width-two-thirds">
    <h3>Overrides</h3>
    <table class="govuk-table" id="recatTable">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Selected by categoriser</th>
          <th class="govuk-table__header" scope="col">Supervisor override</th>
          <th class="govuk-table__header" scope="col">numbers</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for row in recat %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ catMappings(row.recat) }}</td>
            <td class="govuk-table__cell">{{ catMappings(row.superOverride) }}</td>
            <td class="govuk-table__cell">{{ row.count }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if (not errors | length) %}
      {% include "../partials/dashboardData.html" %}
    {% endif %}
  </div>
</div>
{% endblock %}
