{% extends "../partials/layout.html" %}

{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "button/macro.njk" import govukButton %}
{% from "input/macro.njk" import govukInput %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    }
  ]
}) }}
{% endblock %}

{% block content %}

<div >
  <h1 class="govuk-heading-l">Dashboard</h1>
</div>

<div>
  {# WIP and TODO!
  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

    <div class=" govuk-!-display-inline">
      <label class="govuk-label govuk-!-display-inline" for="startDate">
        Start Date:
      </label>
      <input class="govuk-input dateInputWidth govuk-!-display-inline" id="startDate" name="startDate" type="text">
    </div>

    <div class=" govuk-!-display-inline">
      <label class="govuk-label govuk-!-display-inline" for="endDate">
        End Date:
      </label>
      <input class="govuk-input dateInputWidth govuk-!-display-inline" id="endDate" name="endDate" type="text">
    </div>

    <div class=" govuk-!-display-inline">
      <select class="govuk-select govuk-!-margin-left-1" id="within" name="within">
        <option value="within">within this prison</option>
        <option value="all">all</option>
      </select>
    </div>

    <button type="submit" class="govuk-button" data-module="govuk-button">Update</button>
  </form>
  <hr/>
  #}
  <h3>Initial cat numbers</h3>
  <table class="govuk-table" id="initialTable">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">initialCat</th>
        <th class="govuk-table__header" scope="col">initialOverride</th>
        <th class="govuk-table__header" scope="col">super</th>
        <th class="govuk-table__header" scope="col">superOverride</th>
        <th class="govuk-table__header" scope="col">numbers</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for row in initial %}
        <tr class="govuk-table__row ">
          <td class="govuk-table__cell"> {{ row.initialCat }}</td>
          <td class="govuk-table__cell">{{ row.initialOverride }}</td>
          <td class="govuk-table__cell">{{ row.super }}</td>
          <td class="govuk-table__cell">{{ row.superOverride }}</td>
          <td class="govuk-table__cell">{{ row.count }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <h3>Recat numbers</h3>
  <table class="govuk-table" id="recatTable">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">recat</th>
        <th class="govuk-table__header" scope="col">superOverride</th>
        <th class="govuk-table__header" scope="col">numbers</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for row in recat %}
        <tr class="govuk-table__row ">
          <td class="govuk-table__cell"> {{ row.recat }}</td>
          <td class="govuk-table__cell">{{ row.superOverride }}</td>
          <td class="govuk-table__cell">{{ row.count }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <h3>Referrals to security</h3>
  <p>Initial manual: {{security.initialManual}} </p>
  <p>Initial auto: {{security.initialAuto}} </p>
  <p>Recat manual: {{security.recatManual}} </p>
  <p>Recat auto: {{security.recatAuto}} </p>
  <hr/>

  <h3>Timeliness</h3>
  <table class="govuk-table" id="timeliness">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col"></th>
      <th class="govuk-table__header" scope="col">Initial</th>
      <th class="govuk-table__header" scope="col">Recat</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row ">
      <td class="govuk-table__cell">Number of days before due date that approval occurred</td>
      <td class="govuk-table__cell"> {{ timeliness.initial.approvalTimelinessDays }}</td>
      <td class="govuk-table__cell"> {{ timeliness.recat.approvalTimelinessDays }}</td>
    </tr>
    <tr class="govuk-table__row ">
      <td class="govuk-table__cell">Security referral timeliness (Hours from start to referral)</td>
      <td class="govuk-table__cell"> {{ timeliness.initial.securityReferralTimelinessHours }}</td>
      <td class="govuk-table__cell"> {{ timeliness.recat.securityReferralTimelinessHours }}</td>
    </tr>
    <tr class="govuk-table__row ">
      <td class="govuk-table__cell">Hours in security</td>
      <td class="govuk-table__cell"> {{ timeliness.initial.inSecurityHours }}</td>
      <td class="govuk-table__cell"> {{ timeliness.recat.inSecurityHours }}</td>
    </tr>
    <tr class="govuk-table__row ">
      <td class="govuk-table__cell">Start to assessment completion (days)</td>
      <td class="govuk-table__cell"> {{ timeliness.initial.startToAssessmentDays }}</td>
      <td class="govuk-table__cell"> {{ timeliness.recat.startToAssessmentDays }}</td>
    </tr>
    <tr class="govuk-table__row ">
      <td class="govuk-table__cell">Approval time (days)</td>
      <td class="govuk-table__cell"> {{ timeliness.initial.assessmentToApprovalDays | round(2) }}</td>
      <td class="govuk-table__cell"> {{ timeliness.recat.assessmentToApprovalDays | round(2) }}</td>
    </tr>
    </tbody>
  </table>
  {# <pre>{{ timeliness | dump(2) }}</pre> #}
  <p>Initial total = {{ initial.length }}</p>
  <p>Recat total = {{ recat.length }}</p>
  <p class="govuk-!-font-weight-bold">Grand total = {{ initial.length + recat.length }}</p>
</div>

{% endblock %}
