{% extends "../partials/layout.html" %}

{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "button/macro.njk" import govukButton %}
{% from "table/macro.njk" import govukTable %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Prisoner Categorisation</h1>

    {{ govukTable({
    caption: "To be categorised",
    firstCellIsHeader: false,
    head: [
    { text: "Name" },
    { text: "Prison No." },
    { text: "Days since referral", format: "numeric" },
    { text: "Date required by" },
    { text: "Status" },
    { }
    ],
    rows: [
    [
    { text: "Ryder, Mark" },
    { text: "A1234AA" },
    { text: "4", format: "numeric" },
    { text: "12/01/2019" },
    { text: "Not categorised" },
    {
    text: govukButton({
    text: "Start now",
    href: "/tasklist",
    classes: "govuk-button--start"
    })
    }
    ],
    [
    { text: "Branston, David" },
    { text: "A1234AA" },
    { text: "5", format: "numeric" },
    { text: "12/01/2019" },
    { text: "Not categorised" },
    {
    text: govukButton({
    text: "Start now",
    href: "/tasklist",
    classes: "govuk-button--start"
    })
    }
    ]
    ]
    }) }}
{#  govuk-!-margin-top-2 govuk-!-margin-bottom-8 #}

  </div>
</div>
{% endblock %}

