{% extends "../partials/layout.html" %}
{% from "button/macro.njk" import govukButton %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "warning-text/macro.njk" import govukWarningText %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: backLink or "/"
}) }}

{% include "../partials/offenderBanner.html" %}

{% endblock %}

{% block content %}

  {% if user.roles.categoriser %}
  <h1 class="govuk-heading-l">Start an initial categorisation</h1>

  <div>
    {% if data.requiredCatType %}
      {% if data.requiredCatType == 'RECAT' %}
        {{ govukWarningText({
          text: 'This prisoner already has a category of ' + data.details.category + '.',
          iconFallbackText: "Warning",
          classes: "forms-warning-text warning-overrides"
        }) }}
      {% endif %}
      {% if not data.status or data.status == Status.APPROVED.name %}
        <p>Once started, you cannot cancel a categorisation.</p>
        {{ govukButton({
          text: 'Start initial categorisation',
          href: '/tasklist/' + data.details.bookingId + '?reason=MANUAL',
          classes: 'grey-button',
          attributes: { 'id': 'initialButton' }
        }) }}
      {% elif data.status == Status.AWAITING_APPROVAL.name %}
        {{ govukWarningText({
          text: 'This prisoner is awaiting supervisor approval',
          iconFallbackText: "Warning",
          classes: "forms-warning-text warning-overrides"
        }) }}
        {{ govukButton({
          text: 'View categorisation',
          href: '/form/awaitingApprovalView/' + data.details.bookingId,
          classes: 'grey-button',
          attributes: { 'id': 'viewButton' }
        }) }}
      {% elif data.inProgressCatType == 'RECAT' %}
        {{ govukWarningText({
          text: "This prisoner has a categorisation review in progress",
          iconFallbackText: "Warning",
          classes: "forms-warning-text warning-overrides"
        }) }}
      {% else %}
        <p>This prisoner's categorisation is in progress.</p>
        {{ govukButton({
          text: 'Continue categorisation',
          href: '/tasklist/' + data.details.bookingId,
          classes: 'grey-button',
          attributes: { 'id': 'editButton' }
        }) }}
      {% endif %}
    {% else %}
      {{ govukWarningText({
        text: 'This prisoner is ' + data.details.category + '. They cannot be categorised here.',
        iconFallbackText: "Warning",
        classes: "forms-warning-text warning-overrides"
      }) }}
    {% endif %}
  </div>
  {% endif %}

  {% if user.roles.recategoriser %}
  <h1 class="govuk-heading-l">Start a category review early</h1>

  <div>
    {% if data.requiredCatType == 'RECAT' %}
      {% if not data.status or data.status == Status.APPROVED.name %}
        <p>They are due to be reviewed by {{ getLongDateFormat(dateConverter(data.nextReviewDate)) }}.</p>
        <p>Once started, you cannot cancel an early category review. However, you will have until their review due date to finish it.</p>
        <form method="post">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
          <input type="hidden" name="landingType" value="earlyReview" />
          {{ govukButton({
            text: 'Start review',
            classes: 'grey-button',
            attributes: { 'id': 'recatButton' }
          }) }}
        </form>
      {% elif data.status == Status.AWAITING_APPROVAL.name %}
        {{ govukWarningText({
          text: 'This prisoner is awaiting supervisor approval',
          iconFallbackText: "Warning",
          classes: "forms-warning-text warning-overrides"
        }) }}
        {{ govukButton({
          text: 'View categorisation',
          href: '/form/awaitingApprovalView/' + data.details.bookingId,
          classes: 'grey-button',
          attributes: { 'id': 'viewButton' }
        }) }}
      {% elif data.inProgressCatType == 'INITIAL' %}
        {{ govukWarningText({
          text: "This prisoner has an initial categorisation in progress",
          iconFallbackText: "Warning",
          classes: "forms-warning-text warning-overrides"
        }) }}
      {% else %}
        <p>This prisoner's categorisation review is in progress.</p>
        {{ govukButton({
          text: 'Continue review',
          href: '/tasklistRecat/' + data.details.bookingId,
          classes: 'grey-button',
          attributes: { 'id': 'editButton' }
        }) }}
      {% endif %}
    {% elif data.requiredCatType == 'INITIAL' %}
      {{ govukWarningText({
        text: 'This prisoner seems to need an INITIAL category.',
        iconFallbackText: "Warning",
        classes: "forms-warning-text warning-overrides"
      }) }}
    {% else %}
      {{ govukWarningText({
        text: 'This prisoner is ' + data.details.category + '. They cannot be categorised here.',
        iconFallbackText: "Warning",
        classes: "forms-warning-text warning-overrides"
      }) }}
    {% endif %}
  </div>
  {% endif %}

  {% if data.isSecurityReferred %}
    <h1 class="govuk-heading-l">This person will automatically be referred to security at next category review</h1>
    <p>This cannot be cancelled.</p>
  {% elif user.roles.security %}
    <h1 class="govuk-heading-l">Refer this person to security at next category review</h1>
    <p>This means they will automatically be referred to security when their next category review is started.</p>
    <div>
      <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{ govukButton({
          text: 'Set this up',
          classes: 'grey-button',
          attributes: { 'id': 'securityButton' }
        }) }}
      </form>
    </div>
  {% endif %}

  <h1 class="govuk-heading-l govuk-!-padding-top-4" id="previousCategoryHeading">Check previous category reviews</h1>

  <p>See all information from previous category reviews.</p>

  {{ govukButton({
    text: 'Check previous reviews',
    href: '/categoryHistory/' + data.details.bookingId,
    classes: 'grey-button',
    attributes: { 'id': 'historyButton' }
  }) }}

{% endblock %}
