{% extends "../partials/layout.html" %}
{% from "button/macro.njk" import govukButton %}


{% set pageTitle = "Manage categorisations" %}

{% block beforeContent %}
  {% set offenderBack = offenderLink %}

  {% include "../partials/breadCrumb.html" %}

  {% include "../partials/offenderBanner.html" %}

{% endblock %}

{% block content %}

<div class="govuk-!-width-two-thirds">

  {% if data.nextReviewDate %}
    <p class="data-qa-nextReviewDate">They are due to be reviewed by {{ getLongDateFormat(dateConverter(data.nextReviewDate)) }}.</p>
  {% endif %}

  <h1 class="govuk-heading-l govuk-!-padding-top-4" id="previousCategoryHeading">Check previous category reviews</h1>
  <p>See all information from previous category reviews.</p>
  {{ govukButton({
    text: 'Check previous reviews',
    href: '/categoryHistory/' + data.details.bookingId,
    classes: 'grey-button',
    attributes: { 'id': 'historyButton' }
  }) }}

</div>

{% endblock %}
