{% extends "../partials/layout.html" %}
{% from "../macros/breadCrumb.html" import breadCrumb %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "warning-text/macro.njk" import govukWarningText %}
{% from "select/macro.njk" import govukSelect %}
{% from "input/macro.njk" import govukInput %}
{% from "date-input/macro.njk" import govukDateInput %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "button/macro.njk" import govukButton %}

{% set pageTitle = "Change security category" %}

{% block beforeContent %}

  {% set breadCrumbList = [ {href: '/' + data.details.bookingId, title: 'Manage categorisations'} ] %}
  {{ breadCrumb(breadCrumbList) }}

  {% include "../partials/offenderBanner.html" %}

{% endblock %}

{% block content %}

{% if errors.length > 0 %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}

<div class="govuk-!-width-two-thirds">

  <h1 class="govuk-heading-l govuk-!-padding-top-4" id="previousCategoryHeading">{{ pageTitle }}</h1>
  <p>Change this prisoner’s category outside of the standard assessment process, for example to category A or unclassified.</p>
  {% if inProgress(data) or liteInProgress %}

    {{ govukWarningText({
      text: 'A categorisation is already in progress for this person.',
      iconFallbackText: "Warning",
      classes: "forms-warning-text warning-overrides",
      attributes: {  'id': 'inProgressWarning' }
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ govukButton({
        text: "Return to dashboard",
        href: "/",
        classes: "grey-button"
        }) }}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ govukButton({
        text: "Return to Manage categorisations",
        href: "/" + bookingId,
        classes: "grey-button"
        }) }}
      </div>
    </div>

  {% else %}

  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    {{ govukSelect({
      id: 'category',
      name: 'category',
      label: { text: 'Category' },
      items: cats,
      value: category,
      errorMessage: errors | findError('category')
    }) }}
    {{ govukSelect({
      id: 'authority',
      name: 'authority',
      label: { text: 'Authority' },
      items: committees,
      errorMessage: errors | findError('authority')
    }) }}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
      {{ govukDateInput({
        id: "nextReviewDate",
        items: [
            {"id": "nextReviewDateDay", label: "Day", "name": "nextReviewDate[day]", value: nextReviewDate.day, "classes": "govuk-input--width-2"},
            {"id": "nextReviewDateMonth", label: "Month", "name": "nextReviewDate[month]", value: nextReviewDate.month, "classes": "govuk-input--width-2"},
            {"id": "nextReviewDateYear", label: "Year", "name": "nextReviewDate[year]", value: nextReviewDate.year, "classes": "govuk-input--width-4"}
        ],
        hint: {
          text: "For example, 27 3 2024"
        },
        fieldset: {
            legend: {
              text: 'Reassessment date',
              isPageHeading: false
            }
          },
        errorMessage: errors | findError('nextReviewDate')
      }) }}

      {{ govukSelect({
        id: 'placement',
        name: 'placement',
        label: { text: 'Recommended placement' },
        items: prisonList,
        value: placement,
        errorMessage: errors | findError('placement')
      }) }}

      {{ govukTextarea({
      id: 'comment',
        name: 'comment',
        rows: 2,
        attributes: { 'maxlength': 4000 },
        label: { text: 'Comment (optional)' },
        errorMessage: {
          text: 'Please enter comment'
        } if (errors | findError('comment')),
        value: comment
      }) }}

      {{ govukButton({
        text: 'Submit',
        attributes: { 'id': 'initialButton','data-prevent-double-click': 'true' }
      }) }}
      </div>
    </div>
  </form>
  {% endif %}

</div>

{% endblock %}


{% block bodyEnd %}
{{ super() }}
<script src="/assets/js/preventDoubleSubmit/index.js"></script>
{% endblock %}
