{% extends "../partials/layout.html" %}
{% from "../macros/breadCrumb.html" import breadCrumb %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "warning-text/macro.njk" import govukWarningText %}
{% from "select/macro.njk" import govukSelect %}
{% from "input/macro.njk" import govukInput %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "button/macro.njk" import govukButton %}
{% from "summary-list/macro.njk" import govukSummaryList %}
{% from "date-input/macro.njk" import govukDateInput %}

{% set pageTitle = "Approve security category" %}

{% block beforeContent %}

  {% set breadCrumbList = [ {href: '/' + data.details.bookingId, title: 'Manage categorisations'} ] %}
  {{ breadCrumb(breadCrumbList) }}

  {% include "../partials/offenderBanner.html" %}

{% endblock %}

{% block content %}

{% if errors.length > 0 %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}

<div class="govuk-!-width-two-thirds govuk-body-s">

  <h1 class="govuk-heading-l govuk-!-padding-top-4" id="previousCategoryHeading">{{ pageTitle }}</h1>
  <p>Approve this prisoner’s category outside of the standard assessment process.</p>
  {% if not liteInProgress %}

    {{ govukWarningText({
      text: 'There is nothing to approve: this person does not have a pending categorisation.',
      iconFallbackText: "Warning",
      classes: "forms-warning-text warning-overrides",
      attributes: {  'id': 'inProgressWarning' }
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
      {{ govukButton({
        text: "Return to dashboard",
        href: "/",
        classes: "grey-button"
      }) }}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
      {{ govukButton({
        text: "Return to Manage categorisations",
        href: "/" + bookingId,
        classes: "grey-button"
      }) }}
      </div>
    </div>

  {% elif sameUser %}

    {{ govukWarningText({
      text: 'A categorisation cannot be approved by the same user.',
      iconFallbackText: "Warning",
      classes: "forms-warning-text warning-overrides",
      attributes: {  'id': 'inProgressWarning' }
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
      {{ govukButton({
        text: "Return to dashboard",
        href: "/",
        classes: "grey-button"
      }) }}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
      {{ govukButton({
        text: "Return to Manage categorisations",
        href: "/" + bookingId,
        classes: "grey-button"
      }) }}
      </div>
    </div>

  {% else %}
  <h2>Submitted assessment details</h2>

  {{ govukSummaryList({
    rows: [
      {
        key: { text: "Category" },
        value: { text: assessmentData.categoryDisplay },
        actions: { items: [] }
      },
      {
        key: { text: "Authority" },
        value: { text: assessmentData.assessmentCommitteeDisplay },
        actions: { items: [] }
      },
      {
        key: { text: "Reassessment date" },
        value: { text: assessmentData.displayNextReviewDate },
        actions: { items: [] }
      },
      {
        key: { text: "Recommended placement" },
        value: { text: assessmentData.placementPrisonIdDisplay },
        actions: { items: [] }
      },
      {
        key: { text: "Assessment comment" },
        value: { text: assessmentData.assessmentComment },
        actions: { items: []}
      },
      {
        key: { text: "Assessor" },
        value: { text: assessmentData.assessedByDisplay },
        actions: { items: [] }
      },
      {
        key: { text: "Assessment date" },
        value: { text: assessmentData.displayCreatedDate },
        actions: { items: [] }
      }
    ]
  }) }}

  <h2>Approval details</h2>

  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    {{ govukDateInput({
      id: "approvedDate",
      items: [
        {"id": "approvedDateDay", label: "Day", "name": "approvedDate[day]", value: approvedDate.day, "classes": "govuk-input--width-2"},
        {"id": "approvedDateMonth", label: "Month", "name": "approvedDate[month]", value: approvedDate.month, "classes": "govuk-input--width-2"},
        {"id": "approvedDateYear", label: "Year", "name": "approvedDate[year]", value: approvedDate.year, "classes": "govuk-input--width-4"}
      ],
      hint: {
        text: "For example, 27 3 2024"
      },
      fieldset: {
        legend: {
          text: 'Approval Date',
          isPageHeading: false
        }
      },
      errorMessage: errors | findError('approvedDate')
    }) }}

    {{ govukSelect({
      id: 'supervisorCategory',
      name: 'supervisorCategory',
      label: { text: 'Approved category' },
      items: cats,
      errorMessage: errors | findError('supervisorCategory')
    }) }}

    {{ govukSelect({
      id: 'approvedCommittee',
      name: 'approvedCommittee',
      label: { text: 'Approved authority' },
      items: committees,
      errorMessage: errors | findError('approvedCommittee')
    }) }}

    {{ govukDateInput({
      id: "approvedNextReviewDate",
      items: [
        {"id": "approvedNextReviewDateDay", label: "Day", "name": "approvedNextReviewDate[day]", value: approvedNextReviewDate.day if approvedNextReviewDate else assessmentData.inputNextReviewDate.day, "classes": "govuk-input--width-2"},
        {"id": "approvedNextReviewDateMonth", label: "Month", "name": "approvedNextReviewDate[month]", value: approvedNextReviewDate.month if approvedNextReviewDate else assessmentData.inputNextReviewDate.month, "classes": "govuk-input--width-2"},
        {"id": "approvedNextReviewDateYear", label: "Year", "name": "approvedNextReviewDate[year]", value: approvedNextReviewDate.year if approvedNextReviewDate else assessmentData.inputNextReviewDate.year, "classes": "govuk-input--width-4"}
      ],
      hint: {
        text: "For example, 27 3 2024"
      },
      fieldset: {
        legend: {
          text: 'Approved reassessment date',
          isPageHeading: false
        }
      },
      errorMessage: errors | findError('approvedNextReviewDate')
    }) }}

    {{ govukSelect({
      id: 'approvedPlacement',
      name: 'approvedPlacement',
      label: { text: 'Approved placement' },
      items: prisonList,
      errorMessage: errors | findError('approvedPlacement')
    }) }}

    {{ govukTextarea({
      id: 'approvedComment',
      name: 'approvedComment',
      rows: 2,
      attributes: { 'maxLength': 240 },
      label: { text: 'Comments (optional)' },
      value: approvedComment
    }) }}

    {{ govukButton({
      text: 'Submit',
      attributes: {  }
    }) }}
  </form>
  {% endif %}

</div>

{% endblock %}
