{% extends "../partials/layout.html" %}
{% from "../macros/breadCrumb.html" import breadCrumb %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "warning-text/macro.njk" import govukWarningText %}
{% from "select/macro.njk" import govukSelect %}
{% from "input/macro.njk" import govukInput %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "button/macro.njk" import govukButton %}

{% set pageTitle = "Other category approval" %}

{% block beforeContent %}

  {% set breadCrumbList = [ {href: '/' + data.details.bookingId, title: 'Manage categorisations'} ] %}
  {{ breadCrumb(breadCrumbList) }}

  {% include "../partials/offenderBanner.html" %}

{% endblock %}

{% block content %}

{% if errors.length > 0 %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: errors
  }) }}
{% endif %}

<div class="govuk-!-width-two-thirds govuk-body-s">

  <h1 class="govuk-heading-l govuk-!-padding-top-4" id="previousCategoryHeading">{{ pageTitle }}</h1>
  <p>Approve a category assessment, exactly as in P-Nomis.</p>
  {% if not liteInProgress %}

    {{ govukWarningText({
      text: 'There is nothing to approve: this person does not have a pending categorisation.',
      iconFallbackText: "Warning",
      classes: "forms-warning-text warning-overrides",
      attributes: {  'id': 'inProgressWarning' }
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
      {{ govukButton({
        text: "Return to Todo list",
        href: "/",
        classes: "grey-button"
      }) }}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
      {{ govukButton({
        text: "Return to Manage categorisations",
        href: "/" + bookingId,
        classes: "grey-button"
      }) }}
      </div>
    </div>

  {% elif sameUser %}

    {{ govukWarningText({
      text: 'A categorisation cannot be approved by the same user.',
      iconFallbackText: "Warning",
      classes: "forms-warning-text warning-overrides",
      attributes: {  'id': 'inProgressWarning' }
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
      {{ govukButton({
        text: "Return to Todo list",
        href: "/",
        classes: "grey-button"
      }) }}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
      {{ govukButton({
        text: "Return to Manage categorisations",
        href: "/" + bookingId,
        classes: "grey-button"
      }) }}
      </div>
    </div>

  {% else %}
  <hr />
  <h2>Submitted assessment details</h2>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third govuk-!-font-weight-bold">Category</div>
    <div id="category" class="govuk-grid-column-one-third">{{ assessmentData.categoryDisplay }}</div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third govuk-!-font-weight-bold">Authority</div>
    <div id="assessmentCommittee" class="govuk-grid-column-one-third">{{ assessmentData.assessmentCommitteeDisplay }}</div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third govuk-!-font-weight-bold">Assessment date</div>
    <div id="displayCreatedDate" class="govuk-grid-column-one-third">{{ assessmentData.displayCreatedDate }}</div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third govuk-!-font-weight-bold">Assessor</div>
    <div id="assessedBy" class="govuk-grid-column-one-third">{{ assessmentData.assessedByDisplay }}</div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third govuk-!-font-weight-bold">Recommended placement</div>
    <div id="placementPrisonId" class="govuk-grid-column-one-third">{{ assessmentData.placementPrisonIdDisplay }}</div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-one-third govuk-!-font-weight-bold">Assessment comment</div>
    <div id="assessmentComment" class="govuk-grid-column-one-third">{{ assessmentData.assessmentComment }}</div>
  </div>
  <hr />
  <h2>Approval details</h2>

  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
      {{ govukInput({
        id: 'approvedDate',
        name: 'approvedDate',
        label: { text: 'Approval Date' },
        hint: {
          text: "For example, 2/11/2021"
        },
        errorMessage: {
          text: 'Enter a valid date'
        } if (errors | findError('approvedDate')),
        classes: 'govuk-!-width-full',
        value: approvedDate
      }) }}
      </div>
      <div class="govuk-grid-column-one-third">
      {{ govukSelect({
        id: 'approvedCommittee',
        name: 'approvedCommittee',
        label: { text: 'Department' },
        items: committees,
        classes: 'govuk-!-width-full'
      }) }}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third ">
      {{ govukSelect({
        id: 'supervisorCategory',
        name: 'supervisorCategory',
        label: { text: 'Approved category' },
        items: cats,
        classes: 'govuk-!-width-full'
      }) }}
      </div>
      <div class="govuk-grid-column-two-thirds">
        {{ govukTextarea({
        id: 'approvedCategoryComment',
        name: 'approvedCategoryComment',
        rows: 1,
        attributes: { 'maxLength': 240 },
        label: { text: 'Comment' },
        value: approvedCategoryComment
        }) }}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
      {{ govukSelect({
        id: 'approvedPlacement',
        name: 'approvedPlacement',
        label: { text: 'Approved placement' },
        items: prisonList,
        classes: 'govuk-!-width-full'
      }) }}
      </div>
      <div class="govuk-grid-column-two-thirds">
      {{ govukTextarea({
        id: 'approvedPlacementComment',
        name: 'approvedPlacementComment',
        rows: 1,
        attributes: { 'maxLength': 240 },
        label: { text: 'Comment' },
        value: approvedPlacementComment
      }) }}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      {{ govukTextarea({
        id: 'approvedComment',
        name: 'approvedComment',
        rows: 1,
        attributes: { 'maxLength': 240 },
        label: { text: 'Approved comment' },
        value: approvedComment
      }) }}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
      {{ govukInput({
        id: 'nextReviewDate',
        name: 'nextReviewDate',
        label: { text: 'Next review date' },
        hint: {
          text: "For example, 2/11/2021"
        },
        errorMessage: {
          text: 'Enter a valid future date'
        } if (errors | findError('nextReviewDate')),
        classes: 'govuk-!-width-full',
        value: nextReviewDate
      }) }}
      </div>
    </div>

    {{ govukButton({
      text: 'Submit',
      attributes: {  }
    }) }}
  </form>
  {% endif %}

</div>

{% endblock %}
