{% extends "../partials/layout.html" %}

{% from "button/macro.njk" import govukButton %}
{% from "tag/macro.njk" import govukTag %}
{% from "../macros/breadCrumb.html" import breadCrumb %}
{% from "tag/macro.njk" import govukTag %}
{% from "details/macro.njk" import govukDetails %}
{% from "button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pageTitle = "Category reviews for prisoners" %}

{% block beforeContent %}

{{ breadCrumb(breadCrumbList) }}

{% endblock %}

{% block content %}

<div >
  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
</div>

<div class="govuk-tabs" data-module="govuk-tabs-disabled">

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" id="todo-tab">
        Category reviews
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" id="check-tab" href="/recategoriserCheck">
        Potential reviews{% if riskChangeCount > 0 %}<div class="tabTotal"><span class="adjustCount">{{ riskChangeCount }}</span></div>{% endif %}
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" id="done-tab" href="/recategoriserDone">
        Finished reviews
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel">

  <div class="filterable-table-container">
    {% include "../partials/homeFilter.html" %}

    {% set tableContainerClass = 'govuk-grid-column-full govuk-!-padding-0' if hideHomeFilter else 'filterable-table-body-container' %}

    <div id="tableContainer" class="{{ tableContainerClass }}">
      <div class="filterControls">
        <div>
          {{ govukButton({
            id: "hideFilterButton",
            text: "Show filter" if hideHomeFilter else "Hide filter",
            classes: "govuk-button--secondary govuk-!-margin-bottom-0"
          }) }}
        </div>
        <div class="govuk-!-margin-left-2">You have <b>{{ numberOfFiltersApplied }}</b> filter{{ 's' if numberOfFiltersApplied != 1 }} applied</div>
      </div>
      {% if offenders | length > 0 %}
      <div class="recategorisation-scrollable-pane">
        {% set reCategorisationReviews = [] %}
        {% for review in offenders %}
          {% set dueDateColumn %}
            {% if review.overdue %}
              {{ govukTag({
              html: review.overdueText + '<br>overdue',
              classes: 'govuk-tag--red',
              attributes: { 'title': 'Due date: ' + review.nextReviewDateDisplay }
              }) }}
            {% else %}
              {{ review.nextReviewDateDisplay }}
            {% endif %}
          {% endset %}
          {% set nameColumn %}
            <a class="text-break-word" target="_blank" href="{{ review.offenderNo | offenderLink }}">{{ review.displayName }}</a><p>{{ review.offenderNo }}</p>
            {% if review.securityReferred %}
              {{ govukDetails({
              summaryText: 'Security referred',
              text: 'Security have flagged this person as being of interest. They will be automatically referred to security when the categorisation starts.',
              classes: 'govuk-body govuk-!-font-size-14 govuk-!-margin-bottom-0'
              }) }}
            {% endif %}
          {% endset %}
          {% set statusColumn %}
            {% if review.displayStatus == 'Back from Supervisor' %}
              {{ govukTag({
              html: 'Rejected by supervisor'
              }) }}
            {% else %}
              {{ review.displayStatus }}
            {% endif %}
          {% endset %}
          {% set actionColumn %}
            {% set basicClasses = "tableButton govuk-!-padding-left-3 govuk-!-padding-right-3" %}
            {% set href = ("/form/awaitingApprovalView/" + review.bookingId) if review.displayStatus == 'Awaiting approval'
                    else ("/tasklistRecat/" + review.bookingId + '?reason=' + review.reason.name) %}
            {% set classes = basicClasses if review.buttonText == 'Start' else basicClasses + " grey-button" %}
            {% if review.pnomis %}
              <div class="govuk-!-margin-bottom-1 govuk-!-margin-top-1">{{ review.pnomis }}</div>
            {% else %}
              {{ govukButton({
              text: review.buttonText,
              href: href if not locked,
              attributes: { 'data-prevent-double-click': 'true' },
              classes: classes
              }) }}
            {% endif %}
          {% endset %}
          {% set reCategorisationReviews = (reCategorisationReviews.push([
          {
            html: dueDateColumn,
            attributes: { "data-sort-value": review.nextReviewDateDisplay | sortDateValue},
            classes: 'text-inline'
          },
          {
          html: nameColumn,
          attributes: { "data-sort-value": review.displayName.toLowerCase() if review.displayName else '' }
          },
          {
          text: review.reason.value
          },
          {
          html: statusColumn
          },
          {
          text: review.pom,
          attributes: { "data-sort-value": review.pom.toLowerCase() if review.pom else '' }
          },
          {
          html: actionColumn
          }
          ]), reCategorisationReviews) %}
          {% endfor %}
          {{ govukTable({
            classes: "recategorisation-table",
            attributes: {
            'data-module': 'moj-sortable-table'
            },
            head: [
              {
                text: "Due date",
                attributes: {
                  "aria-sort": sortDirection if sortAttribute === "date" else "none",
                  "aria-sort-attribute": "date"
                }
              },
              {
                text: "Name and prison number",
                attributes: {
                  "aria-sort": sortDirection if sortAttribute === "name" else "none",
                  "aria-sort-attribute": "name"
                }
              },
              {
                text: "Reason for review"
              },
              {
                text: "Status"
              },
              {
              text: "POM",
                attributes: {
                  "aria-sort": sortDirection if sortAttribute === "pom" else "none",
                  "aria-sort-attribute": "pom"
                }
              },
              {
                text: ""
              }
            ],
            rows: reCategorisationReviews
            }) }}
      </div>
      {% else %}
        <div class="govuk-!-padding-top-4">
          {% if filters|length %}
            <div id="no-results-due-to-filters-message">
              <h3 class="govuk-heading-s">There are no prisoners matching the selected filters.</h3>
              <div>Try removing filters to show more prisoners.</div>
            </div>
          {% else %}
            <div id="no-results-message">
              <h3 class="govuk-heading-s">There are no outstanding category reviews to show.</h3>
            </div>
          {% endif %}
        </div>
      {% endif %}
      </div>
    </div>
  </section>
</div>

{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <meta name="csrf-token" content="{{ csrfToken }}">
  <script type="module" src="/assets/js/recategoriserHome.js"></script>
{% endblock %}
