{% extends "../partials/layout.html" %}

{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "button/macro.njk" import govukButton %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    }
  ]
}) }}
{% endblock %}

{% block content %}

<div >
  <h1 class="govuk-heading-l">Prisoner re-categorisation</h1>
</div>

<div class="govuk-tabs">

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab govuk-tabs__tab--selected" id="todo-tab">
        To do
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" id="done-tab" href="/recategoriserDone">
        Done
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel">

  {% if offenders | length > 0 %}
  <table class="govuk-table tablesorter sortcolumns" id="offenderTable" >
    <thead class="govuk-table__head">

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Name</th>
      <th class="govuk-table__header" scope="col">Prison no.</th>
      <th class="govuk-table__header" scope="col">Re-categorisation<br/>due date</th>
      <th class="govuk-table__header" scope="col">Reason for<br/>re-categorisation</th>
      <th class="govuk-table__header" scope="col">Status</th>
      <th class="govuk-table__header" scope="col"></th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% for row in offenders %}
    <tr class="govuk-table__row ">
      <td class="govuk-table__cell">{{ row.displayName }}</td>
      <td class="govuk-table__cell">{{ row.offenderNo }}</td>
      <td class="govuk-table__cell">{{ dateConverter(row.nextReviewDate) }}</td>
      <td class="govuk-table__cell">{{ row.reason }}</td>
      <td class="govuk-table__cell">{{ row.displayStatus }}</td>
      <td class="govuk-table__cell govuk-!-margin-top-2 govuk-!-margin-bottom-8">
        {% set buttonText = "Edit" if row.dbRecordExists else "Start" %}
        {% set basicClasses = "tableButton govuk-!-padding-left-3 govuk-!-padding-right-3" %}
        {% set classes = basicClasses + " grey-button" if row.dbRecordExists else basicClasses %}

        {% if (row.dbRecordExists) or (row.displayStatus == 'Not started') %}
          {% if row.displayStatus == 'Awaiting approval' %}
            {{ govukButton({
              text: "View",
              href: "/form/recategoriser/awaitingApprovalView/" + row.bookingId,
              classes: classes
            }) }}
          {% else %}
            {{ govukButton({
              text: buttonText,
              href: "/tasklistRecat/" + row.bookingId if not locked,
              classes: classes
            }) }}
          {% endif %}
        {% else %}
          <div class="govuk-!-margin-bottom-1 govuk-!-margin-top-1">PNOMIS</div>
        {% endif %}
      </td>
    </tr>
    {% endfor %}

    </tbody>
  </table>
  {% else %}
    <div class="govuk-!-padding-top-4">
      <div>No prisoners found.</div>
    </div>
  {% endif %}
  </section>
</div>

{% endblock %}
