{% extends "../partials/layout.html" %}

{% from "button/macro.njk" import govukButton %}
{% from "tag/macro.njk" import govukTag %}
{% from "../macros/breadCrumb.html" import breadCrumb %}

{% set pageTitle = "Category reviews for prisoners" %}

{% block beforeContent %}

{{ breadCrumb(breadCrumbList) }}

{% endblock %}

{% block content %}

<div >
  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
</div>

<div class="govuk-tabs" data-module="govuk-tabs-disabled">

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab " id="todo-tab" href="/recategoriserHome">
        Category reviews
      </a>
    </li>
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" id="check-tab">
        Potential reviews{% if offenders | length > 0 %}<div class="tabTotal"><span class="adjustCount">{{ offenders | length }}</span></div>{% endif %}
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" id="done-tab" href="/recategoriserDone">
        Finished reviews
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel">

  {% if offenders | length > 0 %}
  <table class="govuk-table tablesorter sortcolumns potential-reviews-table" id="offenderTable" >
    <thead class="govuk-table__head">

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Date of risk<br/>profile change</th>
      <th class="govuk-table__header" scope="col">Name and prison number</th>
      <th class="govuk-table__header" scope="col">Due date for<br/>category review</th>
      <th class="govuk-table__header" scope="col"></th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% for row in offenders %}
    <tr class="govuk-table__row ">
      <td class="govuk-table__cell">{{ row.displayCreatedDate }}</td>
      <td class="govuk-table__cell">
        <a target="_blank" href="{{ row.offenderNo | offenderLink }}">{{ row.displayName }}</a><p>{{ row.offenderNo }}</p>
      </td>
      <td class="govuk-table__cell">{{ row.displayNextReviewDate }}</td>
      <td class="govuk-table__cell govuk-!-margin-top-2 govuk-!-margin-bottom-8">
        {% set href = ("/form/recat/riskProfileChangeDetail/" + row.bookingId) %}
          {{ govukButton({
            text: 'Check now',
            href: href,
            classes: "tableButton govuk-!-padding-left-3 govuk-!-padding-right-3",
            attributes: { 'id': 'checkNowButton' }
          }) }}
      </td>
    </tr>
    {% endfor %}

    </tbody>
  </table>
  {% else %}
    <div id="noResultsMessage" class="govuk-!-padding-top-4">
      <div>No risk changes found.</div>
    </div>
  {% endif %}
  </section>
</div>

{% endblock %}
