{% set mainClasses = 'govuk-!-width-two-thirds' %}
{% extends "../partials/layout.html" %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "error-summary/macro.njk" import govukErrorSummary %}


{% block content %}

<main class="app-container">
  {{ govukBackLink({
  text: "Back",
  href: backLink or "/"
  }) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l" id="error-summary-title">Sorry, there is a problem with the service</h1>
      <p class="govuk-body">Try refreshing the page or returning to the Digital Categorisation Service later.
        We have logged the error and saved any content you entered
      </p>
      <p class="govuk-body">We have logged the error and saved any content you entered</p>
      <p class="govuk-body">
        <a class="govuk-link" href="{{dpsHome}}"> Go to digital services home page </a>
      </p>
    </div>
  </div>
</main>

{% endblock %}
