{% set mainClasses = 'govuk-!-padding-top-0 cat-fit-content' %}
{% extends "../partials/layout.html" %}

{% from "button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "../macros/breadCrumb.html" import breadCrumb %}

{% set pageTitle = "Prisoner Categorisation Approvals" %}

{% block beforeContent %}

  {{ breadCrumb(breadCrumbList) }}

{% endblock %}

{% block content %}

  <div class="govuk-!-padding-top-7">
    {% if isInWomensEstate %}
      {% include "../partials/smartSurveyTag.html" %}
    {% endif %}
  </div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
  </div>
  <div class="govuk-!-display-inline">
    <div class="rightAlignedButton">
      <a href="/dashboardInitial" class="govuk-button govuk-button--secondary">Categorisation statistics</a>
      <a href="/dashboardRecat" class="govuk-button govuk-button--secondary">Recategorisation statistics</a>
    </div>
  </div>
</div>

<div class="govuk-tabs" data-module="govuk-tabs-disabled">

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" id="todo-tab">
        To do
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" id="done-tab" href="/supervisorDone">
        Done
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" id="lite-tab" href="/liteCategories/approveList">
        Other categories
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel" id="unused">
    {% if offenders | length > 0 %}
      {% set tableRows = [] %}

      {% for offender in offenders %}
        {% set nameColumn %}
          <a class="text-break-word" target="_blank" href="{{ offender.offenderNo | offenderLink }}">{{ offender.displayName }}</a><p>{{ offender.offenderNo }}</p>
        {% endset %}

        {% set daysSinceSentence %}
          {{ offender.daysSinceSentence }}
        {% endset %}

        {% set offenderCategory %}
          {{ catMappings(offender.category) }}
          {% if isOpenCategory(offender.category) and offender.dbRecord.formObject.openConditions.tprs.tprsSelected=='Yes' %}
            <strong class="govuk-tag govuk-tag--red">TPRS</strong>
          {% endif %}
        {% endset %}

        {% set actionColumn %}
          {% if offender.pnomis %}
            <div>PNOMIS</div>
          {% else %}
            {{ govukButton({
              text: "Start",
              href: "/form/supervisor/review/" + offender.bookingId,
              classes: "tableButton"
            }) }}
          {% endif %}
        {% endset %}

        {% set tableRows = (tableRows.push([
          {
            html: nameColumn,
            attributes: { "data-sort-value": offender.displayName.toLowerCase() if offender.displayName else '' }
          },
          {
            text: offender.daysSinceSentence
          },
          {
            text: offender.dateRequired,
            attributes: { "data-sort-value": offender.dateRequired | sortDateValue}
          },
          {
            text: offender.nextReviewDate
          },
          {
            text: offender.categoriserDisplayName,
            attributes: { "data-sort-value": offender.categoriserDisplayName.toLowerCase() if offender.categoriserDisplayName else '' }
          },
          {
            html: offenderCategory
          },
          {
            text: offender.catType
          },
          {
            html: actionColumn
          }
        ]), tableRows) %}
      {% endfor %}

      {{ govukTable({
        attributes: { "data-module": "moj-sortable-table" , "id": "offenderTable" },
        head: [
          {
            text: "Name and prison number",
            attributes: { "aria-sort": "none" }
          },
          { text: "Days since sentence" },
          {
            text: "Date due",
            attributes: { "aria-sort": "none" }
          },
          { text: "Next review" },
          {
            text: "Categorised by",
            attributes: { "aria-sort": "none" }
          },
          { text: "Provisional category" },
          { text: "Type" },
          { text: "" }
        ],
        rows: tableRows
      }) }}
    {% else %}
      <div class="govuk-!-padding-top-4">
        <div id="no-results-message">No unapproved prisoners found.</div>
      </div>
    {% endif %}
  </section>
</div>

{% endblock %}
