{% set mainClasses = 'govuk-!-width-two-thirds' %}
{% extends "../partials/layout.html" %}
{% from "button/macro.njk" import govukButton %}
{% from "panel/macro.njk" import govukPanel %}

{% set pageTitle = "Review outcome saved" %}

{% block beforeContent %}

  {% include "../partials/breadCrumb.html" %}

{% endblock %}

{% block content %}

{{ govukPanel({
  titleText: "Review outcome saved"
}) }}
<p>This review is complete.</p>
{% include "../partials/smartSurveyLink.html" %}
<div class="govuk-!-margin-top-8">
  {{ govukButton({
  text: "Finish",
  href: "/"
  }) }}
</div>

{% endblock %}
