{% set mainClasses = 'govuk-!-padding-top-0' %}
{% extends "../partials/layout.html" %}

{% from "button/macro.njk" import govukButton %}
{% from "../macros/breadCrumb.html" import breadCrumb %}

{% set pageTitle = "Prisoner Categorisation Approvals" %}

{% block beforeContent %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  {{ breadCrumb(breadCrumbList) }}
  </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-display-inline">
  <div class="govuk-grid-column-one-half govuk-!-padding-left-0">
    <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
  </div>
  <div class="govuk-!-display-inline">
    <div class="rightAlignedButton">
      <a href="/dashboardInitial" class="govuk-button govuk-button--secondary">Categorisation statistics</a>
      <a href="/dashboardRecat" class="govuk-button govuk-button--secondary">Recategorisation statistics</a>
    </div>
  </div>
</div>

<div class="govuk-tabs" data-module="govuk-tabs-disabled">

  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" id="todo-tab" href="/supervisorHome">
        To do
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" id="done-tab" href="/supervisorDone">
        Done
      </a>
    </li>
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" id="lite-tab">
        Other categories
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel" id="unused">

  {% if offenders | length > 0 %}
  <table class="govuk-table tablesorter sortcolumns" id="offenderTable" >
    <thead class="govuk-table__head">

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Assessment date</th>
      <th class="govuk-table__header" scope="col">Name and prison number</th>
      <th class="govuk-table__header" scope="col">Categorised by</th>
      <th class="govuk-table__header" scope="col">Category</th>
      <th class="govuk-table__header" scope="col"></th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% for row in offenders %}
    <tr class="govuk-table__row ">
      <td class="govuk-table__cell">{{ row.assessedDate }}</td>
      <td class="govuk-table__cell">
        <a target="_blank" href="{{ row.offenderNo | offenderLink }}">{{ row.displayName }}</a>
        <p>{{ row.offenderNo }}</p>
      </td>
      <td class="govuk-table__cell">{{ row.categoriserDisplayName }}</td>
      <td class="govuk-table__cell">{{ row.category }}</td>
      <td class="govuk-table__cell">
          {{ govukButton({
            text: "Approve",
            href: "/liteCategories/approve/" + row.bookingId,
            classes: "tableButton"
          }) }}
      </td>
    </tr>
    {% endfor %}

    </tbody>
  </table>
  {% else %}
    <div class="govuk-!-padding-top-4">
      <div id="no-results-message">No unapproved prisoners found.</div>
    </div>
  {% endif %}
  </section>
</div>

{% endblock %}
