{% extends "../partials/layout.html" %}
{% from "button/macro.njk" import govukButton %}
{% from "back-link/macro.njk" import govukBackLink %}

{% macro headerTitle(text) %}
<div class="govuk-grid-row">
  <p class="govuk-!-margin-bottom-1">{{ text }}</p>
</div>
{% endmacro %}

{% macro headerValue(text, classes='') %}
<div class="govuk-grid-row">
  <p class="govuk-!-font-weight-bold govuk-!-margin-top-1 {{ classes }}">{{ text if text | length else '-' }}</p>
</div>
{% endmacro %}

{% block beforeContent %}

{{ govukBackLink({
text: "Back",
href: backLink or "/"
}) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Categorisation task list</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-s">Offender details</h1>
    </div>
  </div>
  <div class="govuk-grid-row govuk-body-s">
    <div class="govuk-grid-column-one-quarter">
      <div class="photo image clickable">
       <!-- {...linkOnClick(() => onImageClick(offenderImageUrl(inmateData.get('facialImageId'))))}
        >-->
        <img alt="Offender Facial Image" src="/tasklist/images/{{ data.facialImageId if data.facialImageId else 'placeholder' }}/data" />
      </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
      {{ headerTitle('Name') }}
      {{ headerValue(data.displayName) }}

      {{ headerTitle('NOMIS ID') }}
      {{ headerValue(data.offenderNo) }}

      {{ headerTitle('Date of birth') }}
      {{ headerValue(dateConverter(data.dateOfBirth)) }}
    </div>
    <div class="govuk-grid-column-one-quarter">
      {{ headerTitle('Location') }}
      {{ headerValue(data.assignedLivingUnit.description, 'govuk-!-margin-bottom-1') }}
      {{ headerValue(data.assignedLivingUnit.agencyName) }}

      {{ headerTitle('Nationality') }}
      {% set nationality %}
        {% for profileInformation in data.profileInformation %}
          {% if profileInformation.type === 'NAT' %}
            {{ profileInformation.resultValue }}
          {% endif %}
        {% endfor %}
      {% endset %}
      {{ headerValue(nationality | trim) }}

      {{ headerTitle('Type of offence(s)') }}
      {% if data.offence | length == 0 %}
        {{ headerValue('-') }}
      {% else %}
        {% for offence in data.offence %}
          {{ headerValue(offence.offenceDescription) }}
        {% endfor %}
      {% endif %}
    </div>
    <div class="govuk-grid-column-one-quarter">
      {% if data.sentence.homeDetentionCurfewEligibilityDate %}
        {{ headerTitle('HDC Eligibility Date') }}
        {{ headerValue(dateConverter(data.sentence.homeDetentionCurfewEligibilityDate)) }}
      {% endif %}
      {% if data.sentence.automaticReleaseDate %}
        {{ headerTitle('Automatic Release Date') }}
        {{ headerValue(dateConverter(data.sentence.automaticReleaseDate)) }}
      {% endif %}
      {% if data.sentence.conditionalReleaseDate %}
        {{ headerTitle('Conditional Release Date') }}
        {{ headerValue(dateConverter(data.sentence.conditionalReleaseDate)) }}
      {% endif %}
      {% if data.sentence.paroleEligibilityDate %}
        {{ headerTitle('Parole Eligibility Date') }}
        {{ headerValue(dateConverter(data.sentence.paroleEligibilityDate)) }}
      {% endif %}
      {% if data.sentence.nonParoleDate %}
        {{ headerTitle('Non Parole Date') }}
        {{ headerValue(dateConverter(data.sentence.nonParoleDate)) }}
      {% endif %}
      {% if data.sentence.tariffDate %}
        {{ headerTitle('ISP Tariff End Date') }}
        {{ headerValue(dateConverter(data.sentence.tariffDate)) }}
        {# ISP means indeterminate sentenced prisoners - instead of a sentence length, they have a "tariff", which is the
        minimum amount of time their sentence is supposed to last for, so their tariff end date is the earliest date
        they could be released #}
      {% endif %}
      {% if data.sentence.licenceExpiryDate %}
        {{ headerTitle('Licence Expiry Date') }}
        {{ headerValue(dateConverter(data.sentence.licenceExpiryDate)) }}
      {% endif %}
      {% if data.sentence.sentenceExpiryDate %}
        {{ headerTitle('Sentence Expiry Date') }}
        {{ headerValue(dateConverter(data.sentence.sentenceExpiryDate)) }}
      {% endif %}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <ul class="app-task-list">
        <li>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              {% if data.ratings.offendingHistory %}
                <a href="/form/ratings/offendingHistory/{{ data.bookingId }}">Offending history</a>
                <strong class="govuk-tag app-task-list__task-completed" id="offendingHistory-completed">Completed</strong>
              {% else %}
                {{ govukButton({
                text: "Start",
                href: "/form/ratings/offendingHistory/" + data.bookingId,
                classes: "govuk-button--start tableButton app-task-list__task-completed",
                attributes:
                  {  'id': 'offendingHistoryButton' }
                }) }}
                <p class="govuk-!-font-weight-bold">Offending history</p>
                <p class="govuk-body-s govuk-!-margin-top-2">Not yet checked</p>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              {% if data.ratings.securityInput %}
                <a href="/form/ratings/securityInput/{{ data.bookingId }}">Security input</a>
                <strong class="govuk-tag app-task-list__task-completed" id="securityInput-completed">Completed</strong>
              {% else %}
                {{ govukButton({
                text: "Start",
                href: "/form/ratings/securityInput/" + data.bookingId,
                classes: "govuk-button--start tableButton app-task-list__task-completed",
                attributes:
                  {  'id': 'securityButton' }
                }) }}
                <p class="govuk-!-font-weight-bold">Security input</p>
                <p class="govuk-body-s govuk-!-margin-top-2">Not yet checked</p>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              {% if data.ratings.violenceRating %}
                <a href="/form/ratings/violenceRating/{{ data.bookingId }}">Violence rating</a>
                <strong class="govuk-tag app-task-list__task-completed" id="violenceRating-completed">Completed</strong>
              {% else %}
                {{ govukButton({
                text: "Start",
                href: "/form/ratings/violenceRating/" + data.bookingId,
                classes: "govuk-button--start tableButton app-task-list__task-completed",
                attributes:
                  {  'id': 'violenceButton' }
                }) }}
                <p class="govuk-!-font-weight-bold">Violence rating</p>
                <p class="govuk-body-s govuk-!-margin-top-2">Not yet checked</p>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              {% if data.ratings.escapeRating %}
                <a href="/form/ratings/escapeRating/{{ data.bookingId }}">Escape rating</a>
                <strong class="govuk-tag app-task-list__task-completed" id="escapeRating-completed">Completed</strong>
              {% else %}
                {{ govukButton({
                text: "Start",
                href: "/form/ratings/escapeRating/" + data.bookingId,
                classes: "govuk-button--start tableButton app-task-list__task-completed",
                attributes:
                  {  'id': 'escapeButton' }
                }) }}
                <p class="govuk-!-font-weight-bold">Escape rating</p>
                <p class="govuk-body-s govuk-!-margin-top-2">Not yet checked</p>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              {% if data.ratings.extremismRating %}
                <a href="/form/ratings/extremismRating/{{ data.bookingId }}">Extremism rating</a>
                <strong class="govuk-tag app-task-list__task-completed" id="extremismRating-completed">Completed</strong>
              {% else %}
                {{ govukButton({
                text: "Start",
                href: "/form/ratings/extremismRating/" + data.bookingId,
                classes: "govuk-button--start tableButton app-task-list__task-completed",
                attributes:
                  {  'id': 'extremismButton' }
                }) }}
                <p class="govuk-!-font-weight-bold">Extremism rating</p>
                <p class="govuk-body-s govuk-!-margin-top-2">Not yet checked</p>
              {% endif %}
            </li>
          </ul>
        </li>
        <li>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              {% if data.transport.commute %}
                <a href="/form/ratings/???/{{ data.bookingId }}">Review and categorisation</a>
                <strong class="govuk-tag app-task-list__task-completed" id="review-completed">Completed</strong>
              {% else %}
                {{ govukButton({
                text: "Continue",
                href: "/form/ratings/???/" + data.bookingId,
                classes: "govuk-button--start tableButton app-task-list__task-completed"
                }) }}
                <p class="govuk-!-font-weight-bold">Review and categorisation</p>
                <p class="govuk-body-s govuk-!-margin-top-2">Tasks not yet complete</p>
              {% endif %}
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
