{% extends "../partials/layout.html" %}
{% from "button/macro.njk" import govukButton %}

{% set pageTitle = "Complete a categorisation" %}

{% block beforeContent %}

  {% include "../partials/breadCrumb.html" %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
    </div>
  </div>

  {% include "../partials/offenderDetails.html" %}

  <h2 class="govuk-heading-m govuk-!-margin-top-4">Review tasks</h2>

  {% set supervisorMessageCompleted = data.supervisor.confirmBack.messageText and data.supervisor.confirmBack.isRead %}
  {% set offendingHistoryCompleted = data.ratings.offendingHistory.previousConvictions %}
  {% set furtherChargesCompleted = data.isInWomensEstate or data.ratings.furtherCharges.furtherCharges %}
  {% set locked = data.status === Status.SECURITY_MANUAL.name or data.status === Status.SECURITY_AUTO.name or data.status === Status.SECURITY_FLAGGED.name %}
  {% set securityInputCompleted = (data.ratings.securityInput.securityInputNeeded === 'No')
     or (data.isInWomensEstate and data.ratings.securityBack)
     or data.ratings.securityBack.catB %}
  {% set violenceRatingCompleted = data.ratings.violenceRating.highRiskOfViolence and data.ratings.violenceRating.seriousThreat %}
  {% set escapeRatingCompleted = data.ratings.escapeRating.escapeOtherEvidence %}
  {% set extremismRatingCompleted = data.ratings.extremismRating.previousTerrorismOffences %}
  {% set openConditionsCompleted = data.openConditions.riskLevels.likelyToAbscond %}
  {% set nextReviewDateCompleted = data.ratings.nextReviewDate.date %}
  {% set openConditionsRequested = data.openConditionsRequested %}
  {% set decisionCompleted = not data.isInWomensEstate or data.ratings.decision.category %}
  {% set allSectionsCompleted = (supervisorMessageCompleted or not data.supervisor.confirmBack.messageText)
     and offendingHistoryCompleted and furtherChargesCompleted and securityInputCompleted and not locked
     and violenceRatingCompleted and escapeRatingCompleted and extremismRatingCompleted and decisionCompleted
     and nextReviewDateCompleted and ( (not openConditionsRequested) or openConditionsCompleted)%}
  {% set buttonClassesDefault = "govuk-button tableButton app-task-list__task-completed" %}

  <div class="govuk-grid-row govuk-!-width-two-thirds">
    <div class="govuk-grid-column-full">
      <ul class="govuk-task-list">
        
        {% if data.supervisor.confirmBack.messageText %}
          <li class="govuk-task-list__item govuk-task-list__item--with-link" id="supervisorMessageSection">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" id="supervisorMessageLink" href="/form/supervisor/supervisorMessage/{{data.details.bookingId}}">
                Message from supervisor
              </a>
            </div>
              <div class="govuk-task-list__status" id="message-from-supervisor-status">
                {% if supervisorMessageCompleted %}
                  Completed
                {% else %}
                  <strong class="govuk-tag govuk-tag--blue">Not yet started</strong>
                {% endif %}
              </div>
          </li>
        {% endif %}

        <li class="govuk-task-list__item govuk-task-list__item--with-link" id="offendingHistorySection">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" id="offendingHistoryLink" href="/form/ratings/offendingHistory/{{data.details.bookingId}}">
              Offending history
            </a>
          </div>
            <div class="govuk-task-list__status" id="offendingHistoryStatus">
              {% if offendingHistoryCompleted %}
                Completed
              {% else %}
                <strong class="govuk-tag govuk-tag--blue">Not yet started</strong>
              {% endif %}
            </div>
        </li>

        {% if not data.isInWomensEstate %}
          <li class="govuk-task-list__item govuk-task-list__item--with-link" id="furtherChargesSection">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" id="furtherChargesLink" href="/form/ratings/furtherCharges/{{data.details.bookingId}}">
                Further charges
              </a>
            </div>
            <div class="govuk-task-list__status" id="furtherChargesStatus">
              {% if furtherChargesCompleted %}
                Completed
              {% else %}
                <strong class="govuk-tag govuk-tag--blue">Not yet started</strong>
              {% endif %}
            </div>
          </li>
        {% endif %}

        <li class="govuk-task-list__item govuk-task-list__item--with-link" id="safetyAndGoodOrderSection">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" id="violenceLink" href="/form/ratings/violenceRating/{{data.details.bookingId}}">
              Safety and good order
            </a>
          </div>
            <div class="govuk-task-list__status" id="safetyAndGoodOrderStatus">
              {% if violenceRatingCompleted %}
                Completed
              {% else %}
                <strong class="govuk-tag govuk-tag--blue">Not yet started</strong>
              {% endif %}
            </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link" id="escapeRiskSection">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" id="escapeLink" href="/form/ratings/escapeRating/{{data.details.bookingId}}">
              Risk of escape
            </a>
          </div>
            <div class="govuk-task-list__status" id="escapeRiskStatus">
              {% if escapeRatingCompleted %}
                Completed
              {% else %}
                <strong class="govuk-tag govuk-tag--blue">Not yet started</strong>
              {% endif %}
            </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link" id="extremismSection">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" id="extremismLink" href="/form/ratings/extremismRating/{{data.details.bookingId}}">
              Extremism
            </a>
          </div>
            <div class="govuk-task-list__status" id="extremismStatus">
              {% if extremismRatingCompleted %}
                Completed
              {% else %}
                <strong class="govuk-tag govuk-tag--blue">Not yet started</strong>
              {% endif %}
            </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link" id="securitySection">
          <div class="govuk-task-list__name-and-hint">
            {% if locked %}
                <p class="govuk-body govuk-!-margin-bottom-0" id="securityLinkDisabled">Security information</p>
                <p class="govuk-task-list__hint govuk-!-margin-bottom-0 govuk-!-margin-top-1">{{Status[data.status].value + ' (' + data.securityReferredDate + ')'}}</p>
            {% else %}
                <a class="govuk-link govuk-task-list__link" id="securityLink"
                  href="{% if backFromSecurity %}/form/ratings/securityBack/{{ data.details.bookingId }}{% else %}/form/ratings/securityInput/{{ data.details.bookingId }}{% endif %}"
                >
                  Security information
                </a>
            {% endif %}
          </div>

          <div class="govuk-task-list__status" id="securityStatus">
            {% set backFromSecurity = (data.status === 'SECURITY_BACK' or data.status === 'APPROVED' or data.status === 'AWAITING_APPROVAL') %}
            {% if locked %}
              <strong class="govuk-tag govuk-tag--light-blue">In progress</strong>
            {% else %}
              {% if securityInputCompleted %}
                Completed
              {% else %}
                <strong class="govuk-tag govuk-tag--blue">Not yet started</strong>
              {% endif %}
            {% endif %}
          </div>
        </li>

        {% if data.isInWomensEstate %}
          <li class="govuk-task-list__item govuk-task-list__item--with-link" id="categoryDecisionSection">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" id="decisionLink" href="/form/ratings/decision/{{data.details.bookingId}}">
                Category decision
              </a>
            </div>
            <div class="govuk-task-list__status" id="categoryDecisionStatus">
              {% if decisionCompleted %}
                Completed
              {% else %}
                <strong class="govuk-tag govuk-tag--blue">Not yet started</strong>
              {% endif %}
            </div>
        </li>
        {% endif %}

        {% if openConditionsRequested %}
          <li class="govuk-task-list__item govuk-task-list__item--with-link" id="openConditionsSection">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" id="openConditionsLink"
              href="{% if data.isInWomensEstate %}/form/openConditions/earliestReleaseDate/{{ data.details.bookingId }}{% else %}/form/openConditions/tprs/{{ data.details.bookingId }}{% endif %}"
              >
                Open conditions
              </a>
            </div>
            <div class="govuk-task-list__status" id="openConditionsStatus">
              {% if openConditionsCompleted %}
                Completed
              {% else %}
                <strong class="govuk-tag govuk-tag--blue">Not yet started</strong>
              {% endif %}
            </div>
        </li>
        {% endif %}

        <li class="govuk-task-list__item govuk-task-list__item--with-link" id="nextReviewDateSection">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" id="nextReviewDateLink"
            href="{% if nextReviewDateCompleted %}/form/nextReviewDate/nextReviewDateEditing/{{ data.details.bookingId }}{% else %}/form/nextReviewDate/nextReviewDateQuestion/{{ data.details.bookingId }}{% endif %}"
            >
              Set next category review date
            </a>
          </div>
          <div class="govuk-task-list__status" id="nextReviewDateStatus">
            {% if nextReviewDateCompleted %}
              Completed
            {% else %}
              <strong class="govuk-tag govuk-tag--blue">Not yet started</strong>
            {% endif %}
          </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link" id="reviewAndCategorisationSection">
          <div class="govuk-task-list__name-and-hint">
            {% if allSectionsCompleted %}
              <a class="govuk-link govuk-task-list__link" id="checkAndSubmitLink" href="/form/categoriser/review/{{data.details.bookingId}}">
                Check and submit
              </a>
            {% else %}
              <p class="govuk-body govuk-!-margin-bottom-0" id="checkandSubmitLinkDisabled">Check and submit</p>
            {% endif %}
          </div>

          <div class="govuk-task-list__status" id="reviewAndCategorisationStatus">
            {% if allSectionsCompleted %}
              <strong class="govuk-tag govuk-tag--blue">Not yet started</strong>
            {% else %}
              <div class="govuk-task-list__status--cannot-start-yet">
                Cannot start yet
              </div>
            {% endif %}
          </div>
        </li>
      </ul>

      <a href="/form/cancel/{{ data.details.bookingId }}" id="cancelLink">Cancel this categorisation</a>

    </div>
  </div>

{% endblock %}
