{% extends "../partials/layout.html" %}
{% from "button/macro.njk" import govukButton %}

{% set pageTitle = "Complete a categorisation review" %}

{% block beforeContent %}

  {% include "../partials/breadCrumb.html" %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
    </div>
  </div>

  {% include "../partials/offenderDetails.html" %}

  <h2 class="govuk-heading-m govuk-!-margin-top-4">Review tasks</h2>

  {% set locked = data.status === Status.SECURITY_MANUAL.name or data.status === Status.SECURITY_AUTO.name or data.status === Status.SECURITY_FLAGGED.name %}
  {% set supervisorMessageCompleted = data.supervisor.confirmBack.messageText and data.supervisor.confirmBack.isRead %}
  {% set prisonerBackgroundCompleted = data.recat.prisonerBackground.offenceDetails %}
  {% set prevRiskAssessmentsCompleted = data.recat.oasysInput.oasysRelevantInfo or data.recat.bcstInput.bcstRelevantInfo %}
  {% set securityInputCompleted = data.recat.securityInput.securityNoteNeeded or data.recat.securityBack %}
  {% set riskAssessmentCompleted = data.recat.riskAssessment.otherRelevant %}
  {% set openConditionsCompleted = data.openConditions.riskLevels.likelyToAbscond %}
  {% set nextReviewDateCompleted = data.recat.nextReviewDate.date %}
  {% set openConditionsRequested = data.openConditionsRequested %}
  {% set decisionCompleted = data.recat.decision.category %}
  {% set allSectionsCompleted = (supervisorMessageCompleted or not data.supervisor.confirmBack.messageText)
     and prisonerBackgroundCompleted and prevRiskAssessmentsCompleted and securityInputCompleted and not locked
     and decisionCompleted and riskAssessmentCompleted
     and nextReviewDateCompleted and ( (not openConditionsRequested) or openConditionsCompleted)%}
  {% set buttonClassesDefault = "govuk-button tableButton app-task-list__task-completed" %}

  <div class="govuk-grid-row govuk-!-width-two-thirds">
    <div class="govuk-grid-column-full">
      <ul class="govuk-task-list">

        {% if data.supervisor.confirmBack.messageText %}
          <li class="govuk-task-list__item govuk-task-list__item--with-link" id="supervisorMessageSection">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" id="supervisorMessageLink" href="/form/supervisor/supervisorMessage/{{data.details.bookingId}}">
                Message from supervisor
              </a>
            </div>
              <div class="govuk-task-list__status" id="message-from-supervisor-status">
                {% if supervisorMessageCompleted %}
                  Completed
                {% else %}
                  <strong class="govuk-tag govuk-tag--blue">Not yet started</strong>
                {% endif %}
              </div>
          </li>
        {% endif %}

        <li class="govuk-task-list__item govuk-task-list__item--with-link" id="prisonerBackgroundSection">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" id="prisonerBackgroundLink" href="/form/recat/prisonerBackground/{{data.details.bookingId}}">
              Prisoner background
            </a>
          </div>
            <div class="govuk-task-list__status" id="prisonerBackgroundStatus">
              {% if prisonerBackgroundCompleted %}
                Completed
              {% else %}
                <strong class="govuk-tag govuk-tag--blue">Not yet started</strong>
              {% endif %}
            </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link" id="prevRiskAssessmentsSection">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" id="prevRiskAssessmentsLink" href="/form/recat/previousRiskAssessments/{{data.details.bookingId}}">
              Previous risk assessments
            </a>
          </div>
            <div class="govuk-task-list__status" id="prevRiskAssessmentsStatus">
              {% if prevRiskAssessmentsCompleted %}
                Completed
              {% else %}
                <strong class="govuk-tag govuk-tag--blue">Not yet started</strong>
              {% endif %}
            </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link" id="securitySection">
          <div class="govuk-task-list__name-and-hint">
            {% if locked %}
                <p class="govuk-body govuk-!-margin-bottom-0" id="securityLinkDisabled">Security information</p>
                <p class="govuk-task-list__hint govuk-!-margin-bottom-0 govuk-!-margin-top-1">{{Status[data.status].value + ' (' + data.securityReferredDate + ')'}}</p>
            {% else %}
                <a class="govuk-link govuk-task-list__link" id="securityLink"
                  href="{% if backFromSecurity %}/form/recat/securityBack/{{ data.details.bookingId }}{% else %}/form/recat/securityInput/{{ data.details.bookingId }}{% endif %}"
                >
                  Security information
                </a>
            {% endif %}
          </div>

          <div class="govuk-task-list__status" id="securityStatus">
            {% set backFromSecurity = (data.status === 'SECURITY_BACK' or data.status === 'APPROVED' or data.status === 'AWAITING_APPROVAL') %}
            {% if locked %}
              <strong class="govuk-tag govuk-tag--light-blue">In progress</strong>
            {% else %}
              {% if securityInputCompleted %}
                Completed
              {% else %}
                <strong class="govuk-tag govuk-tag--blue">Not yet started</strong>
              {% endif %}
            {% endif %}
          </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link" id="riskAssessmentSection">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" id="riskAssessmentLink" href="/form/recat/riskAssessment/{{data.details.bookingId}}">
              Risk assessment
            </a>
          </div>
            <div class="govuk-task-list__status" id="riskAssessmentStatus">
              {% if riskAssessmentCompleted %}
                Completed
              {% else %}
                <strong class="govuk-tag govuk-tag--blue">Not yet started</strong>
              {% endif %}
            </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link" id="categoryDecisionSection">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" id="categoryDecisionLink" href="/form/recat/decision/{{data.details.bookingId}}">
              Category decision
            </a>
          </div>
            <div class="govuk-task-list__status" id="categoryDecisionStatus">
              {% if decisionCompleted %}
                Completed
              {% else %}
                <strong class="govuk-tag govuk-tag--blue">Not yet started</strong>
              {% endif %}
            </div>
        </li>

        {% if openConditionsRequested %}
          <li class="govuk-task-list__item govuk-task-list__item--with-link" id="openConditionsSection">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" id="openConditionsLink"
              href="{% if data.isInWomensEstate %}/form/openConditions/earliestReleaseDate/{{ data.details.bookingId }}{% else %}/form/openConditions/tprs/{{ data.details.bookingId }}{% endif %}"
              >
                Open conditions
              </a>
            </div>
            <div class="govuk-task-list__status" id="openConditionsStatus">
              {% if openConditionsCompleted %}
                Completed
              {% else %}
                <strong class="govuk-tag govuk-tag--blue">Not yet started</strong>
              {% endif %}
            </div>
          </li>
        {% endif %}

        <li class="govuk-task-list__item govuk-task-list__item--with-link" id="nextReviewDateSection">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" id="nextReviewDateLink"
            href="{% if nextReviewDateCompleted %}/form/nextReviewDate/nextReviewDateEditing/{{ data.details.bookingId }}{% else %}/form/nextReviewDate/nextReviewDateQuestion/{{ data.details.bookingId }}{% endif %}"
            >
              Set next category review date
            </a>
          </div>
          <div class="govuk-task-list__status" id="nextReviewDateStatus">
            {% if nextReviewDateCompleted %}
              Completed
            {% else %}
              <strong class="govuk-tag govuk-tag--blue">Not yet started</strong>
            {% endif %}
          </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link" id="reviewAndCategorisationSection">
          <div class="govuk-task-list__name-and-hint">
            {% if allSectionsCompleted %}
              <a class="govuk-link govuk-task-list__link" id="checkAndSubmitLink" href="/form/recat/review/{{data.details.bookingId}}">
                Check and submit
              </a>
            {% else %}
              <p class="govuk-body govuk-!-margin-bottom-0" id="checkandSubmitLinkDisabled">Check and submit</p>
            {% endif %}
          </div>

          <div class="govuk-task-list__status" id="reviewAndCategorisationStatus">
            {% if allSectionsCompleted %}
              <strong class="govuk-tag govuk-tag--blue">Not yet started</strong>
            {% else %}
              <div class="govuk-task-list__status--cannot-start-yet">
                Cannot start yet
              </div>
            {% endif %}
          </div>
        </li>

      </ul>
    </div>
  </div>

{% endblock %}
