{% extends "../partials/layout.html" %}
{% from "button/macro.njk" import govukButton %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-m">Categorisation task list</h1>
      <ul class="app-task-list">
        <li>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              {% if data.ratings.offendingHistory %}
                <a href="/form/ratings/offendingHistory">Offending history</a>
                <strong class="govuk-tag app-task-list__task-completed" id="offendingHistory-completed">Completed</strong>
              {% else %}
                <p class="govuk-!-font-weight-bold">Offending history</p>
                {{ govukButton({
                text: "Start",
                href: "/form/ratings/offendingHistory",
                classes: "govuk-button--start tableButton app-task-list__task-completed"
                }) }}
                <p class="govuk-body-s govuk-!-margin-top-2">Not yet checked</p>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              {% if data.ratings.securityInput %}
                <a href="/form/ratings/securityInput">Security input</a>
                <strong class="govuk-tag app-task-list__task-completed" id="securityInput-completed">Completed</strong>
              {% else %}
                {{ govukButton({
                text: "Start",
                href: "/form/ratings/securityInput",
                classes: "govuk-button--start tableButton app-task-list__task-completed"
                }) }}
                <p class="govuk-!-font-weight-bold">Security input</p>
                <p class="govuk-body-s govuk-!-margin-top-2">Not yet checked</p>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              {% if data.ratings.violenceRating %}
                <a href="/form/ratings/violenceRating">Violence rating</a>
                <strong class="govuk-tag app-task-list__task-completed" id="violenceRating-completed">Completed</strong>
              {% else %}
                {{ govukButton({
                text: "Start",
                href: "/form/ratings/violenceRating",
                classes: "govuk-button--start tableButton app-task-list__task-completed"
                }) }}
                <p class="govuk-!-font-weight-bold">Violence rating</a>
                <p class="govuk-body-s govuk-!-margin-top-2">Not yet checked</p>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              {% if data.ratings.escapeRating %}
                <a href="/form/ratings/escapeRating">Escape rating</a>
                <strong class="govuk-tag app-task-list__task-completed" id="escapeRating-completed">Completed</strong>
              {% else %}
                {{ govukButton({
                text: "Start",
                href: "/form/ratings/escapeRating",
                classes: "govuk-button--start tableButton app-task-list__task-completed"
                }) }}
                <p class="govuk-!-font-weight-bold">Escape rating</a>
                <p class="govuk-body-s govuk-!-margin-top-2">Not yet checked</p>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              {% if data.ratings.extremismRating %}
                <a href="/form/ratings/extremismRating">Extremism rating</a>
                <strong class="govuk-tag app-task-list__task-completed" id="address-completed4">Completed</strong>
              {% else %}
                {{ govukButton({
                text: "Start",
                href: "/form/ratings/extremismRating",
                classes: "govuk-button--start tableButton app-task-list__task-completed"
                }) }}
                <p class="govuk-!-font-weight-bold">Extremism rating</a>
                <p class="govuk-body-s govuk-!-margin-top-2">Not yet checked</p>
              {% endif %}
            </li>
          </ul>
        </li>
        <li>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              {% if data.transport.commute %}
                <a href="/form/ratings/???">Review and categorisation</a>
                <strong class="govuk-tag app-task-list__task-completed" id="review-completed">Completed</strong>
              {% else %}
                {{ govukButton({
                text: "Continue",
                href: "/form/ratings/???",
                classes: "govuk-button--start tableButton app-task-list__task-completed"
                }) }}
                <p class="govuk-!-font-weight-bold">Review and categorisation</a>
                <p class="govuk-body-s govuk-!-margin-top-2">Tasks not yet complete</p>
              {% endif %}
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  </ul>
{% endblock %}
